[2018-04-30 05:35] sagarpreet-chadha opened #1 "Planning Overview"
Plots2 issue :  https://github.com/publiclab/plots2/issues/2486

### Layers to include

* [x] SkyTruth Alerts (https://github.com/publiclab/plots2/2451)
* [x] the Toxic Release Inventory: https://publiclab.org/q/15653
* [ ] WaterReporter.org (uses GeoJSON - http://leafletjs.com/examples/geojson/ , API : http://docs.waterreporter.org/?Javascript#your-first-request)
* [x] MapKnitter maps (https://gi

[2018-04-30 13:24] jywarren commented on #1
Added a couple more layers and then links to APIs and libraries. Great!

[2018-04-30 13:30] jywarren commented on #1
What do you think?

[2018-05-03 06:10] sagarpreet-chadha opened #2 "Add SkyTruth feature ."
More details https://github.com/publiclab/plots2/issues/2427 .

* [x] create a new layer that can be enabled/disabled with http://leafletjs.com/examples/layers-control/
* [x] add a custom icon with http://leafletjs.com/examples/custom-icons/
* [x] make new markers with `L.marker([51.5, -0.09], {icon: greenIcon}).addTo(map).bindPopup("I am a green leaf.");`

Example JSON file for a longitude/latitu

[2018-05-06 22:41] jywarren commented on #1
This is looking awesome btw!

[2018-05-17 10:56] sagarpreet-chadha commented on #2
@jywarren ...kindly see this 😄 . Thanks !

[2018-05-17 14:12] jywarren commented on #2
Oh sorry! This looks great! Thanks!

On Thu, May 17, 2018, 3:57 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-05-22 11:08] sagarpreet-chadha commented on #2
Hey @jywarren !
I have created a **gh-pages** branch and added **node_modules**  folder to it . I do not have the permission to configure the Github Pages .
Can you set the GitHub Pages publishing source to **gh-pages** branch ?
Thanks !

[2018-05-22 11:12] sagarpreet-chadha opened #3 "Add ToxicRelease Layer ."
### Discussion :
 * the Toxic Release Inventory: https://publiclab.org/q/15653

### API link :
*  url: https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/41/rows/0:100/JSON

### Marker (green color) :
* url: http://www.clker.com/cliparts/r/M/L/o/R/i/green-dot.svg',

[2018-05-22 11:34] sagarpreet-chadha opened #4 "Change sample HTML file to a better layout ."
The HTML file currently shows a map only . We need to add more features to it .

- [x]  Options to choose layers  ?
<img width="1024" alt="screen shot 2018-05-22 at 5 03 04 pm" src="https://user-images.githubusercontent.com/14952645/40359944-0813e462-5de2-11e8-8397-4ab5b6497ec0.png">

[2018-05-22 11:47] sagarpreet-chadha opened #5 "Move requiring of common libraries to leafletEnvironmentalLayers.js"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-05-22 17:58] jywarren commented on #4
Agreed! Did you add them to a layers control on plots2? Could we do that
here too?

Great work!!!

On Tue, May 22, 2018, 7:35 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-05-22 18:04] jywarren commented on #2
Actually i think you did it right, you have to add this file when you have a `node_modules` folder for some reason:

https://github.com/publiclab/leaflet-environmental-layers/blob/gh-pages/.nojekyll

Now it works! https://publiclab.github.io/leaflet-environmental-layers/example/mapSimple.html

[2018-05-22 18:05] jywarren commented on #2
This is looking great. I guess we should have some listeners set up at a more complex example (we could put it into `index.html`) that refresh the layers with a new query when you zoom or pan?

[2018-05-22 18:44] sagarpreet-chadha commented on #2
There are listeners 😄 !

See this :            https://github.com/publiclab/leaflet-environmental-layers/blob/b6b9f5027e24a5ace84d82cbaab721349d3157fd/src/skyTruthLayer.js#L33

When the map is zoomed / dragged this listener gets called .

And  this : https://github.com/publiclab/leaflet-environmental-layers/blob/b6b9f5027e24a5ace84d82cbaab721349d3157fd/src/skyTruthLayer.js#L39

Removes the marker

[2018-05-22 19:01] jywarren commented on #2
Oh wow! Maybe it wasn't triggering for the gh-pages demo? Or is it time
bounded and I wasn't seeing latest reports? I tried zooming in but nothing
reloaded. But awesome!!!

On Tue, May 22, 2018, 2:44 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-05-22 19:07] jywarren commented on #4
I guess we should show a layer control in the example but not hard code
that into the library. Just show how it's done, you know?

On Tue, May 22, 2018, 3:03 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-05-24 07:42] sagarpreet-chadha commented on #4
Done !
Working on second module now :)
<img width="825" alt="screen shot 2018-05-24 at 1 06 23 pm" src="https://user-images.githubusercontent.com/14952645/40471245-aa3795fa-5f53-11e8-93e2-194fc948d5f6.png">

[2018-05-24 20:47] sagarpreet-chadha commented on #1
Hi @jywarren !
Kindly have a look at https://publiclab.github.io/leaflet-environmental-layers/example/mapSimple.html .
Completed JusticeMap layer :)
<img width="718" alt="screen shot 2018-05-25 at 2 10 30 am" src="https://user-images.githubusercontent.com/14952645/40512824-9998a360-5fc1-11e8-945e-b2c59024cffe.png">

[2018-05-24 22:15] jywarren commented on #1
Amazing!!! !!!!! So great. I love this.

Just a thought about the SkyTruth alerts -- i think they may be getting truncated? See how they seem to be on a grid - are we losing precision?

![leaflet](https://user-images.githubusercontent.com/24359/40516384-74de164c-5f7e-11e8-9826-6258a0294bed.gif)

Also can we make the demo full window size?

[2018-05-24 22:16] jywarren commented on #1
We may need to think about a more sophisticated UI for turning on/off layers and having explanations for what they are! Let's do this much later though :-)

[2018-05-25 06:50] sagarpreet-chadha commented on #1
The markers are getting removed due to :
https://github.com/publiclab/leaflet-environmental-layers/blob/c4e112f6ae0a2adf2414d6678e61914d29c89106/src/skyTruthLayer.js#L87

I guess i should turn this listener off .
Will make the changes ASAP 👍 !
Thanks 😄 !

[2018-05-25 15:49] sagarpreet-chadha commented on #1
Oh i missed your point earlier ... Yes the markers seems to appear on a grid  .
Will look at it . Thanks !

[2018-05-25 18:26] sagarpreet-chadha commented on #1
Great catch @jywarren 🎉  !!! Yes i was using **parseInt()** to truncate the precision .
Done the changes 🔨  , kindly have a look !

[2018-05-25 18:37] sagarpreet-chadha opened #6 "API link for WaterReporter.org Layer ?"
WaterReporter.org (uses GeoJSON - http://leafletjs.com/examples/geojson/ , API : http://docs.waterreporter.org/?Javascript#your-first-request)

@publiclab/soc , @jywarren ...can someone help me with the API documentation ? Not able to figure out the link to Public API to get data  .

--------------
<img width="571" alt="screen shot 2018-05-26 at 12 04 08 am" src="https://user-images.githubusercont

[2018-05-25 19:40] jywarren commented on #6
I think maybe i documented this in the very old original issue i put up --
was that on plots2? I think i had a gist...

On Fri, May 25, 2018 at 2:37 PM, Sagarpreet Chadha <notifications@github.com

[2018-05-25 19:42] jywarren commented on #6
You could look at their own maps using the Developer Console to see how
they query?

On Fri, May 25, 2018 at 2:37 PM, Sagarpreet Chadha <notifications@github.com

[2018-05-25 19:43] jywarren commented on #6
and you might also email them or leave an issue on their GitHub if they
have one?

On Fri, May 25, 2018 at 3:42 PM, Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-05-26 19:58] sagarpreet-chadha commented on #6
I tried to get the URL from console it seems they are not fetching from any API , the map appears to have a static layer .

Ok , I have mailed them , waiting for their reply .

[2018-05-29 22:29] jywarren commented on #1
works perfectly. Great work and I'm seeing wind data too! :-)))

[2018-06-01 19:42] sagarpreet-chadha commented on #6
I got a reply from them !
Their team is currently busy with Waterkeeper Conference and they will be free after mid-June .
The documentation of their API is not updated and they are happy to help me figure out after mid-June :)

[2018-06-01 19:49] jywarren commented on #6
Fantastic!

On Fri, Jun 1, 2018, 1:42 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-02 07:02] sagarpreet-chadha commented on #3
API link is not working now !

[2018-06-02 07:06] sagarpreet-chadha opened #7 "odor reports Layer"
odor reports via https://odorlog.ushahidi.io/ via Ushahidi API

API : https://odorlog.api.ushahidi.io/api/v3/posts/

* [x] create a new layer that can be enabled/disabled with http://leafletjs.com/examples/layers-control/
* [x] add a custom icon with http://leafletjs.com/examples/custom-icons/

Marker Url : https://www.clker.com/cliparts/T/3/6/T/S/8/ink-splash-md.png

[2018-06-02 15:35] jywarren commented on #7
Awesome! :-)

On Sat, Jun 2, 2018, 1:07 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-02 20:46] sagarpreet-chadha commented on #7
@jywarren  Added this layer also ! Kindly have a look :)
<img width="376" alt="screen shot 2018-06-03 at 2 09 08 am" src="https://user-images.githubusercontent.com/14952645/40880743-ff839806-66d3-11e8-91bd-b3ae14f9a42e.png">

[2018-06-02 20:49] jywarren commented on #7
Oh wow. Shall we merge this and see what the odor logging people say? They'll have suggestions I bet.

[2018-06-02 21:12] sagarpreet-chadha commented on #7
Thanks :)
I have pushed the code to master and gh-pages branch . Should i make a PR first before merging to master branch from now on ?

[2018-06-03 00:09] jywarren commented on #7
Yes, that's good practice to leave a trail others can follow. I sometimes
push directly when I'm just starting a project, but as soon as I'm starting
to think about building a community out, I'll start making PRs to build
conventions -- as an example. Thanks for asking!

On Sat, Jun 2, 2018, 3:12 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-03 00:10] jywarren commented on #7
Do you want to make a research note on publiclab.org and mention @xose to
share what you did?

On Sat, Jun 2, 2018, 6:09 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-06-03 00:10] jywarren commented on #7
You could embed the demo map into the note!

On Sat, Jun 2, 2018, 6:10 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-06-03 15:14] jywarren commented on #3
wait, this one? https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/41/rows/0:100/JSON

It seems to be working for me just now... can you try again?

[2018-06-04 16:50] sagarpreet-chadha commented on #6
I will have a video conference - Water Reporter API Discussion @ Wed Jun 20, 2018 9:30pm - 10:30pm (IST) 😄  .

[2018-06-04 16:51] sagarpreet-chadha commented on #3
Yes it is working now . On it 👍 !

[2018-06-05 09:21] sagarpreet-chadha opened #9 "Change the colors or add images of marker in layer selection menu ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2018-06-08 19:56] sagarpreet-chadha opened #10 "Using Mapknitter API"
Hi @jywarren !

The construction of API for fetching data is solved here : https://github.com/publiclab/mapknitter/issues/251

The corresponding API example is : https://mapknitter.org/map/region/Gulf-Coast.json?minlon=-98.8&minlat=23.6&maxlon=-79.1&maxlat=31.8

We can get the map centers from leaflet library using :
`var center = _map.getCenter() ;`
and Latitude is then `center.lat` and longitude

[2018-06-08 20:27] jywarren commented on #10
I think Leaflet has a bounding box request?

On Fri, Jun 8, 2018 at 3:56 PM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-08 20:44] sagarpreet-chadha commented on #10
So we need NorthEast coordinates and SouthWest coordinated of the Bounding box , right ?
See here : https://leafletjs.com/reference-1.3.0.html#latlngbounds-getnortheast

So ,
NorthEast coordinate = maxlat and maxlon
SouthWest coordinate = minlat and minlon
is this correct @jywarren ?

[2018-06-08 20:45] jywarren commented on #10
i think so - give that a try! We can also swap around a bit if it doesn't
work in all scenarios.

On Fri, Jun 8, 2018 at 4:44 PM, Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-13 07:35] sagarpreet-chadha commented on #7
xose  mentioned some points here  :
https://publiclab.org/notes/sagarpreet/06-06-2018/leaflet-environmental-layer-library#c19806

[2018-06-14 06:53] sagarpreet-chadha commented on #1
Hi @jywarren !
There are 2 PR's for mapknitter and toxicRelease Inventory . Currently working on fastTracker Layer (figuring out the API as of now) . What should we do next ?

[2018-06-14 15:42] jywarren commented on #1
We got an inquiry about PurpleAir air quality sensors. I think Wunderground
has a data layer for air quality -- they may also have higher resolution
wind data. So maybe,

* PurpleAir sensor data?
* Wunderground weather/wind direction data?

Also, we can skim through the Public Lab site for posts about map
databases. Marlokeno may have great ideas:

https://publiclab.org/questions/marlokeno/09-02-2

[2018-06-16 08:06] sagarpreet-chadha opened #14 "PurpleAir Layer"
Part of #1 .

I was reading their API and trying to understand some technical terms (AQI , PM2.5 , etc.) .
Link to API is : https://www.purpleair.com/json?fetchData=true&minimize=true&sensorsActive2=10080&orderby=L

I guess we want to show :

- Label (Name of place)

- PM2.5 value

- Temperature

- Humidity

- Pressure

Then Hardware information that we can show is :

- Type

- Hardware

- Version

[2018-06-16 08:31] sagarpreet-chadha commented on #14
@jywarren ...as PurpleAir API is dynamic (real-time) and the value of API parameters like **PM2.5** keeps changing , but not drastically !
So i was thinking of parsing the API only once and not making additional listener to hit the API after every x unit of time to change the value because the values are not changing drastically , and also because it would make the map's movement slow 🐌 .

What do

[2018-06-16 08:45] sagarpreet-chadha commented on #14
If you will check the map:
 https://www.purpleair.com/map?&zoom=3&detailsshowing=7522&selected=145558|145560|427956|427958&lat=37.702223598035076&lng=8.537079834915971&clustersize=41&orderby=L&latr=64.33028522187323&lngr=253.125

It is parsing 3908 records at a time , right ?
So what would be the best way of parsing data without making the map laggy as there seems to be no provision of putting coo

[2018-06-18 14:38] jywarren commented on #14
Oh wow... very impressive!

Hmm. Let's think about a static version first, and put the accessed timestamp somewhere visible. Then let's open a new issue to think about a dynamic version.

I'm starting to think that some centralized caching mechanism may be an important thing for load time if lots of people use this map at once, esp. for the less stable APIs like the government ones.

Is there a wa

[2018-06-18 14:39] jywarren commented on #14
Also, just to say, this is very very impressive @sagarpreet-chadha !!

Some of these questions like the AQI are appropriate for PublicLab.org as lots of people there probably have opinions!

[2018-06-20 16:32] sagarpreet-chadha commented on #6
I had a Video Conference with John Dawes .
He is so helpful and will whitelist me to use their API in few days 👍 😄  . It was really nice to know him and his organization 💧  .
I took a screenshot of the meeting 💻 😄 .
<img width="1439" alt="screen shot 2018-06-20 at 9 35 27 pm" src="https://user-images.githubusercontent.com/14952645/41671505-ef045aa6-74d4-11e8-9fd5-fc3d74f99fe2.png">

[2018-06-20 16:35] SidharthBansal commented on #6
Awesome @sagarpreet-chadha

[2018-06-20 18:58] jywarren commented on #6
oh this is wonderful! Chime in on the weekly check-in, this is very cool to
see!

On Wed, Jun 20, 2018 at 12:36 PM Sidharth Bansal <notifications@github.com>
wrote:

[2018-06-22 08:48] sagarpreet-chadha commented on #1
mapknitter layer and ToxicRelease Layer pushed to gh-pages branch .

[2018-06-26 08:40] sagarpreet-chadha opened #16 "Fractracker Layer"
This map shows the location of organizations working on oil & gas issues in the US and internationally.
http://ft.maps.arcgis.com/apps/Embed/index.html?appid=8defce10bdc64a35ae4fd3997edd2b1e

The data set of this map is here :
https://docs.google.com/spreadsheets/d/19j4AQmjWuELuzn1GIn0TFRcK42HjdHF_fsIa8jtM1yw/pub?gid=288258812&single=true&output=csv

🛢 🛢

[2018-06-26 08:41] sagarpreet-chadha commented on #16
@jywarren ...how can we show CSV data onto our map ?

[2018-06-26 08:52] sagarpreet-chadha commented on #16
I converted CSV to JSON and uploaded it to my github for now .
Here : https://sagarpreet-chadha.github.io/FractrackerCSV.json

[2018-06-26 11:02] sagarpreet-chadha commented on #1
@jywarren
Wunderground API shows same data as OpenWeatherMap API .
What do you think ?

This is the current OpenWeatherMap Layer we have :
Solved in this commit : f38d59419c4e88af855ec2172c1b5b44192a8be3
(Did not made a separate PR for this Layer ! )

<img width="1162" alt="screen shot 2018-06-26 at 4 28 45 pm" src="https://user-images.githubusercontent.com/14952645/41907381-4d59cb6c-795e-11e8-8b9

[2018-06-26 13:44] jywarren commented on #1
OK, sounds good. I was just wondering if there's any higher resolution wind
data out there, but that sounds fine!

On Tue, Jun 26, 2018 at 7:03 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-26 13:47] jywarren commented on #16
I think it may have to be parsed each time we fetch it, unless there's a
Leaflet CSV library?

On Tue, Jun 26, 2018 at 4:53 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-06-27 13:51] jywarren opened #18 "Initial demo on MapKnitter.org"
Hi, @sagarpreet-chadha -- what do you think of doing an initial installation to demonstrate the library, on MapKnitter.org's front page? It could be something like this:

![image](https://user-images.githubusercontent.com/24359/41978311-91ea4e78-79ef-11e8-9a0d-e4345a1c4035.png)

(via this mockup you can play with: https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/

[2018-06-27 15:30] sagarpreet-chadha commented on #14
I have got response on my question on publiclab.org , it seems it is better to use PM2.5 value .
Submitting a patch for the same .

[2018-06-27 15:31] jywarren commented on #18
Yep!

On Jun 27, 2018 11:27 AM, "Sagarpreet Chadha" <notifications@github.com>
wrote:

Yes i would love to !

If i am getting this right , we can do this only after we publish the
library to *npm* , right ?
I will install mapknitter 2 on my laptop properly tomorrow .

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/publi

[2018-07-01 06:40] #5 closed

[2018-07-01 06:45] sagarpreet-chadha opened #21 "Bring Base Layers option to bottom of the list ."
We have now 4 base Layers to choose from ---

We need to figure out a way to bring Over Lay layers options to top of the list .

Current scenario :

<img width="186" alt="screen shot 2018-07-01 at 12 13 54 pm" src="https://user-images.githubusercontent.com/14952645/42131800-4862dc5c-7d28-11e8-8165-e3cb7bafbbd1.png">

[2018-07-01 07:12] sagarpreet-chadha commented on #1
@jywarren ...to get data from **epa** site , we have to contact them .

ALSO we can show Power , Telecom , Petroleum , Water layers from https://openinframap.org/#4/46.68/-87.98/Water

What do you think ?

[2018-07-01 07:14] sagarpreet-chadha commented on #18
@jywarren ...when can we put this library to **npm**  ?

[2018-07-01 12:07] jywarren commented on #1
Hi, which EPA site and which API? The EPA is not a good agency right now,
with the current leadership, so we will not likely get cooperation. But
there are other organizations "mirroring" EPA data that we may be able to
rely on.

On Sun, Jul 1, 2018, 3:13 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-01 12:08] jywarren commented on #1
Openinframap sounds interesting! Where does their data come from?

On Sun, Jul 1, 2018, 8:07 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-07-01 16:58] sagarpreet-chadha commented on #1
Its part of https://www.openstreetmap.org .....hence data is crowdsourced .

_By and large, this data isn't exposed on the main OSM map, so I built Open Infrastructure Map to visualise it._
Source : https://openinframap.org/about.html

[2018-07-01 17:09] jywarren commented on #1
Wow, ok! Let's do it!

On Sun, Jul 1, 2018, 12:59 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-01 17:10] jywarren commented on #1
Great find and great idea! Maybe we should ping @numeroteca on
PublicLab.org for more data like this because he's into tracking
landfills...

On Sun, Jul 1, 2018, 1:09 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2018-07-01 17:17] sagarpreet-chadha commented on #1
I was reading about EPA and it makes sense that we will not get any help from them .
I have searched for sites that mirror the data but couldn't find any that we can use .

Thanks !  Asking on Publiclab.org .

[2018-07-01 17:26] sagarpreet-chadha opened #22 "OpeninfraMap Layer"
Link to demo map : https://openinframap.org/#4/31.99/-40.91/Power-Telecoms

- [x] Layers to add :

<img width="123" alt="screen shot 2018-07-01 at 10 55 41 pm" src="https://user-images.githubusercontent.com/14952645/42136962-ee45f0ba-7d81-11e8-906a-f4bb8fbc2cb9.png">

- [x]  Credit to OpenStreetMap

[2018-07-03 08:37] sagarpreet-chadha commented on #22
PR #23

[2018-07-03 08:38] sagarpreet-chadha commented on #2
Completed in 4744ba246061ebd44ad8918e542564fbf42ee93f .

[2018-07-03 08:38] #2 closed

[2018-07-03 08:40] sagarpreet-chadha opened #24 "ADD Justice Map Layers of community in US ."
Link : http://www.justicemap.org/

[2018-07-03 08:40] sagarpreet-chadha commented on #24
Completed in 9758a46b30fb6aae014b42c3e214a005b68aa53b .

[2018-07-03 08:40] #24 closed

[2018-07-03 08:42] sagarpreet-chadha opened #25 "Add OpenWeather Map LAYER ."
API : https://openweathermap.org/api

Layers to add :

<img width="174" alt="screen shot 2018-07-03 at 2 12 05 pm" src="https://user-images.githubusercontent.com/14952645/42208955-18927768-7ecb-11e8-8981-632f1c35e1f4.png">

[2018-07-03 08:42] sagarpreet-chadha commented on #25
Completed in f38d59419c4e88af855ec2172c1b5b44192a8be3 .

[2018-07-03 08:42] #25 closed

[2018-07-03 08:43] sagarpreet-chadha commented on #24
Layers added :

<img width="179" alt="screen shot 2018-07-03 at 2 13 12 pm" src="https://user-images.githubusercontent.com/14952645/42209026-3fe67134-7ecb-11e8-8f03-d7b2605f0400.png">

[2018-07-03 08:44] sagarpreet-chadha commented on #7
Completed in b5fd8fdbf388e059686ec5e962d89f382a4d85e6 .

[2018-07-03 08:44] #7 closed

[2018-07-03 08:45] sagarpreet-chadha commented on #3
Completed in 9552bf92ee6eae1f1f57d1f94237b66058fd2199 .

[2018-07-03 08:45] #3 closed

[2018-07-03 08:46] sagarpreet-chadha commented on #10
PR #13 .

[2018-07-03 08:46] #10 closed

[2018-07-03 08:47] sagarpreet-chadha commented on #3
PR #8 .

[2018-07-03 08:48] sagarpreet-chadha commented on #16
Solved in #17 .

[2018-07-03 08:48] #16 closed

[2018-07-03 08:49] sagarpreet-chadha commented on #14
PR #15 AND #19 .

[2018-07-03 08:50] sagarpreet-chadha commented on #4
Completed in f430d7ae2709bb14454276294230b8ef92c4e3f1 .

[2018-07-03 08:50] #4 closed

[2018-07-03 09:28] sagarpreet-chadha opened #26 "Add Leaflet Hash"
Adding https://github.com/mlevans/leaflet-hash to the library .

[2018-07-03 13:44] jywarren commented on #4
did you find a moment to change it to index.html? Thanks!

On Tue, Jul 3, 2018 at 4:51 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-03 14:03] sagarpreet-chadha commented on #4
Sorry ! I missed that ...done now 👍

[2018-07-03 16:09] jywarren commented on #18
I'll look at this now!

[2018-07-03 16:14] jywarren commented on #18
OK, i just published it!

http://npmjs.com/package/leaflet-environmental-layers

1.0 - i dont know if it takes a few minutes to appear...

[2018-07-03 16:19] jywarren commented on #18
ah ok its working!!! 🎉

[2018-07-03 16:34] sagarpreet-chadha commented on #18
🎉

[2018-07-06 16:15] dewanhimanshu commented on #21
can you assign this issue to me

[2018-07-07 06:01] sagarpreet-chadha commented on #26
Merged #27 .

[2018-07-07 06:01] #26 closed

[2018-07-07 06:02] sagarpreet-chadha commented on #22
Merged #23 .

[2018-07-07 06:02] #22 closed

[2018-07-07 06:03] sagarpreet-chadha commented on #14
Merged #15 and #19 .

[2018-07-07 06:03] #14 closed

[2018-07-07 06:07] sagarpreet-chadha commented on #21
Solved by @dewanhimanshu in PR #29 .

[2018-07-07 06:07] #21 closed

[2018-07-11 05:46] sagarpreet-chadha opened #30 "Show questions asked on publiclab.org on map"

[2018-07-11 15:24] jywarren commented on #30
awesome!!!

On Wed, Jul 11, 2018 at 1:46 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-11 18:57] jywarren commented on #1
Hi, @sagarpreet-chadha there seems to be some code samples here for the first EPA dataset: https://www.epa.gov/waterdata/navigation-delineation-service for watersheds... take a look?

[2018-07-11 18:59] jywarren commented on #1
Ah, i'll share over here: https://publiclab.org/questions/sagarpreet/07-01-2018/what-more-data-layers-can-we-show-on-map

[2018-07-12 17:15] sagarpreet-chadha commented on #1
Okay great ! Looking at the code samples 👍 .

[2018-07-12 17:54] sagarpreet-chadha commented on #30
Hi @jywarren ...do we have an API to get questions with **tag = map ? or leaflet ? or layer ?** and have **lat/lon** tags ?

[2018-07-12 17:56] jywarren commented on #30
I think so - @stefannibrasil may know more about this!

On Thu, Jul 12, 2018 at 1:54 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-12 23:52] stefannibrasil commented on #30
Hi, everyone!

yeah, can you try using this?

`https://publiclab.org/api/srch/taglocations?srchString=lat,lon&tagName=tag`

[2018-07-13 20:07] jywarren opened #32 "ability to generate a report via a modal form that includes the current map view"
People often want to annotate a location with some text, for example if it's a pollution site. We should make something that opens a form you can add text to, and has a configurable function to submit it to a remote URL!

This could be partially broken out as a separate leaflet-form library at some point...

Good reference here - https://publiclab.org/notes/warren/09-20-2017/compile-screenshots-an

[2018-07-13 20:08] jywarren opened #33 "ability to generate permalink with url hash of currently enabled layers"
This could be long, so not displayed as a default but via a link icon maybe?

[2018-07-15 06:43] sagarpreet-chadha commented on #32
Hi @jywarren

Can you elaborate these points :
1.) Form or something like that should open on map and then we add some text and automatically take latitude and longitude , AND the layers currently selected , right ?
2.) And which remote URL should we use ?
3.) And where to use this information collected ?

Thanks !

[2018-07-17 16:25] jywarren commented on #32
I think we should think about a default URL where it could submit - maybe
to publiclab.org/post?title=_____&body=______&tags=_____ for starters? But
think about it as a general purpose form.

Does that make sense?

On Sun, Jul 15, 2018 at 2:44 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-17 18:21] sagarpreet-chadha commented on #32
Okay makes sense .

Can you help me break this issue into steps ?

[2018-07-17 19:12] jywarren commented on #32
Yeah - perhaps the first thing would be to make a listener and a button,
where the button can be pressed to run a given function where:

function onFormOpen(parameters) {

and then run a second on:

function onFormSubmit(parameters) {

so that you can access parameters.location.latitude,
parameters.location.longitude,
and parameters.location.layers, maybe?

So before all that, maybe some general p

[2018-07-19 07:44] sagarpreet-chadha opened #36 "Add air-monitoring Layer"
Website : http://www.dem.ri.gov/programs/air/air-monitoring.php

More details on this page : https://publiclab.org/notes/jiteovien/07-18-2018/calibrating-low-cost-air-quality-sensor-1-2#comments

[2018-07-19 18:21] sagarpreet-chadha commented on #32
Hi @jywarren ...should we write this code in plots2 after we integrate leaflet-environmental-layers ? or inside `<script>` tag in _index.html_ for now ?

[2018-07-19 21:55] jywarren commented on #32
Let's start by writing it into leaflet-environmental-layers, because
perhaps other people will want to integrate such a function into their own
pages. We can provide template HTML to make this work, but make it flexible
enough to adapt to other websites too. What do you think?

On Thu, Jul 19, 2018 at 2:21 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-07-30 15:29] sagarpreet-chadha opened #37 "Make option to over-ride the size of markers ."
More details 🔜 !

[2018-08-01 20:18] jywarren opened #41 "Overload with PurpleAir layer when viewing whole world?"
I wonder if this is just a too-much-data thing, but pressing the PurpleAir layer at MapKnitter.org seems to stall out the browser -- @sagarpreet-chadha any thoughts?

[2018-08-01 20:29] jywarren opened #42 "link recognition on OpenStreetMap based layer items"
Initial issue RESOLVED -- see below:

~Is there any way to display clickable markers from the infrastructure maps -- i wonder if there's metadata like a URL provided in OpenStreetMap or anything? Like, to be able to look up the website for a power plant or pipeline...~

This already works!

![image](https://user-images.githubusercontent.com/24359/53054948-f1351680-345a-11e9-980d-d6350143a60d.png)

[2018-08-01 20:30] jywarren commented on #33
@sagarpreet-chadha what do you think of this one? Maybe we could just use a unique index like 0,1,2 for layers...

[2018-08-01 20:31] jywarren commented on #33
So then `url.com/#l=1,4,5,6`

[2018-08-02 17:35] sagarpreet-chadha commented on #41
Yes the only reason is because of conversion of so many data points to Leaflet-markers .
Although the map becomes little bit laggy with no affect on performance of website on my macbook , but i can understand the scenario in less powerful laptops .

I guess we can for now switch-off the listeners for map panning/zooming and  fetch the data (lots of data!) ONCE .

What do you think ?

[2018-08-02 18:06] jywarren opened #43 "error on TRI map layer?"
[code]

https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/29/PREF_LONGITUDE/BEGINNING/95/rows/0:300/JSON

from https://publiclab.org/maps

[2018-08-02 18:13] sagarpreet-chadha commented on #43
How do i reproduce ?
Seems to be working for me :

<img width="1172" alt="screen shot 2018-08-02 at 11 41 39 pm" src="https://user-images.githubusercontent.com/14952645/43602487-ac14a0de-96ad-11e8-81e1-c4c3eaf1ef09.png">

[2018-08-02 18:16] jywarren commented on #41
Or what about potentially only displaying this when you zoom in past a
certain level?

On Thu, Aug 2, 2018 at 1:35 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-02 18:18] jywarren commented on #43
hmm, i was zoomed in to the city of Houston... maybe it fails as you zoom
in?

On Thu, Aug 2, 2018 at 2:13 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-02 18:40] sagarpreet-chadha commented on #33
Hi !
Leaflet-Hash do not support active layers in url . (Although many people want this !)
 So this is kind of tricky as i may have to extend the Leaflet-Hash library functionality .

I am thinking of writing the code not as apart of library's functionality , (Maybe we can make a separate library later on) AND writing the JS code in `index.html` for now .

Steps :
1.) Getting the url from browser

[2018-08-02 18:53] jywarren commented on #33
would this be able to not interfere with leaflet-hash? If that's simpler,
maybe it could make a good first step towards a more integrated (with
leaflet-hash) solution, what do you think?

On Thu, Aug 2, 2018 at 2:41 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-02 20:45] jywarren opened #44 "Caching of requests... somewhere? Since this will be hitting many APIs quite hard."
I don't know any good answers here, but wondering about some kind of proxy, or something? Just want to raise this as a potential issue.

[2018-08-04 08:00] sagarpreet-chadha commented on #44
Hi @jywarren .
I am making list of API's with their per minute request count .

[2018-08-04 15:12] jywarren commented on #44
Great!!!!! Super good approach.

On Sat, Aug 4, 2018, 4:00 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-04 15:51] jywarren opened #45 "Links in some layer bubbles not clickable"
Actually @sagarpreet-chadha  could you update the gh-pages branch so we can test things there too? But I found this was the case for some -- i think SkyTruth but maybe other layers too?

Thanks!!!

[2018-08-06 13:01] sagarpreet-chadha commented on #45
Hi !
Updated the branch `gh-pages` . Kindly have a look :
https://publiclab.github.io/leaflet-environmental-layers/example/index.html#3/43.00/-46.23

[2018-08-06 13:09] sagarpreet-chadha commented on #44
Hi !
The only API i guess that will need immediate attention will be of OpenWeatherMap.org  .
They have limit of 60 rpm . We can contact them at info@openweathermap.org .

@ebarry , @jywarren .

[2018-08-06 13:39] jywarren commented on #45
Thanks! Yes, it doesn't seem clickable -- so maybe we should make the title into a clickable link, rather than print the link below it:

![image](https://user-images.githubusercontent.com/24359/43719754-8f97580a-995c-11e8-8a24-3d20b5f96113.png)

What do you think?

[2018-08-06 13:43] sagarpreet-chadha commented on #45
Makes sense . Doing the change now .

On Mon, 6 Aug 2018, 19:09 Jeffrey Warren, <notifications@github.com> wrote:

[2018-08-06 13:59] jywarren commented on #44
oh cool - do you want to paste in the other rate limits here?

On Mon, Aug 6, 2018 at 9:10 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-08-07 13:42] jywarren opened #46 "CORS error on TRI map on PublicLab.org/maps"
I think we can modify our request to not trigger this error:

[code]

https://publiclab.org/maps#12/41.8236/-71.4153

[2018-08-07 13:45] jywarren commented on #46
What's weird is that it seems like some requests go through:

![screen shot 2018-08-07 at 9 45 00 am](https://user-images.githubusercontent.com/24359/43779523-9880d246-9a26-11e8-8b10-d225f3ef587f.png)

There's a bit on jQuery and CORS here:

[2018-08-07 14:05] jywarren commented on #46
Actually i think the 503s may be:

[code]

[2018-08-07 18:15] #45 closed

[2018-08-07 19:04] sagarpreet-chadha commented on #18
@jywarren...should we close this issue now ?

[2018-08-28 15:22] jywarren opened #49 "Air quality layer via aqicn.org"
http://aqicn.org/here/ has some great data, but also their break-out page for each station is really good:

http://aqicn.org/city/usa/rhode-island/near-road/

![image](https://user-images.githubusercontent.com/24359/44732993-9bd40a00-aab4-11e8-858a-ea4694da541a.png)

[2018-09-04 17:20] jywarren opened #50 "Landfill, mine/quarry map data via OpenStreetMap"
I found that there is a `landuse=landfill` tag, from https://wiki.openstreetmap.org/wiki/Map_Features

Using that, I made a query on this page: http://harrywood.co.uk/maps/uixapi/xapi.html

http://www.overpass-api.de/api/xapi?*[landuse=landfill][bbox=-118.66693,34.41951,-118.57801,34.46906]

Note this can only be used for very zoomed-in areas, so not for a view of a whole continent or country.

It

[2018-09-11 20:27] jywarren commented on #43
I believe there's a bug where it only loads data for the center of the map, for one integer latitude/longitude pair:

https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/44/PREF_LONGITUDE/BEGINNING/90/rows/0:300/JSON

See green dots for this map: https://publiclab.org/maps/#8/44.637/-90.516

![screen shot 2018-09-11 at 4 26 49 pm](https://user-images.githubusercontent.com/

[2018-09-29 03:19] ebarry opened #51 "API for indigenous lands"
Covering Canada primarily, and most of the rest of North America. Some of Central and South America

https://native-land.ca/api-docs/

[2018-10-02 16:07] Rishabh570 commented on #9
@sagarpreet-chadha I would like to work on this issue

[2018-10-03 06:01] sagarpreet-chadha opened #53 "Documenting API request limit of various API's used ."
This library is using many API's . The link of API's can be found from the respective JS file :

[2018-10-03 19:09] #9 closed

[2018-10-04 19:39] jywarren commented on #51
@sagarpreet-chadha did you want to link to a single PR where you added a new layer, so it can be an example for newcomers to add layers?

[2018-10-05 11:32] sagarpreet-chadha commented on #53
Yes that would be great !!!

[2018-10-05 18:06] YashishDua commented on #53
Alright, on it then.

[2018-10-05 18:26] sagarpreet-chadha opened #55 "Make new layer using API for indigenous lands ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We have many layers implemented on this library , see this demo here :
https://publiclab.github.io/leaflet-environmental-layers/example/index.html#3/43.00/-46.23

Lets add a new laye

[2018-10-05 18:28] sagarpreet-chadha commented on #51
Yes done and added comments in the merged PR as well 😄  .
Opened new  issue here https://github.com/publiclab/leaflet-environmental-layers/issues/55 .

[2018-10-05 18:33] sagarpreet-chadha opened #56 "Add new layer : Landfill, mine/quarry map data via OpenStreetMap"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We have many layers implemented on this library , see this demo here :
https://publiclab.github.io/leaflet-environmental-layers/example/index.html#3/43.00/-46.23

Lets add a new laye

[2018-10-05 18:35] sagarpreet-chadha opened #57 "Add new layer : Air quality layer via aqicn.org"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

We have many layers implemented on this library , see this demo here :
https://publiclab.github.io/leaflet-environmental-layers/example/index.html#3/43.00/-46.23

Lets add a new laye

[2018-10-07 04:14] sk9331657 commented on #53
@sagarpreet-chadha  Can I take up this issue??

[2018-10-07 05:03] YashishDua commented on #53
@sk9331657 I am already working on this.

[2018-10-08 19:15] jywarren commented on #51
Amazing!

On Fri, Oct 5, 2018, 2:29 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-10-09 11:37] ebarry commented on #51
Woohoo!!!!!

On Mon, Oct 8, 2018, 3:15 PM Jeffrey Warren <notifications@github.com>
wrote:

[2018-10-11 02:16] jywarren opened #58 "Add layer: opensensemap.org"
Just adding this quickly!!

[2018-10-11 02:19] jywarren opened #59 "Sketch design ideas for layer browser"
@sagarpreet-chadha could we create a multi-use task for GCI to sketch UI designs (mockups, drawings, wireframes) for how people could browse and toggle all the layers, read about them, etc?

[2018-10-12 06:40] sagarpreet-chadha opened #60 "(Mock-up) Make a drawing showing ways to toggle layers"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

_Only use of imagination and creativity required !_

### Issue :

This library uses a button to change layers :
<img width="860" alt="screens

[2018-10-12 06:45] sagarpreet-chadha opened #61 "(Mock-up) Make a wireframe showing easy way for toggling layers ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

We can use any of these to solve this issue :

1.) wireframe tools (like https://moqups.com/ )
2.) Photoshop
3.) Paint
4.) Any other wirefram

[2018-10-12 06:47] sagarpreet-chadha commented on #60
Possible ideas (open to other solutions as well 😄 ):

- side menu ?
- scrollable bar (with slideshow type of buttons) ?

[2018-10-12 06:47] sagarpreet-chadha commented on #61
Possible ideas (open to other solutions as well 😄 ):

- side menu ?
- scrollable bar (with slideshow type of buttons) ?

[2018-10-12 06:55] jywarren commented on #60
Love this!!!!!

On Fri, Oct 12, 2018, 2:47 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-10-12 06:56] sagarpreet-chadha opened #62 "(Mock-up) Make Drawings showing way to tell people about Layers button ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

_Only use of imagination and creativity required !_

### Issue :

This library uses a button to change layers :
<img width="860" alt="screens

[2018-10-12 06:59] sagarpreet-chadha opened #63 "(Mock-up) Make WIREFRAME showing way to tell people about Layers button ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

We can use any of these to solve this issue :

1.) wireframe tools (like https://moqups.com/ )
2.) Photoshop
3.) Paint
4.) Any other wirefram

[2018-10-12 07:02] sagarpreet-chadha commented on #62
Possible solutions (open to new solutions as well) :
-  pop-up screen  ?
- something on map ?
- text written below each map on publiclab.org .
- some animation ?

[2018-10-12 07:02] sagarpreet-chadha commented on #63
Possible solutions (open to new solutions as well) :
-  pop-up screen  ?
- something on map ?
- text written below each map on publiclab.org .
- some animation ?

[2018-10-12 07:16] sagarpreet-chadha opened #64 "(Mock-up) Make Drawings showing way to tell people about a particular Layer ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

_Only use of imagination and creativity required !_

### Issue :

This library uses a button to change layers :
<img width="860" alt="screens

[2018-10-12 07:17] sagarpreet-chadha opened #65 "(Mock-up) Make WIREFRAME showing way to tell people about a particular Layer ."
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

### Prequistes for solving this issue :

We can use any of these to solve this issue :

1.) wireframe tools (like https://moqups.com/ )
2.) Photoshop
3.) Paint
4.) Any other wirefram

[2018-10-12 07:19] sagarpreet-chadha commented on #64
Possible Solutions/ideas (open to new solutions as well 😄 ) :

- a shadow screen on map (an almost transparent type of screen just above map showing details)
- pop-up screen ? on the map itself ?
- open new tab on the browser ?

[2018-10-22 20:20] jywarren commented on #60
Should we mark related ones, so for example the DRAWING ones should link back to the WIREFRAME ones to be completed first?

[2018-10-22 20:28] jywarren commented on #30
Hmm, this may not be right anymore - i think it was changed to:

https://publiclab.org/api/srch/taglocations?query=lat,lon&tagName=tag

However, we want to show all tagged with `question:*` -- is this possible, @stefannibrasil ? or is there another relatively easy way to get only questions?

Thank you!

[2018-10-22 20:28] #51 closed

[2018-10-22 20:29] jywarren commented on #53
Hi, just checking if you've gotten stuck on this at all, or if I could help in any way? Thanks!

[2018-10-22 20:29] jywarren commented on #53
This issue may be used by multiple people - please paste in your research into limits into this thread! There are several APIs to look into so we can share the task :-)

[2018-10-22 20:33] SidharthBansal commented on #53
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:35] SidharthBansal commented on #55
This task is published on GCI dashboard. Thanks all.

[2018-10-22 20:39] jywarren commented on #65
This was added to the GCI dashboard!

[2018-10-22 20:39] jywarren commented on #64
This was added to the GCI dashboard!

[2018-10-22 20:39] jywarren commented on #63
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #62
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #61
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #60
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #57
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #56
This was added to the GCI dashboard!

[2018-10-22 20:40] jywarren commented on #55
:-) go to sleep!

[2018-10-22 20:40] jywarren commented on #30
This was added to the GCI dashboard!

[2018-10-23 17:37] jywarren opened #68 "FracTracker csv seems broken?"
I'm seeing an error on https://publiclab.org/maps, when i turn it on:

[code]

This also occurs here: https://publiclab.github.io/leaflet-environmental-layers/example/index.html#14/41.8720/-87.6378

Do you know why? Also, is this based from a static file and could we start to source it from some kind of dynamic source?

Is it static because we need to parse a CSV?

Thank you!!

The source seems to

[2018-10-23 17:56] sagarpreet-chadha commented on #68
Hi @jywarren !
Its because of this - http in url of image instead of https .
https://github.com/publiclab/leaflet-environmental-layers/blob/640fd942d7235ee93f7f25e5dbd32e3ff24d6857/src/fractracker.js#L3

Doing the changes now 👍 .

Yes the source was CSV --- hence i had converted it to JSON and hosted on github pages .

[2018-10-23 18:01] sagarpreet-chadha commented on #68
And if one is using any **ad-blocker** then currently the markers might not appear due to http in url .

[2018-10-23 18:34] #68 closed

[2018-10-23 19:02] jywarren commented on #68
ah, ok, thanks. But is the original CSV source dynamically generated? I
think we can come up with a parser to directly read it, as well, so that as
new data is published on their API, we can fetch it too!

Can you link us back to the original issue where this API is documented?
Thanks!

On Tue, Oct 23, 2018 at 1:58 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-10-23 21:57] jywarren opened #71 "Test suite"
We should develop a test suite to ensure that layers may be turned on and off without errors

In theory we can expand it to actually ping remote servers? Then if an API changes it'll fail? Just an idea!

[2018-10-25 21:48] jywarren opened #72 "Show small spinner while new layers are loading"
... in upper left corner of map?

This is just a UI idea because some layers are slow, so it could be useful. Alternatively we could show a spinner next to their checkboxes, and that might be easier!

[2018-10-30 16:33] jywarren opened #73 "Make FracTracker layer live-loading by parsing CSV"
The FracTracker layer is currently static, because we need to parse a CSV into JSON. I think we can do that in code, dynamically.

The source is here: https://github.com/publiclab/leaflet-environmental-layers/blob/master/src/fractracker.js

This map shows the location of organizations working on oil & gas issues in the US and internationally.
http://ft.maps.arcgis.com/apps/Embed/index.html?appid=8

[2018-10-30 16:36] jywarren commented on #73
(accidentally mentioned @sagarpreet-chadha as I was typing this, so this may be interesting to you but I didn't mean to make a request yet! 😄 )

[2018-10-30 16:51] jywarren opened #74 "Add additional FracTracker layers"
These seem to be static layers available in .zip files;

https://www.fractracker.org/map/national/us-oil-gas/

They are organized by year:

1. Map last updated: Fall 2016: https://s3-us-west-2.amazonaws.com/downloads.fractracker.org/US_WellsFacilities2016.zip
2. Map last updated: August 2015: https://github.com/FracTrackerAlliance/National2015/archive/master.zip - National oil and gas well file (e

[2018-10-30 16:59] jywarren opened #75 "Add National Emissions Inventory data layer"
https://www.epa.gov/air-emissions-inventories/2014-national-emissions-inventory-nei-data

That's 2014 -- there are more years here: https://www.epa.gov/air-emissions-inventories/national-emissions-inventory-nei

Just the point sources are interesting, and there's a lot more too, in Excel `.xlsx` files:

* Expected Pollutant List for Point SCCs (xlsx)(1 pg, 151 K)
* 2014 Priority Facility (xlsx)(1

[2018-10-30 17:09] jywarren commented on #75
Or could be reflected in the TRI?

[2018-11-01 02:32] kevinzluo commented on #55
@jywarren @SidharthBansal
Hello

I am currently working on this task for GCI and have encountered a difficulty.
Whenever I try to get the data from the link I encounter a Cross Origin Resource Sharing Blocked message in the console. Could you advise me on how to circumvent this? Only the native-land link is giving this error, while the other layers that have already been implemented pass right thr

[2018-11-01 07:19] sagarpreet-chadha commented on #55
@jywarren - do you some people from Native Land ?

I verified and we are getting CORS blocked error 👍 .
I have messaged them on their website and also on facebook . Lets wait for their reply .

@kevinzluo --- can you open a Pull Request of the code you have done till now ?
Thanks 😄 🎈  !

[2018-11-02 04:32] kevinzluo commented on #55
@jywarren @sagarpreet-chadha
Hello. I have implemented a Languages Layer now in PR #76 . I am still unable to fetch data using the API. There are also territories and treaties data that I can make 2 other layers for. Would you like me to continue them on the same PR or to make 2 new ones? Thank you.

[2018-11-09 00:38] #55 closed

[2018-11-14 01:53] nonas-hunter commented on #30
Hi, I am a GCI participant.

I have been trying to solve this issue, but I have been having a hard time accessing the api.

I haven't touched the mapping part yet... I am just trying to query the information from the API. But I can not seem to have it return any questions. When search:

`https://publiclab.org/api/srch/taglocations?query=18.00,-66.00`

Nothing shows up, even if I change the numbers

[2018-11-14 15:00] jywarren commented on #41
This idea of only loading when you zoom in far enough is good for a number of bugs, i think!

[2018-11-14 18:48] sagarpreet-chadha commented on #41
Got reply from PurpleAir team :

The simplest way to download the data is using the download page available at https://www.purpleair.com/sensorlist. This page provides an easy to use interface to download data based on a date range.

- Find and mark the sensor/s in the list you want to download - use CTRL + F to quickly search by sensor name. 
- Return to the top of the page and enter the desired

[2018-11-14 19:07] jywarren commented on #41
Hmm, this seems like it'd be for a "Click to download data" link in a
pop-up, but we're hoping to display only data within a bounding box, and
just only trigger a request when the user is zoomed in far enough that the
bounding box isn't too gigantic (like, the whole world at once).

Or, if they have a way to limit the returned results so it doesn't
overwhelm their servers, we could show a subset w

[2018-11-14 19:49] sagarpreet-chadha commented on #41
Great ! Got this API link : https://www.purpleair.com/data.json?fetch=true&nwlat=74.54157336289654&selat=-53.01874782140474&nwlng=-265.5250000000093&selng=240.72500000005903

So now we can give bounding rectangle coordinates and also set some zoom level --- above which only we will fetch data .

Thanks 😄 !

[2018-11-14 20:33] jywarren commented on #41
ah awesome. great work!

On Wed, Nov 14, 2018 at 2:50 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-15 00:33] jywarren commented on #30
Hmm, we may have just changed this according to https://github.com/publiclab/plots2/pull/3700 -- let's see!

[2018-11-15 00:41] jywarren commented on #30
Hmm, i'm also not seeing anything for https://publiclab.org/api/srch/taglocations?query=42.00,-71.00&tag=balloon-mapping ... looking...

@milaaraujo do you know why this might not be returning results? Thank you!

[2018-11-15 00:43] jywarren commented on #30
This test is supposed to demonstrate this API call functioning:

https://github.com/publiclab/plots2/blob/c97968aa6bce38dbb2d66548ee05cae0dc4cdc23/test/functional/api/search_api_test.rb#L101-L119

[2018-11-15 02:59] nonas-hunter commented on #30
I tried doing a test of the API myself (queried the API with the same command as used in the test file) and I am not getting any result despite the test saying that it is supposed to give a result.

This is the command I ran: `https://publiclab.org/api/srch/taglocations?query=71.00,52.00`
This is the data the test queries: `/api/srch/taglocations?query=71.00,52.00`

Am I doing something wrong? How

[2018-11-15 05:38] milaaraujo commented on #30
@nonas-hunter, the test is using data from `plots2/test/fixtures/`, so by calling  `https://publiclab.org/api/srch/taglocations?query=71.00,52.00` you will not retrieve the same example.

@jywarren, I think the problem here is the range of the search... For example, I have this question [here](https://publiclab.org/questions/milaaraujo/09-12-2018/search-page-comparing-search-modes) with 'lat:1.010

[2018-11-15 06:02] milaaraujo commented on #30
And it is not possible to search with the wildcard, for example: "tag=question:*".

[2018-11-15 06:50] sagarpreet-chadha commented on #30
I guess we should make a new API to get :
* all the questions
* in url we will have 2 coordinates [Lat/Lng pair] --- diagonally opposite like NW coordinates and SE coordinate .

Similar to this : https://www.purpleair.com/data.json?fetchData=true&minimize=true&sensorsActive2=10080&orderby=L&nwlat=71.01695975726373&selat=4.390228926463396&nwlng=-172.79296875&selng=80.33203125

[2018-11-15 07:45] sagarpreet-chadha commented on #72
Working on this !

[2018-11-15 12:55] sagarpreet-chadha commented on #72
GIF :

**Spinner at the center** 😄 !

![spinner_gif](https://user-images.githubusercontent.com/14952645/48554168-a8257180-e903-11e8-8e90-074774206830.gif)

[2018-11-15 18:52] milaaraujo commented on #30
@sagarpreet-chadha, do you mean a new endpoint in the search API? Or a new API?

[2018-11-15 19:04] jywarren commented on #30
Perhaps we could modify this one in stages. If 4 coordinates are offered,
it could do bounding box, instead of "nearby".

If no coordinates are offered, it could just show all questions
(sorted/filtered by time, say).

What do you think?

On Thu, Nov 15, 2018 at 1:52 PM Camila Araújo <notifications@github.com>
wrote:

[2018-11-15 20:42] jywarren commented on #30
Hmm, ok, so this page used to show results using this API call:

https://publiclab.org/wiki/inline-maps

It uses: `$.getJSON("/api/srch/taglocations?query="+s , function(data){`

![image](https://user-images.githubusercontent.com/24359/48579714-41945980-e8eb-11e8-93f0-7fbcd14c6402.png)

The call is getting an error, and is: https://publiclab.org/api/srch/taglocations?query=43,-71

As @milaaraujo p

[2018-11-15 20:42] jywarren commented on #30
Thanks everyone for untangling this complex web! 🕸 😄

[2018-11-15 20:47] jywarren commented on #30
@milaaraujo pointed out some... creative coding (i can probably take credit 😂 ) -- the existing code just truncates the last two digits, and matches any node that has those same initial digits. So it can fail easily if you're looking "near" `10.00` but the point you're looking for is at `9.99`, even though they're very close! Because `10.` and `9.` don't match.

However, since we don't actually st

[2018-11-15 21:56] #49 closed

[2018-11-16 01:39] milaaraujo commented on #30
@jywarren, I think storing latitudes and longitudes as decimals would be a great improvement! With numbers would be much more easy to control the range of the search.

[2018-11-16 01:40] milaaraujo commented on #30
But first we should work on the points you listed:

2- potentially allow setting the bounding box of that API call by two coordinate pairs instead of the more ambiguous "nearby"

[2018-11-16 10:38] #72 closed

[2018-11-16 10:44] #41 closed

[2018-11-17 18:45] sagarpreet-chadha commented on #30
Awesome 👍 😄 !

[2018-11-17 19:00] sagarpreet-chadha commented on #33
Found this plugin https://github.com/KoGor/leaflet-fullHash !
Will try to use it , although it does not has cdn link and is not present on npm as well .

[2018-11-20 20:54] jywarren commented on #33
oh goodness, i realized this after leaving comments. LOL (LEL lol)

ok, so what you can do is actually fork it and make a release in your fork,
and use this syntax to include it in package.json, right?

"inline-markdown-editor": "publiclab/inline-markdown-editor#~0.3.0",

On Sat, Nov 17, 2018 at 2:00 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-27 17:30] #33 closed

[2018-11-27 19:29] jywarren opened #87 "Add FracTracker mobile app data layer"
FracTracker mobile app reports seem to be loaded via requests like this:

https://services.arcgis.com/jDGuO8tYggdCCnUJ/arcgis/rest/services/FracTrackerMobileAppNPCAMesaVerdeNationalPark_051416/FeatureServer/0/query?f=pbf&where=1%3D1&returnGeometry=true&spatialRel=esriSpatialRelIntersects&outFields=*&outSR=102100&resultOffset=0&resultRecordCount=8000&resultType=tile&quantizationParameters=%7B%22mod

[2018-11-27 19:32] sagarpreet-chadha commented on #87
Awesome !!!

[2018-11-27 20:44] jywarren opened #88 "Add Luftdaten.info air quality layer"
https://luftdaten.info/en/home-en/

https://usa.maps.luftdaten.info/#4/40.00/-100.00

Leaflet based! So should be VERY easy!

[2018-11-28 17:55] jywarren opened #89 "Wisconsin non-metallic mining layer"
https://www.fractracker.org/2018/11/wisconsin-nonmetallic-mining/

this is also an ESRI layer - see #87 for how to integrate this -- but for a narrow region. Perhaps we could prototype only displaying some layers in the menu if you're in the right region of the world and right zoom level?

[2018-11-28 17:57] jywarren commented on #89
Sample API query in ESRI JSON: https://services.arcgis.com/jDGuO8tYggdCCnUJ/arcgis/rest/services/Nonmetallic_and_Potential_frac_sand_mine_proposals_in_West_Central_Wisconsin/FeatureServer/0/query?f=json&returnGeometry=true&spatialRel=esriSpatialRelIntersects&geometry=%7B%22xmin%22%3A-10043214.020446243%2C%22ymin%22%3A4984917.236647738%2C%22xmax%22%3A-9368122.186631741%2C%22ymax%22%3A5660009.070462

[2018-11-29 15:39] jywarren opened #90 "Odd error on inline map on plots2"
Hi, @sagarpreet-chadha - not sure what's causing this but maybe the spinner library? https://publiclab.org/wiki/advanced-grids

[2018-11-29 15:43] jywarren commented on #90
Do we maybe need to figure out how to run JavaScript tests on plots2 or something as these are seeming to be a bit brittle...

[2018-11-29 16:15] sagarpreet-chadha commented on #90
@jywarren ...did you run` npm install` ? We need leaflet-spin library in **lib** folder .

[2018-11-29 16:36] jywarren commented on #90
hmm, this is on production... we're using `yarn` now -- do we need to add
leaflet-spin library to our package.json in plots2?

Thanks!

On Thu, Nov 29, 2018 at 11:16 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-29 16:42] sagarpreet-chadha commented on #90
It is already added to package.json .

[2018-11-29 16:46] sagarpreet-chadha commented on #90
`<%= javascript_include_tag('/lib/leaflet-spin/example/leaflet.spin.min.js') %>`
This is the path i have given in the code . Just confirming that this is the path where yarn installs the library . Thanks !

[2018-11-29 18:46] sagarpreet-chadha commented on #90
Okay...i am quite sure we are not running on latest version of LEL and do not have Leaflet-spinner library on production .

[2018-11-29 19:00] jywarren commented on #90
well, i can redeploy to production now if it'll help?

On Thu, Nov 29, 2018 at 1:47 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-29 19:39] sagarpreet-chadha commented on #90
Okay great ! and i guess **yarn upgrade**  also ?

[2018-11-29 19:51] jywarren commented on #90
I believe so - well, actually not sure --
https://github.com/publiclab/plots2/search?q=yarn but maybe we should check
with @icarito and @souravirus if yarn upgrade is necessary?

On Thu, Nov 29, 2018 at 2:40 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2018-11-29 20:06] jywarren commented on #90
ah ok! So perhaps in one of the files in that search link we ought to add a
`yarn update` after `yarn install`?

On Thu, Nov 29, 2018 at 3:04 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-11-29 20:17] Souravirus commented on #90
Yeah, these commands would probably work. But to prevent some errors to create the yarn.lock file. Use this command `yarn --ignore-engines --ignore-scripts`.

[2018-11-29 20:18] jywarren commented on #90
Sagarpreet would you like to open a PR for this on plots2 to see how it
does? Perhaps push to unstable to check? Thanks!

On Thu, Nov 29, 2018 at 3:17 PM Sourav Sahoo <notifications@github.com>
wrote:

[2018-11-29 21:36] jywarren opened #93 "Citizenlog layer"
https://citizenlog.ushahidi.io/views/map is almost identical to the OdorLog layer. Let's add another layer for this, as described at https://publiclab.org/notes/imvec/09-02-2018/citizen-log-v1

Thanks!

[2018-11-29 23:58] jywarren commented on #90
@Souravirus @sagarpreet-chadha would we add a new command at the end of this one:

https://github.com/publiclab/plots2/blob/5c2bce348f841a9b37cce473e1279c27e20e794d/.travis.yml#L22

Right now it says

but Sourav, are you meaning the new addition should say

[2018-11-30 00:04] jywarren commented on #90
Are we extra sure that we've bumped the version number and should be getting the latest? Can we test this on unstable as well to test it out?

[2018-11-30 00:05] jywarren commented on #90
Thanks everyone for working this issue!

[2018-11-30 00:31] icarito commented on #90
Hi,
We run a semi-automated deployment process based in our [Makefile](https://github.com/publiclab/plots2/blob/master/Makefile#L24).
In so far as I recall we have an issue that we "shadow" the js libs when we mount the app volume. That's why we run docker-compose exec -T web yarn install in order to update dependencies on the mounted volume (the host filesystem).
@Souravirus I think we already ru

[2018-11-30 00:57] imvectech commented on #93
hi there! The Citizen log absorbs the Odor log survey adding a water pollution one. Some improvements needed. The actual demo only shows the latest 25. We will write them and see if they offer us a basic free plan ;D
In relation to the database the actual plan manages just one and uses one of the rows to separate both in the visualization. Tell us if you need something ;-*

[2018-11-30 00:59] jywarren commented on #93
I know some Ushahidi folks from early on, so perhaps I can reach out as
well?

On Thu, Nov 29, 2018 at 7:57 PM IMVEC <notifications@github.com> wrote:

[2018-11-30 20:01] Souravirus commented on #90
@jywarren to upgrade the lel version in yarn just update the version in package.json and do a `yarn install` command. This would update the yarn.lock file. Now just merge this yarn.lock file and with the current command it would work.

Sorry for the delay in answer. Actually I am busy in our final exams.

[2018-12-01 17:01] JonathanXu1 commented on #61
Hey there, I've made a wireframe using photoshop.

There'll be an options button in the bottom left:
![layer-off](https://user-images.githubusercontent.com/22998430/49330722-7c8bc380-f560-11e8-99bd-03558ae40384.png)

When selected, a list of options can be toggled like shown:
![layer-on](https://user-images.githubusercontent.com/22998430/49330721-7b5a9680-f560-11e8-9634-506ecce0184e.png)

My desig

[2018-12-01 23:46] JonathanXu1 commented on #61
Cool! Let me know if there's anything else you need, or if this task can be posted and claimed on the dashboard. Thanks

[2018-12-02 01:07] jywarren commented on #61
This is great! I wonder if you could consider adding some kind of link to
more information about each layer. Maybe it could be an icon or a column in
the key you've drawn?

On Sat, Dec 1, 2018 at 6:46 PM Jonathan Xu <notifications@github.com> wrote:

[2018-12-02 02:11] JonathanXu1 commented on #61
![info](https://user-images.githubusercontent.com/22998430/49334831-a7e8cf80-f5ad-11e8-89f7-21b5d33d6dd4.png)
How's this?

[2018-12-02 20:04] JonathanXu1 commented on #61
@jywarren @sagarpreet-chadha

[2018-12-02 23:32] kevinzluo commented on #56
Hello. I have claimed this task on the GCI dashboard. I checked out the JSON output and it appears it doesn't give the lat and lng coordinates for each node id. Though we can get this by making more requests, I feel like it would be better to parse the xml instead. I will try working on this.

Thank you,
Kevin Luo

[2018-12-03 04:19] kevinzluo opened #95 "Bug: Jquery script being loaded multiple times."
I was testing out the maps and saw this occur:

![jquerymultipleloads](https://user-images.githubusercontent.com/44309027/49352834-e353ce80-f67f-11e8-8f0a-24b66018c70f.gif)

I am not too sure about its effect on performance, but I think we could just add `<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>` to index.html and then edit the

[2018-12-03 07:17] sagarpreet-chadha commented on #61
Hi @JonathanXu1 ,
This is really fantastic 🎉 !
Also have you claimed this issue on GCI dashboard ? I couldn't find this task instance claimed .
Thanks 😄 !

[2018-12-03 13:04] kevinzluo commented on #95
Ahhh. I see.
Maybe we can check if it has been loaded each time? Maybe something like `$('script[src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"]').length === 0`?

[2018-12-03 13:12] kevinzluo commented on #73
@jywarren @sagarpreet-chadha
I don't believe I see this one added to the GCI dashboard. Could it be added? I would like to work on it.

[2018-12-03 14:32] JonathanXu1 commented on #61
Hi @sagarpreet-chadha , I couldn't find the task on GCI and asked if it was created as an instance in codein above. Perhaps it's marked as a beginner task though this issue is tagged only as gci-candidate?

[2018-12-03 21:00] jywarren commented on #61
Love it!

On Mon, Dec 3, 2018 at 9:32 AM Jonathan Xu <notifications@github.com> wrote:

[2018-12-04 02:16] JonathanXu1 commented on #61
This could also solve #65 . However I can't find the link to the task. Is it posted?

[2018-12-05 15:09] jywarren commented on #62
:-) got excited and tried out an idea:

![image](https://user-images.githubusercontent.com/24359/49522484-c385fb80-f875-11e8-8870-2783cb2e3846.png)

In this mockup document anyone can edit! https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g4877128470_0_0

[2018-12-05 17:47] kevinzluo commented on #73
@sagarpreet-chadha
Would you mind taking a look at this?

[2018-12-05 17:53] sagarpreet-chadha commented on #73
Okay , let me check 👍

[2018-12-05 17:59] sagarpreet-chadha commented on #73
Hi @kevinzluo ,
I have made the task on GCI dashboard for this issue and will be soon published . You may start working on this issue .

@SidharthBansal , @jywarren ...kindly publish this new task on GCI dashboard 😄 !

[2018-12-05 18:07] kevinzluo commented on #73
Thank you!

[2018-12-05 19:39] sagarpreet-chadha commented on #62
Awesome.....I will try to code this 💛 !

[2018-12-06 15:47] SidharthBansal commented on #73
Please claim it if you have not claimed it still.

[2018-12-06 15:48] SidharthBansal commented on #73
https://codein.withgoogle.com/dashboard/tasks/5421884796567552/
Published on the GCI dashboard
Thanks for reporting

[2018-12-06 20:53] #73 closed

[2018-12-06 20:55] jywarren opened #99 "Add standard icon library that can be used to select icons for different layer data"
And documentation! @sagarpreet-chadha what do you think?

[2018-12-07 01:48] JonathanXu1 commented on #61
Just checking back on whether this can be made available on gci.

[2018-12-07 19:50] jywarren opened #101 "Test out an "all layers" button to enable all layers, but performance test it!"
I'm a little afraid it'd crash the browser... ?

[2018-12-07 19:52] jywarren commented on #95
Or, I think we could just add to the docs that jquery is needed -- it's especially bad when jquery is loaded multiple times because it can cancel out listeners (like, it breaks toggles, for example, by clicking twice).

We mention the requirement of jquery in PublicLab.Editor, so I think it's OK here too!

[2018-12-08 05:09] kevinzluo opened #102 "Abstract Google Spreadsheet Class"
Referring to [this](https://github.com/publiclab/leaflet-environmental-layers/pull/97#issuecomment-445287742).

I feel we could create a new class that extends LayerGroup called SpreadsheetLayer.

In its options, it could take the desired url. I feel like the URL needs to be the one that gives the JSON output, though there might be a way to make several requests and find that url (see [here](https

[2018-12-08 05:09] kevinzluo commented on #102
Could this be assigned to me?

[2018-12-08 16:00] kevinzluo opened #103 "Add Leaflet Controls to serve as legends"
In these 2 links, @sagarpreet-chadha has some nice legends for some of the layers. https://publiclab.org/notes/sagarpreet/06-06-2018/leaflet-environmental-layer-library
https://publiclab.org/notes/sagarpreet/07-16-2018/leaflet-environmental-layer-library-part-2

We could try to use leaflet controls to include these alongside the maps.

![legendfeature](https://user-images.githubusercontent.com/443

[2018-12-08 16:36] sagarpreet-chadha commented on #103
Really cool idea !!!
Do you want to work on it ? I am adding this as a gci task (will be published soon ) .

[2018-12-08 16:37] kevinzluo commented on #103
Sure!

[2018-12-08 16:59] JonathanXu1 commented on #61
@sagarpreet-chadha ? Sorry to bother you.

[2018-12-08 23:12] kevinzluo commented on #103
@SidharthBansal Could you add this to the GCI dashboard?

[2018-12-09 11:13] sagarpreet-chadha commented on #61
Hi apologies for late response . I am making a GCI task right now , it will be soon published .

[2018-12-09 11:16] sagarpreet-chadha commented on #61
Oh i see it is already added 😄 !

https://codein.withgoogle.com/dashboard/tasks/4668534585032704/

I will approve the task as soon as you claim it ! Thank you :)

[2018-12-09 14:10] JonathanXu1 commented on #61
Sorry it turns out this is a beginner task! There was no mention of this being beginner or fto which was why claimed it. Sorry about the misunderstanding

[2018-12-09 14:10] JonathanXu1 commented on #61
Sorry it turns out this is a beginner task! There was no mention of this being beginner or fto which was why worked on it. Sorry about the misunderstanding

[2018-12-10 13:32] SidharthBansal commented on #102
https://codein.withgoogle.com/dashboard/tasks/4746645406220288/
@kevinzluo

[2018-12-10 13:32] SidharthBansal commented on #102
https://codein.withgoogle.com/dashboard/tasks/4746645406220288/
@kevinzluo

[2018-12-10 16:07] jywarren commented on #102
Perfect!

[2018-12-12 13:11] #102 closed

[2018-12-18 09:03] #56 closed

[2018-12-19 13:15] gauravano commented on #103
Hi @kevinzluo would you like to work on this after your exams get over? Thanks!

[2019-01-07 20:08] sagarpreet-chadha commented on #50
Solved in #94 !

[2019-01-07 20:08] #50 closed

[2019-01-08 20:42] jywarren opened #110 "Bounding box ordering, re-centering issues?"
I opened the Wisconsin Non-Metal layer but then it tries to recenter on a very broad bounding box:

![image](https://user-images.githubusercontent.com/24359/50857386-7a850380-135b-11e9-910d-9898d75e5cb3.png)

https://publiclab.org/people#12/43.9929/-90.3883/BL1-Wisconsin_NM

Wondering if there is some better ordering we need to do to manage how the re-zooming leaves things once all layers are load

[2019-01-09 07:53] sagarpreet-chadha commented on #110
Okay , so what is happening is that **LEL** first re-centers to the correct bounding box according to the URL , but after few milliseconds **plots2** re-centers to my personalized view bounding box according to my location OR if you have not shared location , the default is to set to zoom level 2 .

[2019-01-09 08:15] sagarpreet-chadha commented on #110
* We definitely should remove the default zooming to level 2 .
* When we choose WisconsinLayer we are forcefully zoomed and panned . Lets remove this also !

After this , if you have not shared your location - then everything will work fine 👍  .

But if you have shared your location - it will show your location centeric bounding box AND not the correct one according to the URL . So to solve this ,

[2019-01-10 23:10] jywarren commented on #110
I think perhaps the issue is that some layers only make sense in some
regions. Could we turn off all auto-zooming, but have some layers that are
regionally specific only appear if your bbox overlaps the relevant region?
I know that would be a big project, but it seems logical, no?

On Wed, Jan 9, 2019 at 3:15 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-01-11 14:34] jywarren opened #112 "add thumbnail images to some layers"
Like the mapknitter layer! This would be great. See http://mapknitter.org for the source of this layer.

The image would be added to this line, in the Popup HTML:

https://github.com/publiclab/leaflet-environmental-layers/blob/e36f294a2d4d8e588bf1a2647e6d039b98353a5a/src/mapKnitterLayer.js#L87

It could be build once this corresponding issue in MapKnitter is completed, which would add the image ur

[2019-01-11 21:46] jywarren opened #113 "OpenAQ air quality data layer"
https://openaq.org would be a great layer to add!

[2019-01-13 13:31] gauravano opened #114 "Add Code of Conduct to this repository"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-01-14 07:04] sagarpreet-chadha commented on #114
Awesome 👍 💃 😄 !

[2019-01-15 19:37] jywarren commented on #110
OK @sagarpreet-chadha can we start with stopping the layers from recentering, as a first step? Thank you!

Also, I can't seem to get links at zoom level 12 (or any higher than 7) to work when loading a new map. For example: https://publiclab.github.io/leaflet-environmental-layers/example/#12/44.3913/-91.0156/BL2-Wisconsin_NM-FT_mobile-Purple-STruth-windrose-AQI

This should open at zoom 12, but it

[2019-01-15 19:52] sagarpreet-chadha commented on #110
On it 👍 ! Yes happening due to same reason of implicit zooming of some layers causing url to work improperly .

[2019-01-25 13:33] harsh1599 commented on #114
May I do this?.. As it's been a long time since this issue was opened..

[2019-01-28 21:05] nkleinbaer commented on #114
I would like to claim this issue. I created the document and modified the information at the top about when and where it was copied from. [Pull request here ](https://github.com/publiclab/leaflet-environmental-layers/pull/115)

[2019-01-28 21:12] jywarren commented on #114
Hi I'm sorry we didn't respond! We'd love help and will review the PR. I'm
sorry Harsh, could we get you plugged into another issue maybe?

On Mon, Jan 28, 2019, 6:06 PM nkleinbaer <notifications@github.com wrote:

[2019-01-28 21:20] nkleinbaer commented on #114
Who is Harsh? Was someone already working on this issue? I see that lot's of other public lab projects have identical issues - should I work on one of those, instead?

[2019-01-28 21:46] jywarren commented on #114
Sorry, i replied by email and my inbox showed someone else expressing
interest. It looks like the comment had been deleted however. Sorry for the
confusion, we're happy to receive your PR! Thanks a lot!

On Mon, Jan 28, 2019 at 3:21 PM nkleinbaer <notifications@github.com> wrote:

[2019-01-28 21:46] gauravano commented on #114
Hi @nkleinbaer, actually @jywarren replied via Email thread so there might be a contributor before you by name Harsh who may have asked for claiming this issue but deleted his comment from GitHub later, so that's why @jywarren mentioned him.

[2019-01-28 21:54] #114 closed

[2019-02-04 20:48] jywarren opened #116 "New layer: Historical flooding data"
https://publiclab.org/questions/stevie/07-03-2018/where-can-you-find-historic-flooding-data

@eustatic mentioned:

[2019-02-05 00:00] jywarren commented on #60
![image](https://user-images.githubusercontent.com/24359/52245316-22381780-28af-11e9-9829-63ca2c8ad29c.png)

I did some brainstorming and came up with this!

[2019-02-05 00:03] jywarren commented on #60
Maybe like this or something:
![image](https://user-images.githubusercontent.com/24359/52245442-98d51500-28af-11e9-8b78-4d4a22177be0.png)

[2019-02-05 00:04] jywarren commented on #60
This might mean we really need to store the bounding boxes of each layer, so that we can display only ones which have data for the current view.

[2019-02-05 00:06] jywarren opened #117 "Track the bounding box of each layer, and display only those which intersect with current view"
That'll help us manage the # of layers shown!

Also relevant to: https://github.com/publiclab/leaflet-environmental-layers/issues/60#issuecomment-460462757

[2019-02-13 18:50] jywarren opened #118 "Update SkyTruth API links for newly relaunched SkyTruth Alerts"
https://alerts.skytruth.org was relaunched this year! Notes on this here: https://skytruth.org/2019/01/new-year-new-alerts/

Our layer for @SkyTruth is not working now due to the updates. We'll probably have to adjust this line and more:

https://github.com/publiclab/leaflet-environmental-layers/blob/4248431b91bda89965860dede174cf315b8c0cb5/src/skyTruthLayer.js#L48

Note: CORS is not enabled in th

[2019-02-13 20:08] jywarren commented on #118
It may work to use:

https://alerts1.skytruth.org/json?n=100&l=29.103173641957888,-90.26628971099854,29.4625145059195,-88.44942569732667

[2019-02-13 20:08] jywarren commented on #118
Yep!

[2019-02-13 20:10] jywarren commented on #118
So we're looking to parse data like this:

[code]

We can update to the new format once we determine it.

[2019-02-13 20:12] jywarren commented on #118
Submitted a short term fix to switch to `alerts1` layer here: https://github.com/publiclab/leaflet-environmental-layers/commit/e36f294a2d4d8e588bf1a2647e6d039b98353a5a

But looking to update for the new API as we learn more.

[2019-02-13 20:16] jywarren commented on #118
New format looks to be:

https://skytruth-alerts2.appspot.com/api/getalerts/?l=33.9775,-101.2861,41.0598,-90.2449&dates=undefined,undefined&selected=1,4,5,9&n=100

Format:

[code]

[2019-02-13 20:17] jywarren commented on #118
Looks like it's not a CORS issue after all!

[2019-02-13 20:18] avsingh999 commented on #113
@jywarren Can I work on it.
Thanks : )

[2019-02-13 20:21] jywarren commented on #113
That would be wonderful!!!

On Wed, Feb 13, 2019 at 3:19 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-02-14 20:20] jywarren commented on #60
Also linking this to the MapKnitter design process here: https://github.com/publiclab/mapknitter/issues/327

[2019-02-19 13:34] avsingh999 commented on #113
Hi, @jywarren  Sorry For late I was Busy in My Academics. Can You please Guide Me How to Do this.
Thank you :)

[2019-02-19 18:19] jywarren opened #119 "Add EWG's PFA pollution map as a layer"
https://www.ewg.org/research/update-mapping-expanding-pfas-crisis

![image](https://user-images.githubusercontent.com/24359/53037745-db5e2c00-342f-11e9-9dcb-a63a48fba067.png)

[2019-02-19 22:23] jywarren commented on #61
I'm going to consolidate a bit and merge this into #60 ! Thanks, all!

[2019-02-19 22:23] #61 closed

[2019-02-19 22:23] jywarren commented on #60
Also noting @jonathanxu1's work in #61 --

![info](https://user-images.githubusercontent.com/22998430/49334831-a7e8cf80-f5ad-11e8-89f7-21b5d33d6dd4.png)

[2019-02-19 23:29] jywarren commented on #42
We shoul
This has been marked as a good candidate for becoming a [first-timers-only issue](http://www.firsttimersonly.com) like [these](https://code.publiclab.org/#r=all), meaning that it's simple, self-contained, and with some extra formatting, could be a great entry point for a new contributor. If you're familiar enough with this code, please consider [reformatting or reposting it as a first-tim

[2019-02-20 00:17] jywarren opened #120 "Move some dist/___ files into src/____"
After #104, we now have some additional files in /dist/ --

https://github.com/publiclab/leaflet-environmental-layers/blob/master/dist/legendCreation.js

There's also:

https://github.com/publiclab/leaflet-environmental-layers/blob/master/dist/windRoseLayer.js

These ought to be re-integrated back into the main library in `/src/____`, to be compiled into the main project. We'd love help doing this

[2019-02-20 00:22] jywarren commented on #103
Re-opening because this is a great idea. It'd be great to manage this within each layer.

[2019-02-20 00:22] jywarren commented on #60
I think we could use some of @jonathanxu1's design ideas in the table view as well. I especially like the icons. We could use some from the Noun Project, maybe.

[2019-02-20 00:24] jywarren commented on #59
Merging into #62 -- thanks!

[2019-02-20 00:24] #62 closed

[2019-02-20 00:24] jywarren commented on #59
Er sorry i mean https://github.com/publiclab/leaflet-environmental-layers/issues/60!

[2019-02-20 00:24] #59 closed

[2019-02-20 00:25] jywarren commented on #65
Consolidating this into https://github.com/publiclab/leaflet-environmental-layers/issues/64!

[2019-02-20 00:25] #65 closed

[2019-02-20 00:25] jywarren commented on #63
Merging this into #62!

[2019-02-20 00:25] #63 closed

[2019-02-20 00:53] jywarren opened #121 "Spin out Leaflet.SpreadsheetLayer as a stand-alone Leaflet library"
@kevinzluo made a fantastic component for this library which really deserves to be its own [Leaflet Plugin](https://leafletjs.com/plugins.html). Let's do it!

See a recent minimal Leaflet plugin I created here for reference: https://github.com/publiclab/leaflet-multispectral

Read more here: https://github.com/publiclab/leaflet-environmental-layers/blob/master/src/util/googleSpreadsheetLayer.js

W

[2019-02-20 01:01] jywarren commented on #121
Note that I'm having trouble instantiating a new layer... not sure why it's not working. @kevinzluo why does this have to be a LayerGroup?

[2019-02-20 01:07] #90 closed

[2019-02-20 05:24] kevinzluo commented on #121
Hello,
I'm so sorry, but I really haven't been active in the community lately. I'm
caught up in school and really can't take a look right now, but I will as
soon as a have the chance. There is a break coming up in mid March so I
could try then? I remember when I was creating the layer I had some issues
as well, but there was some way to do it.

My apologies!

[2019-02-20 06:15] avsingh999 commented on #113
@jywarren @sagarpreet-chadha  please guide me to solve this issue I don't know how to start.
Thank you  :)

[2019-02-20 06:44] gauravano commented on #113
Hey @avsingh999, I haven't worked on this repository much but you can get started by looking at old PRs of this repository like this one - https://github.com/publiclab/leaflet-environmental-layers/pull/17/. there are many PR's where layer addition has been done, so going through them will give you a idea.

Or, you can wait for Sagarpreet and Jeff.

Thanks!

[2019-02-20 06:49] gauravano commented on #121
No issue @kevinzluo, we understand your situation and you are most welcome to contribute anytime, as per your convenience. Thanks!

[2019-02-20 07:33] avsingh999 commented on #113
@gauravano  Thank you : )

[2019-02-20 09:34] sagarpreet-chadha commented on #113
Hi @avsingh999 😄 !

I agree with @gauravano , there are plenty of examples you can go through to add this new layer .
The API documentation also looks very nice for this layer : https://docs.openaq.org/
Thank you !

[2019-02-21 00:35] jywarren commented on #121
yes, sorry @kevinzluo i didn't mean to imply you needed to do this either!
I was just looking at projects people might be able to do to generally
improve the codebase and wanted to keep you in the loop! Good luck with
school and thanks for all your help!

On Tue, Feb 19, 2019 at 10:50 PM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-02-23 23:43] jywarren opened #122 "Sea level rise layers"
There are a few sources of this kind of data but here's one!

http://citizeneyes.org/app/

[2019-02-27 22:48] jywarren opened #123 ""minimal" mode"
We should make it possible to show lots of layers in a minimal mode with small dots you can click on, kind of like these screenshots:

![image](https://user-images.githubusercontent.com/24359/53528335-59b57080-3ab7-11e9-9c9c-169f5b7348d0.png)

![image](https://user-images.githubusercontent.com/24359/53528496-bb75da80-3ab7-11e9-833a-996ae80b9018.png)

We could color them differently, and it could a

[2019-02-28 19:54] avsingh999 commented on #113
@jywarren @sagarpreet-chadha @gauravano  I am using this API like as " Air Quality Index " because both API give same parameters data But in OpenAQ API when I was getting data  using this 'https://api.openaq.org/v1/latest' but I am getting the lot of data in the same coordinate you can see this for particular coordinates '

So I want to know how should I show this data for perticular coordinates b

[2019-02-28 20:24] avsingh999 commented on #120
@jywarren  I want to work.
thanks : )

[2019-02-28 21:56] jywarren commented on #120
yes please!

On Thu, Feb 28, 2019 at 3:25 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-01 07:58] Dsxv commented on #95
Hi @jywarren  @sagarpreet-chadha @kevinzluo ! Is this still  on ? I'd like to take on this .
Thanks!

[2019-03-01 13:57] gauravano commented on #95
@Dsxv please go ahead! Thanks!

[2019-03-02 02:06] avsingh999 commented on #113
@jywarren @sagarpreet-chadha  please help me. : )

[2019-03-02 17:47] #42 closed

[2019-03-03 15:37] rkpattnaik780 commented on #95
I have implemented a possible solution, shall I make the PR for it?

[2019-03-03 16:00] jywarren commented on #95
Yes please!

On Sun, Mar 3, 2019, 10:38 AM Ramakrishna Pattnaik <notifications@github.com>
wrote:

[2019-03-03 19:49] sweezy793 commented on #120
Can I work on this issue?

[2019-03-04 14:02] avsingh999 commented on #120
@sweezy793  I am working on it. I am late because I am getting some error while ```npm install ``` but I will send pr as soon as possible
Thank you : )

[2019-03-04 16:08] gauravano commented on #120
Hey @sweezy793, you can look at other issues of Leaflet - https://github.com/publiclab/leaflet-environmental-layers/issues or can grab a first-timer-issue from https://code.publiclab.org/#r=all. Feel free to leave a comment if you are not able to find an issue to start, we are here for help. Thanks!

[2019-03-04 16:10] gauravano commented on #120
Hey @avsingh999, feel free to open the PR irrespective of error as others can also help you in error resolution, if you open the PR. Thanks!

[2019-03-04 18:37] jywarren opened #126 "Add Community Maps "Air Quality" map layer"
This is a great local source - looks like London-area only but great!

https://communitymaps.org.uk/welcome

https://communitymaps.org.uk/project/air-quality-monitoring?center=51.6180:-0.6372:8

[2019-03-05 09:19] avsingh999 commented on #126
I want to take it. Can I work on it

[2019-03-05 10:47] gauravano commented on #126
Go ahead @avsingh999. Thanks!

[2019-03-05 11:56] avsingh999 commented on #126
@jywarren @gauravano I didn't find any API or documentation of this layer can you help me?
thanks : )

[2019-03-05 12:04] gauravano commented on #126
hmm, you are right @avsingh999. the map is generated on basisof NO2 only as mentioned https://communitymaps.org.uk/projects and here's some more details - http://mappingforchange.org.uk/wp-content/uploads/2018/03/NO2-toolkit.pdf.

I also can't see any API endpoint doc and related info. @jywarren any information you have?

[2019-03-05 13:59] avsingh999 commented on #123
@jywarren @gauravano  can you explain more?
thank you : )

[2019-03-05 14:24] jywarren commented on #126
I think we will have to view source and find it that way... And maybe
observe the network pane as we load. It's mapbox, which is Leaflet, so it
should be compatible!

If you'd like you can take up another issue, but tell me what you'd like to
do.

On Tue, Mar 5, 2019, 7:05 AM Gaurav Sachdeva <notifications@github.com>
wrote:

[2019-03-05 16:48] jywarren commented on #123
Basically looking for a way to turn all the markers into smaller, standardized "dots" of different colors, rather than their full icons. So that we can show more layers without filling up the screen!

[2019-03-05 17:57] avsingh999 commented on #123
Okay, we will have to change all layer Icon into small dots. Am I right or not @jywarren .
Thank you : )

[2019-03-05 20:02] jywarren commented on #123
Yes, but we would want this to be toggle-able, so we'd want to preserve the
previous icon, too!

On Tue, Mar 5, 2019 at 12:57 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-05 20:56] sidntrivedi012 opened #129 "Adding info about Mapknitter Layer in the article."
The Mapknitter layer's details has a line `For more info on MapKnitter Layer, visit here`, in which `here` directs to `https://publiclab.org/notes/sagarpreet/06-06-2018/leaflet-environmental-layer-library?_=1528283515` . But, there is no information about Mapknitter Layer in the blog.

Example - https://publiclab.github.io/leaflet-environmental-layers/example/#3/43.00/-53.12/BL2-MapK

[2019-03-05 20:57] sidntrivedi012 commented on #129
@jywarren @sagarpreet-chadha Please take a look. May I add the details of the layer in the blog or should I direct it to some other link?

[2019-03-06 03:48] avsingh999 commented on #123
@jywarren  I want to try to solve this issue.

[2019-03-06 16:27] jywarren commented on #123
that'd be great!

On Tue, Mar 5, 2019 at 10:49 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-06 19:46] #113 closed

[2019-03-06 20:14] jywarren commented on #113
I'm sorry I missed this but it looks like you figured it out and it looks great! Thanks so much!!!

[2019-03-06 20:29] sidntrivedi012 commented on #116
@jywarren @gauravano Would like to work on it.

[2019-03-06 20:30] jywarren commented on #116
Please do, that would be super!!!

On Wed, Mar 6, 2019 at 3:29 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-03-06 21:51] jywarren commented on #116
Hi! So, i think basically we have to dig into the resources above to try to find how we could build standard Leaflet layers around them. There are a lot of examples of doing this in the current layers in the library. Also https://leafletjs.com/plugins.html lists many adapters, like ESRI. So, if we can find either an API endpoint URL or alternatively an interactive map we can reverse engineer, we c

[2019-03-07 14:45] ebarry opened #132 "nighttime light pollution data source"
This map: https://lighttrends.lightpollutionmap.info/#zoom=6&lon=-72.26531&lat=42.70099

shows this data:

Citation: https://www.tandfonline.com/doi/full/10.1080/01431161.2017.1342050 which has a great article explaining much more

[2019-03-07 15:02] rkpattnaik780 commented on #88
I would like to work on this one.

[2019-03-07 15:07] sagarpreet-chadha commented on #88
Hi ! Please go ahead :)

On Thu, 7 Mar 2019, 20:32 Ramakrishna Pattnaik, <notifications@github.com>
wrote:

[2019-03-07 15:22] rkpattnaik780 commented on #88
@sagarpreet-chadha since it is my first time adding a layer, can you send me some resources to help me get started, maybe a PR from the past?

[2019-03-07 16:06] gauravano commented on #88
Hey @rkpattnaik780, you can refer to the closed PRs of the project where the layer has been added - https://github.com/publiclab/leaflet-environmental-layers/pulls?q=is%3Apr+is%3Aclosed .

[2019-03-07 16:07] rkpattnaik780 commented on #88
Thanks, I am on it :)

[2019-03-07 16:08] gauravano commented on #88
Great!

[2019-03-07 21:28] jywarren opened #133 "Display "new items" mark in Layers menu when you enter an area with a new layer"
Some layers are really concentrated on only one region, and we have a proposal to display those layers only when you're with in the bounding box for that layer.

This will take some work -- #117 -- but once it's complete, we could actually alert users that there is new information to display by showing either a red dot or a small number (like the "new emails" dot on some phones) which calls your a

[2019-03-07 21:30] sidntrivedi012 commented on #116
@jywarren Yes, seems quite complex. Trying to understand the process.

[2019-03-08 07:55] avsingh999 commented on #132
@jywarren  @ebarry  that's great Idea But I want to know How we can add this layer? I am not getting point.

[2019-03-08 08:40] avsingh999 commented on #120
@jywarren @gauravano @sagarpreet-chadha please close this isuue.
thanks : )

[2019-03-08 09:47] avsingh999 commented on #101
@jywarren  I want to take it.
thanks  :smile:

[2019-03-08 16:43] jywarren opened #134 "Planning overview (revised!)"
This new library is rapidly seeing many new layers, and we need some additional structure to help make the display/management of this amazing data smoother. This would include:

## Documentation

* [ ] improved workflow for incorporating and accepting new layers (submission template) (see below)

## Structure

* [ ] improved layer management system with bounding boxes + zooms from layer metadata
*

[2019-03-08 16:43] jywarren commented on #1
Closing in favor of #134

[2019-03-08 16:43] #1 closed

[2019-03-08 16:43] jywarren opened #135 "Layer submission process"
We should create a clear process for:

1. requesting a new layer
2. collecting links and docs, and
3. adding it to the library in a consistent way

Maybe an issue template, and maybe a table or JSON file showing all layers with metadata existing/missing? See metadata issue in https://github.com/publiclab/leaflet-environmental-layers/issues/134 ! 👍

[2019-03-08 16:49] jywarren commented on #135
And we should ask for all these fields if they can be found, as described in https://github.com/publiclab/leaflet-environmental-layers/issues/134:

[2019-03-08 16:52] #120 closed

[2019-03-08 17:06] jywarren opened #136 "Guide to how to add new layers"
Along with a layer submission system like #135 for people who find layers we'd like to add, we should have a README documentation section on how to actually add new layers in code. This could point at a PR which demonstrates everything you need to add one, for new coders to help out!

It could be like this file, although probably a lot simpler:

https://github.com/publiclab/image-sequencer/blob/ma

[2019-03-08 17:16] gauravano commented on #101
Go ahead @avsingh999!

[2019-03-08 22:20] jywarren opened #138 "collect urls for "requests" from layers if they are open to community submissions"
We should collect URLs for making "reports" to layer sources if they are open to community submissions (like OdorLog.com) -- that could be displayed like this:

![image](https://user-images.githubusercontent.com/24359/54059206-58c2c400-41c6-11e9-9abe-d62edd3f7f64.png)

These could be part of layer metadata, described in https://github.com/publiclab/leaflet-environmental-layers/issues/134, and rela

[2019-03-08 23:50] #88 closed

[2019-03-09 01:40] ephemeralwaves commented on #136
I'd like to help work on this because I would like to work on  #119  and I'm trying to figure out how exactly to go about adding a layer myself. Would anyone be able to help me through this process? So far I've gotten the data from #119 and found an npm module to get/add the lat/lng data into the csv file.

[2019-03-09 01:41] ephemeralwaves commented on #119
I would like to work on this!

[2019-03-09 04:45] avsingh999 commented on #135
@jywarren  I want to work on it
thanks : )

[2019-03-09 05:32] jywarren commented on #135
Please do! Thanks!

On Fri, Mar 8, 2019, 11:45 PM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-09 06:55] avsingh999 commented on #112
@jywarren  which images we have to show in popup HTML please clear me.
thanks : )

[2019-03-09 13:45] gauravano commented on #119
hey @ephemeralwaves, go ahead! Thanks!

Really liked your notes :100:. @jywarren do check it.

[2019-03-09 14:16] jywarren commented on #119
Yeah this is great!

[2019-03-09 14:18] jywarren commented on #119
Do they have a map layer we could include directly which could be easier than geocoding? Just wondering!

[2019-03-09 14:21] jywarren commented on #112
Hi! I think the maps Json feed should now show images, but it's not yet published, so maybe we have to wait a bit first? Could you try another issue maybe for now? Thanks!!!

[2019-03-09 14:58] avsingh999 commented on #101
@jywarren @sagarpreet-chadha please give me hint how to do? I have some confusion. please give me some hints/guide.
thanks : )

[2019-03-09 17:59] ephemeralwaves commented on #119
I looked on the EWG site. They use mapbox and in the src under scripts it looks like they geocode. It was helpful though to look there because both there is a  [PFAS geojson file](https://www.ewg.org/interactive-maps/2017_pfa/PFAS_7_19_2018.geojson) and an [EPA tap water detections geojson file](https://www.ewg.org/interactive-maps/2017_pfa/UCMR_systems_1_2_2019.geojson) that can be used. Not sure

[2019-03-10 06:08] avsingh999 commented on #135
@jywarren please explain to me more about this what I have to do?  I am not getting a point. I know Only I have to write documentation about this 3 point But Don't know How to start please give me way
thanks : )

[2019-03-10 07:00] rkpattnaik780 commented on #95
Hello Everyone, I have been [working](https://github.com/publiclab/leaflet-environmental-layers/pull/125) on this issue since quiet some time . I have made a few observations that I would like to mention in the thread.

I was going through the `SkyTruthLayer` and I observed certain peculiarities in the implementation of the `requestData()` method :-

![image](https://user-images.githubusercontent.

[2019-03-10 18:30] sidntrivedi012 commented on #136
Thanks a lot @jywarren for this. Have been working on #116 but facing some issues. This will really ease the things a lot. :tada:

[2019-03-10 18:33] sidntrivedi012 commented on #134
@jywarren The thread looks really nice. Would like to ask that can we write tests in Jest? Its kinda nice and efficient to use for Javascript testing.

[2019-03-10 18:33] sidntrivedi012 commented on #134
You can find more info about jest here - https://jestjs.io/

[2019-03-10 21:09] sidntrivedi012 commented on #116
@jywarren @sagarpreet-chadha There is no API as  such of the mentioned resources to plot the flooding data on the map. There are only PDFs. Should I analyse the data manually and hard code it in a json file and use it?

[2019-03-10 21:49] sidntrivedi012 opened #139 "OSM Landfills, Mines and Quarries checkbox not working."
@jywarren @sagarpreet-chadha The checkbox of the last layer is not ticking and thus, the layer is not being visualized.

[2019-03-11 03:16] avsingh999 commented on #134
@sidntrivedi012 I like your thinking but I do not understand Why we use jest for Test because In a test we have to enable all layers like @jywarren open this issue https://github.com/publiclab/leaflet-environmental-layers/issues/101.Please correct me if  I am wrong @jywarren  @sidntrivedi012
thanks  : )

[2019-03-11 04:25] avsingh999 opened #140 "some Layers give some errors in console"
JusticeMap, OpenInfram map give this error in the console

![leaf3](https://user-images.githubusercontent.com/25536022/54100078-a156c900-43e2-11e9-94e6-49881c5d0653.gif)

[2019-03-11 04:42] avsingh999 commented on #110
@jywarren @sagarpreet-chadha we have to change all layers default zoom level 12. Am I right
thanks

[2019-03-11 07:25] sidntrivedi012 commented on #139
![LEL1](https://user-images.githubusercontent.com/31186013/54106671-e851b800-43fc-11e9-985c-26b2e06c4b06.gif)

[2019-03-11 07:53] sidntrivedi012 commented on #139
It is disabled in the HTML.
![Screenshot from 2019-03-11 13-22-07](https://user-images.githubusercontent.com/31186013/54108021-de31b880-4400-11e9-84f0-2e9200f4b9df.png)

[2019-03-11 08:02] rkpattnaik780 commented on #58
I will like to work on this.

[2019-03-11 09:14] avsingh999 opened #141 "Add Google Satellite Layer"

[2019-03-11 09:18] avsingh999 commented on #141
@jywarren @sagarpreet-chadha what do you think about this.please review me.
thanks

[2019-03-11 12:27] gauravano commented on #58
Great! Feel free to start :+1:

[2019-03-11 12:28] gauravano commented on #139
@sidntrivedi012 would you like to fix this yourself?

[2019-03-11 12:44] sidntrivedi012 commented on #139
@gauravano Sure. I would love to.

On Mon, 11 Mar 2019, 5:58 pm Gaurav Sachdeva, <notifications@github.com>
wrote:

[2019-03-11 12:47] gauravano commented on #139
Great!

[2019-03-11 14:36] jywarren commented on #134
We currently use Jasmine for a number of tests and so would lean that
direction for consistency across PL libraries... and it tests HTML as well
(it wasn't clear that Jest does this, but maybe?). Can we move to the
dedicated testing issue for more discussion, this is great!!!

On Sun, Mar 10, 2019 at 2:34 PM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-03-11 14:54] jywarren commented on #140
oh hmmmm. Can you test if they work on https://mapknitter.org? And do the
URLs work when opening them directly?

On Mon, Mar 11, 2019 at 12:26 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-11 15:19] jywarren commented on #136
We may need some input from @sagarpreet-chadha on this, but basically, we add a new layer in the folder with the other layers, and for many layer types we can copy an existing one and modify it.

We should make a list of what's needed, and perhaps link to a PR or two of when other layers were added, as an example. But this may need to be an evolving guide, as we're also looking to make it easier t

[2019-03-11 15:25] jywarren commented on #116
Sorry i had missed that the other sources were PDFs!!!

[2019-03-11 15:26] jywarren commented on #116
Oohh this will be really great. Thanks again!!!

[2019-03-11 16:00] jywarren commented on #95
I agree - actually i think that we can just say in the docs that you should
have jquery installed and included separately, and we should not try to
include it automatically anywhere. I think this will simplify things a lot!
Thank you!!!

On Sun, Mar 10, 2019 at 3:00 AM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-11 16:08] sidntrivedi012 commented on #134
@jywarren Sure. Jasmine is great. And it's really a very nice notion to maintain consistency in the project.

[2019-03-11 20:44] sidntrivedi012 commented on #116
Will go through the links and try to make a layer. Thanks :)

[2019-03-11 21:46] rkpattnaik780 commented on #95
@jywarren Thank you. I will update the pull request soon. :)

[2019-03-11 21:59] jywarren commented on #141
Can you talk a little more about this? Like, as a base layer? Thanks!

[2019-03-12 01:10] avsingh999 commented on #141
@jywarren oh sorry I forgot about this thanks for catching me. yes, we can add Google Satellite layer as a base layer like in https://mapknitter.org/maps/new.what you think about this @jywarren.
thanks ; )

[2019-03-12 02:32] jywarren commented on #119
Yes, mapbox is built on leaflet so they should be compatible!

On Sat, Mar 9, 2019, 1:00 PM ephemeralwaves <notifications@github.com>
wrote:

[2019-03-12 15:00] sidntrivedi012 commented on #141
@jywarren We can also add the `Streets` base layer as shown here - https://leafletjs.com/examples/layers-control/example.html

[2019-03-12 15:02] sidntrivedi012 commented on #141
@jywarren @avsingh999 I think it will be nice to use Streets as the default layer and Satellite layer as an option and an advanced feature. What do you say?

[2019-03-12 15:11] avsingh999 commented on #141
@sidntrivedi012 Yes I agree with you :+1:

[2019-03-13 00:03] jywarren commented on #141
This sounds good; however this will be for the demo primarily, right?
People using this downstream could specify whatever ones they want? Cool!

On Tue, Mar 12, 2019 at 11:19 AM Avkaran Singh <notifications@github.com>
wrote:

[2019-03-13 00:22] avsingh999 commented on #101
@jywarren I don't know completely How to active all layers by one click please me.
thanks : )

[2019-03-13 04:50] sidntrivedi012 commented on #141
@jywarren There will be option whether to use Streets or the Satellite imagery

[2019-03-13 14:12] rkpattnaik780 commented on #136
Hello, I have recently worked on adding layers and I think I can describe the procedure of adding a layer that will be beginner friendly. I feel that providing examples in codepen and a descriptive tutorial along with sample PRs might also be helpful for a beginner. What do you feel @jywarren ?

[2019-03-13 15:01] jywarren commented on #136
That would be really awesome. Perhaps open a PR with a draft? You could add
it to the README, or make a new markdown file called CONTRIBUTING.md.
Thanks!

On Wed, Mar 13, 2019 at 10:16 AM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-13 15:30] rkpattnaik780 commented on #136
@jywarren I think a new file CONTRIBUTING.md will be better. I will make the PR as soon as possible. :)

[2019-03-13 15:47] jywarren commented on #136
awesome!!

On Wed, Mar 13, 2019 at 11:30 AM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-13 21:16] jywarren opened #144 "Allow collapsing of complex features at lower zoom levels"
The layer in #89 shows LOTS of polygons, and as you zoom out it starts to sputter a bit. We might be able to use this library to manage this better?

https://github.com/oliverroick/Leaflet.Deflate

[2019-03-13 21:16] jywarren commented on #144
Or maybe https://github.com/Eclipse1979/leaflet-conditionalLayer is related...

[2019-03-14 15:19] rkpattnaik780 opened #145 "Declare character encoding for the HTML document."
Opening the `example/index.html` page in firefox gives the following warning in console.

![image](https://user-images.githubusercontent.com/23582438/54366359-86ac7a80-4696-11e9-8fac-ff7c9957a883.png)

This might require addition of just a meta charset attribute within `head`.

[2019-03-14 15:24] rkpattnaik780 commented on #145
We can make this a `first-timers-only`. Just a really minor change that's considered a good practice :).

[2019-03-14 15:49] rkpattnaik780 opened #146 "bug: ToxicReleaseLayer does not stop loading at times"
The ToxicReleaseLayer doesn't stop loading at certain coordinates. For example in [43.00,-9.87] url : `leaflet-environmental-layers/example/index.html#3/43.00/-9.87/BL2-ToxicR)`. A possible explanation can be that the get request isn't handled properly. For coordinates [43.00,-9.87], a get request is being made with url : [https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNIN

[2019-03-14 16:19] jywarren commented on #145
Awesome!

On Thu, Mar 14, 2019, 11:25 AM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-18 20:18] jywarren commented on #129
Perhaps we should just link to MapKnitter.org? Thank you!

[2019-03-19 16:34] jywarren opened #147 "OpenInfraMap petroleum layer erroring with TIMED_OUT"
`Failed to load resource: net::ERR_CONNECTION_TIMED_OUT` on:

https://publiclab.github.io/leaflet-environmental-layers/example/#8/30.554/-92.606/BL2-OIMPetroleum

I believe the tiles themselves are not loading: https://tiles-c.openinframap.org/petroleum/5/5/12.png

Maybe we were blocked for hitting their tiles too hard? Or maybe their API changed?

See #22 #23 for details on the original implement

[2019-03-19 21:14] #58 closed

[2019-03-19 21:16] #95 closed

[2019-03-19 22:14] vaarigupta commented on #134
@jywarren  I am an **outreachy applicant** and am interested to work on it. Please assign me this issue to work

[2019-03-20 06:33] avsingh999 commented on #147
@jywarren  Yes, there are also others,  like this please look this https://github.com/publiclab/leaflet-environmental-layers/issues/140 I have opened
thanks : )

[2019-03-20 14:02] ananyaarun commented on #145
Hey, I'll take this up as my first contribution to this repository. :)

[2019-03-20 15:37] gauravano commented on #145
@ananyaarun please mention this issue in your PR. Thanks!

[2019-03-20 15:58] #145 closed

[2019-03-21 05:32] rkpattnaik780 commented on #147
Open Infrastructure Maps have switched from old raster tiles to vector tiles, the raster tiles have been deprecated. They have mentioned about this in a [tweet](https://twitter.com/openinframap/status/1052187991760916480).

The new tileJSON is defined in https://openinframap.org/map.json .

[2019-03-21 15:08] ananya commented on #32
I would like to work on this. Is the issue still open? Please guide me on how to proceed

[2019-03-21 15:23] sagarpreet-chadha commented on #32
Yes please :)

On Thu, 21 Mar 2019, 20:38 Ananya Agrawal, <notifications@github.com> wrote:

[2019-03-21 15:28] ananya commented on #32
This will be my first contribution to the project, please help me with how to start.

[2019-03-21 20:52] rkpattnaik780 commented on #139
@sidntrivedi012 the minimum zoom for OSMLandfillMineQuarryLayer has been deliberately set to 7, which enables the checkbox only when zoomLevel >= 7. We might remove the minimum zoom if it does not break anything else :).

[2019-03-22 17:21] rkpattnaik780 commented on #147
@jywarren I had mailed about this issue to Mr. Russ Garret, a maintainer of OpenInfraMap. I got this reply : -

<b>" Those URLs are for the old raster tiles which are no longer in use.
Openinframap now uses Mapbox vector tiles which are less easy to use
in Leaflet unfortunately. You can use the Leaflet.VectorGrid plugin
with the vector tile details in https://openinframap.org/map.json but
you will

[2019-03-22 18:51] jywarren commented on #147
Oh, this is really helpful information, though! Thank you!

Hmm, yes, i tihnk we would have to try to refactor this layer
significantly. But perhaps we could start by searching for and linking to
some examples of Mapbox vector tiles being used in Leaflet, as a model to
look to?

On Fri, Mar 22, 2019 at 1:21 PM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-22 18:52] jywarren commented on #139
I think we were potentially worried about making too large a query to the
server -- like, requesting all data for a huge swath of the planet. So,
perhaps we need to look closer and just be careful about exceeding API
limits?

On Fri, Mar 22, 2019 at 4:49 AM Siddhant N Trivedi <notifications@github.com>
wrote:

[2019-03-22 19:47] rkpattnaik780 commented on #147
@jywarren  that seems appropriate.

[2019-03-23 19:31] ephemeralwaves commented on #119
I have the PFAS layer working for US contamination sites. I'm not sure how code review works but here is the [working example](https://thinkcolorful.org/leaflet-environmental-layers/example/index.html#4/48.78/-93.60/BL2-PFAS) of my layer implemented via [my repository](https://github.com/ephemeralwaves/leaflet-environmental-layers).  Feedback is appreciated. I'm also not sure if I should expand th

[2019-03-23 19:43] ananyaarun commented on #134
@jywarren , @gauravano  I went through the project Extend Leaflet Environmental Layers with new layer menu and layer addition workflow carefully.It looks very interesting to me !! I did start contributing to this repository as well apart from plots2 to try and understand the workflow here.

I have also worked on a project closely related to this previously.
Here is the link https://github.com/anan

[2019-03-23 20:37] mmmelissa opened #150 "Fix low hanging jshint errors"
As a developer, its hard to ulilize jshint if there are many previous unfixed/un-ignored errors. In order to reduce noise and increase developer use of jshint, we should fix as many errors as possible.

[2019-03-23 20:51] mmmelissa commented on #150
@jywarren, I am trying to push a new branch  for this, and it looks like I dont have permission. Could I be added to this project? Thanks!

[2019-03-23 20:54] jywarren commented on #150
Hi! For sure although I'm on my phone right now not my laptop, so I will ASAP... The other thing you can do is push to your own GitHub remote branch and then open a pull request from there. I believe git will prompt you to open a pull request once you push, or you can go to the front page of this repository after pushing and I believe a prompt will appear then.

Thank you very much! 🎉

[2019-03-23 21:17] mmmelissa opened #151 "Untrack files in dist folder"
Is there a reason we are tracking stuff in the dist folder? It seems redundant to track concatenated/minified/compiled code.

[2019-03-23 21:23] gauravano commented on #151
Agree that we should stop tracking /dist. :+1:

[2019-03-24 14:06] anu-shree commented on #139
I want to work on this issue!
We can fix this issue by displaying an alert for zoom level < 7 and of keeping the checkbox disabled.

[2019-03-24 18:45] gauravano commented on #134
Hey @vaarigupta, this issue is for Outreachy and so not available for claiming. But, we would love to have your help with other issues of this repo https://github.com/publiclab/leaflet-environmental-layers/issues/. Thanks!

[2019-03-24 18:50] gauravano commented on #134
hey @ananyaarun, if you're eligible for raising multiple proposals for a single org, then sure we would love to see your proposal. Yes, please go ahead and mention all the contributions you did in this repo. Thanks!

[2019-03-24 18:59] ananyaarun commented on #151
@mmmelissa , can i have more info regarding this issue ? Thanks :)

[2019-03-24 20:18] mmmelissa commented on #151
@ananyaarun, I worded that poorly. I mean list dist in .gitignore so that it isnt tracked by git. I see that there is some a CSS source file in the dist folder, so maybe that needs some rethinking. I will open up a ticket about that for discussion.

[2019-03-24 20:47] mmmelissa opened #152 "For discussion: create a css file in the src file and move non-inline styling within"
As a developer, I would like all of the styling to be in one place. This makes code more maintainable and easier to troubleshoot by following the convention about separating concerns.

In this case, by separation of concerns, Im advocating that html should focus on structure and not include styles, css should be in its own files, and js focusing on business problems should refrain from manipulatin

[2019-03-25 13:37] vaarigupta commented on #134
Ya I am willing to participate in outreachy this year. So please suggest me how can I make contribution?

[2019-03-25 14:28] jywarren opened #153 "At closer zoom levels in MapKnitter layer, display DistortableImages instead of markers"
This will be based on https://github.com/publiclab/Leaflet.DistortableImage/

The code for this layer is at: https://github.com/publiclab/leaflet-environmental-layers/blob/master/src/mapKnitterLayer.js

Any help appreciated!

[2019-03-25 14:59] jywarren commented on #151
We've started tracking dist in the `stable` branch only in https://github.com/publiclab/image-sequencer/, but kept them in the final releases so people can easily install them with npm/yarn. Could we do that here too? Thanks!

[2019-03-25 16:09] mmmelissa commented on #151
Using npm as a publisher is not something I have done before, so this is new and interesting to me.  From what I have just read, publishing to npm excludes files in `.gitignore`. If `.npmignore` is present it completely ignores `.gitignore`. Unfortunately, [typical use of `.npmignore` use opens up security issues ](https://medium.com/@jdxcode/for-the-love-of-god-dont-use-npmignore-f93c08909d8d), s

[2019-03-25 17:38] rkpattnaik780 commented on #123
@jywarren what about using a floating action button to toggle between marker icons and dots?

[2019-03-25 17:39] jywarren commented on #151
Thanks for the great research! @publiclab/is-reviewers take a look here,
what do you think about whitelisting using `files`?

However, I think it's not a bad idea to include /src/ because it doesn't
weigh a lot, and could be helpful for debugging -- i've definitely dove
into a sub-packages source before to track an error. Thanks!

On Mon, Mar 25, 2019 at 12:10 PM Melissa Nunes <notifications@githu

[2019-03-25 19:51] jywarren commented on #123
This could work, but actually we may want to make a general-purpose
JavaScript method to do the toggling, and then demonstrate it with a button
(but apart from the demo, leave it to whoever's using the library to decide
how this will be triggered). Make sense? Thank you for your input!!!

On Mon, Mar 25, 2019 at 1:39 PM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-25 20:38] jywarren commented on #119
Hi! Oh great -- would you like to open a pull request or have you already?
Thank you!!!

On Sat, Mar 23, 2019 at 3:31 PM ephemeralwaves <notifications@github.com>
wrote:

[2019-03-26 01:43] mmmelissa commented on #151
Cool. Have you tried to debug/edit a sub-package by [referencing a local destination](https://docs.npmjs.com/files/package.json#local-paths) containing cloned source code from git? Basically, your dependency would look like this:

`{
  "name": "baz",
  "dependencies": {
    "bar": "file:../foo/bar"
  }
}`

This is nice because you can push whatever changes you made directly back to the remote with

[2019-03-26 15:44] ephemeralwaves commented on #119
Just opened a PR!

[2019-03-27 08:22] sidntrivedi012 commented on #139
Hey @anu-shree , though it has been assigned but still you are welcome to work on this issue. If you find the solution, do make the PR.

[2019-03-27 08:25] anu-shree commented on #139
Thanks! I will soon send a PR!

[2019-03-27 08:29] sidntrivedi012 commented on #129
@jywarren @gauravano Is anyone working on it? If not, I can fix it. Just requires changing of a link

[2019-03-27 13:02] gauravano commented on #134
Hey @vaarigupta, I think for being able to raise proposal, you need to solve a issue of this project. So, go through https://github.com/publiclab/leaflet-environmental-layers/issues and start with issues, which looks good to you. We don't have much `first-timers-only` issues in this project, but I will see if some can be created.

Thanks!

[2019-03-27 20:17] gauravano commented on #129
Go ahead @sidntrivedi012. Thanks!

[2019-03-28 15:13] rkpattnaik780 commented on #136
@jywarren I have made a [codepen sample](https://codepen.io/rkpattnaik780/full/MxMRBP) where luftdaten layer has been implemented. Does it seem sufficient to be included as a sample for guide to add new layers ?

[2019-03-29 15:51] jywarren opened #156 "(collapsible) sections in the Leaflet layers browser control interface"
Looking at the current menu, there are just too many layers -- we should organize by type!

![image](https://user-images.githubusercontent.com/24359/55244849-5a593800-5218-11e9-9d5f-7dcfdb05f362.png)

https://leafletjs.com/plugins.html#layer-switching-controls has a LOT of options!

https://github.com/ismyrnow/leaflet-groupedlayercontrol -

![image](https://user-images.githubusercontent.com/24359/

[2019-03-29 15:53] jywarren commented on #134
Hi! Actually there are so many parts of this that we expect it will take more than one Outreachy term to complete, so we are happy to have contributions before then as well! Please feel free to pick out a piece of this and give it a try. I might recommend https://github.com/publiclab/leaflet-environmental-layers/issues/156 is mainly the installation of a plugin, so it could make a good self-contai

[2019-03-30 00:56] jywarren commented on #136
sure, anything will probably help! Thank you!

On Thu, Mar 28, 2019 at 11:13 AM Ramakrishna Pattnaik <
notifications@github.com> wrote:

[2019-03-30 01:05] jywarren opened #157 "Add industrial sites (in RI) database"
![image](https://user-images.githubusercontent.com/24359/61895038-aaeb5400-aedf-11e9-883a-4a300d5a2242.png)

https://datasci.brown.edu/socio-eco-project/

This may take some work, as it includes a timeline slider! But it uses MapBox.js (built on Leaflet), possibly to achieve it. Needs some research!

[2019-03-30 08:31] sidntrivedi012 commented on #129
Closing it since it has been solved in #155.

[2019-03-30 08:31] #129 closed

[2019-03-30 19:36] ananyaarun commented on #156
Hmm, Indeed there are a lot of layers here.
@jywarren can we organize it like this ? Open infra maps can go under resources, Justice maps under race, Clouds precipitation etc under weather ?
There are a few layers though i don't seem to understand where to fit so maybe they can be a group of their own ?

[2019-03-31 13:25] jensiner commented on #146
As a first-time contributor I am interested in working on this, can I do it?

[2019-03-31 14:59] ananyaarun opened #159 "Add PR and issue template in the .github folder"
# Description
Currently the .github folder of the repo has only a FTO issue template.
# Solution
The regular issue template and PR template can be added here like other public lab repositories.
https://github.com/publiclab/plots2/blob/master/.github/ISSUE_TEMPLATE/ISSUE_TEMPLATE.md
https://github.com/publiclab/plots2/blob/master/.github/PULL_REQUEST_TEMPLATE.md

If approved I'd like to add these t

[2019-04-01 08:28] ananyaarun commented on #134
@jywarren @gauravano is extending leaflet layers an outreachy project or a gsoc project or both ?
I see it listed under both the outreachy website and this link for gsoc ideas
https://publiclab.org/wiki/gsoc-ideas

[2019-04-01 09:06] rkpattnaik780 commented on #146
@jensiner sure, go ahead. Thanks!

[2019-04-01 10:53] gauravano commented on #134
It's part of both

On Mon, Apr 1, 2019 at 1:58 PM Ananya Arun <notifications@github.com> wrote:

[2019-04-01 15:36] jywarren commented on #156
Perhaps we need to be careful about categorizing everything... let me
brainstorm a bit with publiclab/community-reps... thanks though, this is
going to be great!

On Sat, Mar 30, 2019 at 3:37 PM Ananya Arun <notifications@github.com>
wrote:

[2019-04-01 19:14] jensiner commented on #146
I am confused-- when I try to look up the link: https://publiclab.github.io/leaflet-environmental-layers/example/index.html#3/43.00/-9.87/BL2-ToxicR it does not show an errors. It is the URL for the coordinates 43.00 and -9.87 that is causing the error, right?

[2019-04-01 19:22] rkpattnaik780 commented on #146
I guess the latest commits haven't been deployed, check it locally, the loader doesn't stop. The error is from the API end, at coordinates 43.00,-9.87 a call is made to [https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/43/PREF_LONGITUDE/BEGINNING/9/rows/0:300/JSON](https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/43/PREF_LONGITUDE/BEGINNING/9

[2019-04-01 19:46] jensiner commented on #146
![image](https://user-images.githubusercontent.com/8310280/55355013-263e7b00-5495-11e9-894c-539077b0bbb9.png)
if when I view the program locally it shows up like this (spotty) as opposed to the entire map, is that a problem with how I am looking at the program on my machine (i.e. I don't have something installed) or does it have to do with the error we are dealing with?

[2019-04-01 19:50] rkpattnaik780 commented on #146
It must be due to some uninstalled dependencies. Try installing the dependencies again. Thanks :)

[2019-04-02 01:05] jywarren commented on #159
This sounds super! We'd love your help with this! You might look at https://github.com/publiclab/plots2/issues/3681 to get started? Thanks!

[2019-04-03 11:55] ananyaarun opened #161 "Rename Baselayers to add names like greyscale,streets,satellite etc"
# Description
Currently the map has 4 baselayers named
- Baselayer1
- Baselayer2
- Baselayer3
- Baselayer4

It is not very intuitive for a general user to understand what these layers mean or display.

# Solution
The layer names can be changed to something more descriptive such as
- Standard
- Grey-scale
- Streets
- Dark

[2019-04-03 11:56] ananyaarun commented on #161
@jywarren , @gauravano , @sagarpreet-chadha
Any better suggestions for the names ?
I would like to work on this issue once finalized and approved :)

[2019-04-03 19:17] mmmelissa commented on #150
Hey @jywarren,did you forget about me?:(  Could I be granted push access so I can push these changes? Thanks.

[2019-04-04 14:21] gauravano commented on #161
Nice idea @ananyaarun! Let's wait for Sagarpreet's and Jeff's approval before start here. Thanks!

[2019-04-04 15:11] sagarpreet-chadha commented on #161
Hi @ananyaarun ,
Yes you may go ahead and solve this . Great thinking :)

[2019-04-04 18:53] gauravano commented on #150
I guess @jywarren is busy. He hasn't appeared today on any issue. You can open PR for this one. Thanks!

[2019-04-04 21:08] jywarren commented on #150
So sorry! Yes, i'm trying to catch up but very very behind! You should be able to push to your own remote branch at https://github.com/mmmelissa/leaflet-environmental-layers (or `git@github.com:mmmelissa/leaflet-environmental-layers`) without needing push access, and then you can open a pull request -- for more on this, see the article on "Github Flow" here: http://publiclab.org/developers#Resourc

[2019-04-05 22:07] #150 closed

[2019-04-05 22:11] jywarren commented on #71
Here's a great model for a test suite by @sagarpreet-chadha -- https://github.com/publiclab/leaflet-blurred-location-display/pull/52/files

We could duplicate here! We should do an initial PR just to install it and assert something basic. Then we can follow-up by writing tests that attempt adding each new layer!

[2019-04-06 20:37] jensiner commented on #146
Does it make sense to then program a badly handled get request as an error and tell stop the loading?

[2019-04-06 21:40] jensiner commented on #146
The error happens when a latitude and longitude gets converted to an integer and then it just continues loading because it's a bad URL. I tried in toxicReleaseLayer changing the parseInt that is currently written around the selected longitude and latitude to parseFloat to preserve the decimal instead of converting to an integer when the function links to this  https://iaspub.epa.gov/enviro/efservi

[2019-04-07 07:43] rkpattnaik780 commented on #146
I think this will work.

[2019-04-07 07:58] gautamig54 opened #164 "Weekly Community Check-in #17 - Enhance User Experience"
Hi everyone 👋 !

We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. The goal of our Community Check-In is for every community member to share something about their work from the past week and about their cu

[2019-04-07 17:15] jywarren commented on #164
Thanks for a great check-in!!!

Hey, everyone! @souravirus has just completed a really huge refactor of all
of plots2 into Bootstrap UI v4.0!

We'd love help trying it out and finding any issues -- read more here!

https://github.com/publiclab/plots2/pull/3937#issuecomment-480566033

@souravirus @gauravano is that the right place to leave any feedback?

We're going to try to merge this very soon,

[2019-04-07 17:31] gauravano commented on #164
Hey everyone!

Test the website at https://unstable.publiclab.org and if you come across any issue, report them at https://github.com/publiclab/plots2/issues/5182. If you are interested in going through the Bootstrap 4 Upgrade, then check out  https://github.com/publiclab/plots2/pull/3937

The bootstrap upgrade is done by @Souravirus. Really AWESOME work :tada: :100:

[2019-04-07 17:34] gauravano commented on #164
@marieram @swiatek7 @kaunair @gauravano @publiclab/reviewers @publiclab/is-reviewers @publiclab/community-reps

@subhahu123 @An0u @Jaya738 @mgroovyank @shreyateeza @TANGL3SIT3S @nazeem1988 @karunagoyalk @Nirvikalpa108 @cassianoblonski @EngrEric @Anjalizi @GettyOrawo @coderbeetle @corbettbw @govindjeevan @gautamig54 @daddyjab @emestabillo @letnewKid @srujana121 @jazdao @ChinwenduSilvia @aggarwal19

[2019-04-07 17:37] gauravano commented on #164
@shubhi2000 @Priyak5 @vaarigupta @techchic @ananya @hc-barker @edwd42 @PritiShaw @themonster2015 @supriya-kotturu @AnthoniaOkafor @jtmims @scheleon @mahmodHammad @santushk @jillpena @stoic-plus @vaarigupta @alonpeer @madeofhuman @ibnjunaid @HarshKhandeparkar @aashna27 @Harshithpabbati @niravasher @mmmelissa @madhavsarpal100, @sameersidd, @Anupam-dagar, @stephenmasih @jainaman224 @starcruizer @mahm

[2019-04-08 18:55] #136 closed

[2019-04-08 19:32] alonpeer commented on #164
I haven't had any time last week for OSS.

This week I would like to see my PRs merged ([this one](https://github.com/publiclab/plots2/pull/5338) and [that one](https://github.com/publiclab/plots2/pull/5307)), so we can finally get rid of the `node.legacy_view` column, and maybe get a bit of performance boost for page load.
I'd also be curious to know how the page load latency can be tracked. Is t

[2019-04-08 23:26] jywarren commented on #164
Hello all! A request from a cool sounding group in California:

I'd be happy to help create some first-timers-only issues in support of this if anyone is interested in being a mentor for this event!

[2019-04-09 00:24] #159 closed

[2019-04-09 04:44] sidntrivedi012 commented on #139
@anu-shree Are you working on it ?

[2019-04-09 17:25] ebarry commented on #164
Hi everyone,
This week I'm looking for someone who has been part of Public Lab for a long time, for instance @cesswairimu @SidharthBansal @gauravano @jywarren or others to review a 17 page report of the Software Contributors Survey, and then join a discussion on what our high-level takeaways should be.

[2019-04-10 13:51] jywarren commented on #164
Lots going on in communities and efforts we're connected with this week; Coraline Ada Ehmke (author of the Contributor Covenant code of conduct) asked on Twitter:

https://twitter.com/CoralineAda/status/1115391442778824705

We have so many kind people in this community who help each other each day. Consider replying to Coraline if you have a story to share!

[2019-04-10 15:55] skilfullycurled commented on #164
Hi everyone,

Just introducing myself.  I'm Benjamin and I'm a long time member of Public Lab but this is my first time working on the site.  I'm going to be working on [#5412](https://github.com/publiclab/plots2/issues/5412) issue which is sort of a situation of my own making from [#5268](https://github.com/publiclab/plots2/issues/5268), with its beginnings in [#1502](https://github.com/publiclab

[2019-04-10 15:57] alonpeer commented on #164
Great to have you onboard @skilfullycurled !
I'm pretty new to Public Lab, but have plenty of Ruby/Rails XP. Let me know if I can assist in any way 😄

[2019-04-11 07:08] gauravano commented on #164
Hi everyone,

This week's goals:
1. Going through mentions and old issues/PRs at plots2
2. Completing PR at Mapknitter
3. Some sorting out at LEL, PL.Editor, Community toolbox, IS and plotsbot

@ebarry count me in for the Survey reviewing and discussion.

For all the early career Ruby devs as well as seasoned ones, there is a mentorship program https://rubyme.org/ which pairs beginners with the me

[2019-04-11 10:46] sagarpreet-chadha commented on #164
@ebarry , i would love to take part in this discussion :+1: .

[2019-04-11 12:50] skilfullycurled commented on #164
Hey everyone,

Can I trouble someone to respond to a comment I left at https://github.com/publiclab/plots2/issues/5412#issuecomment-481789159?  Since the text on the pull request said to do X, Y, and Z before requesting the pull, I marked it as a draft pull request.  However, now the tests aren't running, and I didn't want to mark it for review without running them.  Should I close it and make a n

[2019-04-11 13:02] SidharthBansal commented on #164
Hi all, I missed you all last 2 weeks. I was busy with some important work. Now I am back with my zeal and energy.
@ebarry I will love to take part in the discussion. Can you please share the link?
@jywarren thanks for the comments from twitter. I will be glad to share act of kindness from PL. It is a great mentoring organisation.
@gautamig54 thanks for the awesome checkins.
@alonpeer it will be g

[2019-04-11 15:02] ebarry commented on #164
@SidharthBansal i have just shared the report document with you to your gmail address ending in 2996 -- looking forward to your comments!

[2019-04-11 15:07] ebarry commented on #164
@sagarpreet-chadha and @gauravano i have just shared with both of your gmail addresses ending in 97 also! thank you looking forward to your comments!

[2019-04-12 13:47] ebarry commented on #164
Thanks to those who reviewed the Report yesterday, it really advanced significantly and is basically done. I am working on posting it as a Research Note.

[2019-04-14 15:58] gauravano commented on #164
Anyone interested in opening next week's check-in?

[2019-04-14 16:02] HarshKhandeparkar commented on #164
@gauravano can I do that? I might be a bit late as I will have to it tomorrow night? Or should I do it next week? Doesn't matter to me.

[2019-04-14 16:04] gauravano commented on #164
Sure @HarshKhandeparkar! You can open check-in at your own convenience, maybe now, tomorrow night...

Thanks!

[2019-04-14 16:04] gauravano commented on #164
Also, how about opening next check-in at https://github.com/publiclab/Leaflet.DistortableImage/? Thanks!

[2019-04-14 16:05] HarshKhandeparkar commented on #164
Ok sure. Thanks. I will inform you if I am not able to open a check in this week.

[2019-04-15 17:10] sashadev-sky commented on #164
I will open tonight (ie. in like 8 hours) if @HarshKhandeparkar doesn't get to it!

[2019-04-15 17:13] HarshKhandeparkar commented on #164
Sorry @gauravano I was very busy travelling. I couldn't open a check in. Sorry for the delay but I completely forgot about this. Apologies

[2019-04-15 17:14] HarshKhandeparkar commented on #164
@sashadev-sky you can open the check in. Sorry again.

[2019-04-15 17:14] sashadev-sky commented on #164
@HarshKhandeparkar no worries!! Thank you for notifying, i'll open this week 👍

[2019-04-15 18:13] sashadev-sky commented on #164
New check-in open in [https://github.com/publiclab/Leaflet.DistortableImage/issues/215](https://github.com/publiclab/Leaflet.DistortableImage/issues/215)

This one can be closed! (I don't have the relevant permissions to do that in this repo)

[2019-04-15 18:25] sagarpreet-chadha commented on #164
Awesome , Thank you !!!

[2019-04-15 18:25] #164 closed

[2019-04-28 14:30] ebarry opened #165 "Add fracking infrastructure data from the Sane Energy Project"
Sane Energy Project is in alliance with fractracker

https://www.youareheremap.org

The You Are Here Map visualizes local fracking infrastructure connections in New York, Pennsylvania and New Jersey. The map is intended to connect people to local grassroots groups fighting gas infrastructure, and to be used as an educational tool for elected officials and community groups.

[2019-04-30 15:29] ebarry opened #166 "Consider adding EJAtlas dataset"
Environmental Atlas Dataset
https://ejatlas.org/about

Great points, but some of them in NYC (where i have most local knowledge) are generically placed on the map. Perhaps only some of the categories of points are appropriate to being into a LEL map

Tangentially yet relevantly, "EJAtlas is running on a custom built platform written in Ruby, on the Padrino framework." Sounds familiar!

[2019-05-07 20:57] jywarren opened #167 "Short-code generator for PublicLab.org"
People on PublicLab.org are embedding maps using these short-codes: https://publiclab.org/inline-maps

A typical shortcode is:

`[map:content:29.9:-90.0]` - showing content near that latitude and longitude

The map it generates is:

![image](https://user-images.githubusercontent.com/24359/57332648-2ca1c180-70e9-11e9-9efe-e6bce1dc6d7d.png)

I'd love to figure out a way to let people select layers t

[2019-05-08 07:32] sagarpreet-chadha opened #168 "Revamp LEL Architecture ."
The current architecture is that we have one file for each Layer which is working fine but seems not very scalable as there is redundancy of code in each layer file .

Let's brainstorm here on how to improve this ?  I would like to have ideas from everyone especially @sashadev-sky and @jywarren .

To Do's :

- [ ]  Write Tests (High priority) --- Should we continue with `Jasmine` or shift to anoth

[2019-05-08 07:37] sagarpreet-chadha opened #169 "Integration of LBLD into LEL ."
@jywarren ,
Do we have to add LBLD heatmap and other features to each layer of LEL ?

Am i getting this right 🤔  ?  Thanks !

[2019-05-08 09:11] sagarpreet-chadha opened #170 "Submitting LEL to Leaflet Plugins list"
Opened PR in `leaflet repository` here : Leaflet/Leaflet#6642 😄 🗺 !

[2019-05-08 20:30] ananyaarun commented on #168
@sagarpreet-chadha , I think this issue has a few more points in this regard https://github.com/publiclab/leaflet-environmental-layers/issues/134.
After feedback from @sashadev-sky and @jywarren , we can come up with a list of features and changes that can be implemented during the summer :)

[2019-05-08 20:31] jywarren opened #171 "NASA AREN project layer"
https://wayneresa.maps.arcgis.com/apps/webappviewer/index.html?id=9096590d0c394df89d8fffabed5cda39

It'd be great to a) show images in the popup and b) make this not included in the main list of layers, but allow it to be added in with a constructor option.

[2019-05-08 23:52] jywarren commented on #169
I think we should just choose one way to represent data, and then use it to
make a "public lab people" layer within LEL, and use it on
publiclab.org/people -- what do you think?

On Wed, May 8, 2019 at 3:38 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-09 07:04] sagarpreet-chadha commented on #168
Agreed @ananyaarun 😄 !
Congratulations on getting selected for Outreachy 🎉 .
Actually i wanted to discuss here some of those points from #134 (i kind of aggregated some of those issues here) . I would love to discuss with you here , you can mention some details from your proposal here as well . Thanks 🎈

[2019-05-09 11:59] jywarren commented on #169
That's right! Thanks!

On Thu, May 9, 2019, 2:50 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-05-09 15:14] ebarry opened #172 "possible datasource but not sure if API accessible: "One Soil Map""
AI-detected crops and fields for the US and Eurozone
https://map.onesoil.ai/

[2019-05-09 21:18] ananyaarun commented on #168
Thanks @sagarpreet-chadha :smiley: !!

This can serve as the planning issue for the outreachy project.
According to me the goals of this project can broadly be classified into these issues/improvements

1) Layer display and UI based issues
- color coding of layers
- improve structure in the layer selection bar
- demarcation between layer types (group similar ones under a category etc)
- add meanin

[2019-05-10 05:39] sagarpreet-chadha commented on #168
Awesome !!!

[2019-05-12 02:02] sashadev-sky commented on #168
Hi @sagarpreet-chadha Im sorry i'm a little behind with this repository but I am planning on catching up this week! My first question is what does LBLD stand for? I can't find a reference to that acronym

[2019-05-12 05:44] sagarpreet-chadha commented on #168
Hi @sashadev-sky , no problem . LBLD is another project in Public Lab : https://github.com/publiclab/leaflet-blurred-location-display . Thanks :+1: !

[2019-05-15 22:14] jywarren commented on #168
Hi, all! This is great. I wanted to chime in with some ideas! One is, that we could generally follow a MVC model/viewer/controller approach, although it wouldn't map perfectly... so, maybe a variant of this idea. @Rishabh570 has been working on MVC for https://github.com/publiclab/community-toolbox, and may have some useful input to help you guide your code structure, as might @IshaGupta18 and @na

[2019-05-18 18:58] ananyaarun commented on #168
Thank you so much @jywarren !! . Those are some really good points to take note of. :smiley:

[2019-05-18 19:08] ananyaarun commented on #168
Also @sagarpreet-chadha , shall i open a new issue as "outreachy planning issue" after taking points from this discussion , as i cannot edit the present checklist ?

[2019-05-19 03:56] sagarpreet-chadha commented on #168
Yes please go ahead :)

[2019-05-19 17:58] ananyaarun opened #173 "Planning Issue : Extend leaflet environmental layers"
**Planning issue for Outreachy project "Extend Leaflet Environmental Layers with new layer menu and layer addition workflow "**

**1) Layer display and UI based issues**
- [x] color coding of layers
- [x] improve structure in the layer selection bar (checkboxes and more info about each layer) #197 #194
(static template being developed)
- [x] demarcation between layer types (group similar ones unde

[2019-05-19 17:59] ananyaarun commented on #173
@jywarren @sagarpreet-chadha @gauravano , here is the planning issue for my project, taken from the discussions here #168

[2019-05-19 23:15] gauravano commented on #173
Hi @ananyaarun, sure we'll extend your authority. Also, you can create a project - https://github.com/publiclab/leaflet-environmental-layers/projects/new to manage the workflow once you get permissions. @jywarren also add this repo to https://github.com/orgs/publiclab/teams/soc/repositories. For now, I am adding labels. Not creating a project as you may be interested in doing that yourself (it's c

[2019-05-20 04:05] sagarpreet-chadha commented on #173
Agreed with Gaurav +1
@ananyaarun awesome :100:

[2019-05-20 04:09] #161 closed

[2019-05-20 06:26] sagarpreet-chadha opened #174 "Make people Layer with the use of LBLD ."
Continued from discussion here https://github.com/publiclab/leaflet-environmental-layers/issues/169 ,

- [ ] Make new layer - PLpeople Layer maybe ?

- [ ] Use people's API : `/api/srch/nearbyPeople?nwlat=" + NWlat + "&selat=" + SElat + "&nwlng=" + NWlng + "&selng=" + SElng`

- [ ] Add code from here : https://github.com/publiclab/plots2/blob/master/app/views/map/_peopleLeaflet.html.erb to fetch a

[2019-05-20 06:32] sagarpreet-chadha commented on #174
I had earlier integrated LBLD directly into plots2 in this PR : https://github.com/publiclab/plots2/pull/5358 , We can keep this PR in mind to care of the nitty-gritty involved . Thanks 😄 !

[2019-05-20 06:40] sagarpreet-chadha commented on #134
Added https://github.com/publiclab/leaflet-environmental-layers/issues/174 to the list of new layers 🗺 !

[2019-05-20 06:41] sagarpreet-chadha commented on #173
Noting @jywarren comment on revamping architecture https://github.com/publiclab/leaflet-environmental-layers/issues/168#issuecomment-492843352 😄 !

[2019-05-20 06:52] sagarpreet-chadha opened #175 "One liner code to add all layers ."
### Issue :
Currently in `plots2` and `mapknitter` we have to explicitly write code to add each layer which is a cumbersome process especially when we add new layers later in time .

### Proposed solution :

Lets give the facility to add all the layers using a single line of code :

`map123.addAllLayers()`
or
`L.layerGroup.addAllLayers().addTo(map123)`

This will eliminate the process to update co

[2019-05-20 07:33] sagarpreet-chadha opened #176 "Add npm package badge in Readme ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-20 07:36] sagarpreet-chadha opened #177 "Add Licence badge in readme"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-20 07:38] sagarpreet-chadha opened #178 "Add JS coding style badge in readme ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-20 07:51] ahmadkarlam commented on #176
I take this one

[2019-05-20 08:18] sagarpreet-chadha commented on #176
Awesome !!!

On Mon, 20 May 2019, 13:21 Ahmad Karlam, <notifications@github.com> wrote:

[2019-05-20 09:50] ananyaarun commented on #175
@sagarpreet-chadha , sounds great !!
Correct me if i am wrong but,
Does this imply all changes/ newly added layer will be reflected in plots2/mapknitter with one function call like map123.addAllLayers() ?
I'm still trying to understand the integration process and how its working wrt the codebase.
Thanks :)

[2019-05-20 10:24] ananyaarun commented on #173
@gauravano , I am not able to create a new project, I think it requires permissions ?

[2019-05-20 12:16] sagarpreet-chadha commented on #175
Yes that is correct :)

[2019-05-20 12:19] sagarpreet-chadha commented on #173
Yes it requires permission , lets wait for @jywarren to assign these permissions . Thanks !

[2019-05-20 13:14] #176 closed

[2019-05-20 18:07] ananyaarun opened #180 "npm install fails in the latest version of LEL"
## Description
Due to redundant code in
- index.html
- LeafletEnvironmantalLayers.js
npm install fails to build resulting in errors on console.

[2019-05-20 18:35] ananyaarun commented on #180
@sagarpreet-chadha @gauravano , while trying to solve this, i redid my local installation and now i am getting this error ... not sure if it due to npm version problem.

![error](https://user-images.githubusercontent.com/32260628/58043656-5fbd6980-7b5b-11e9-9d9c-42d63af7b382.png)

I installed both popper and leaflet as shown in the warnings using npm install.
I even installed the optional dependen

[2019-05-21 04:00] sagarpreet-chadha commented on #180
Hey , i will take a look at this later today .
Was nodes modules created after you ran npm install ? I think it is related to Linux OS .

[2019-05-21 04:28] ananyaarun commented on #180
Yes it was, and I deleted that folder every time I ran npm install again while trying.

[2019-05-21 05:57] ananyaarun commented on #140
@avsingh999 , are you still getting these errors ?

[2019-05-21 07:59] ananyaarun opened #182 "Add base layers to readme with screenshots"
## Description

In PR #163 , The base layers were named as standard, grey-scale, streets and dark.
This may be confusing to understand for a new user and documentation is currently missing for this.

## Solution

Add documentation with screenshots to readme.md.

[2019-05-21 09:51] ananyaarun commented on #180
I tried to clear cache ` npm cache clean --force` and tried again as well , but still doesn't seem to work.
Could the package-lock.json be causing some issues here ? I deleted this as well and tried again but still there is some errors :confused:

[2019-05-21 11:31] ananyaarun commented on #156
@jywarren , do u have any suggestions on how to handle the demarcation btw layers ? I'll look into it this week and make the layer menu more structured.
would be great to know your inputs and suggestions whenever possible :smiley:

[2019-05-21 15:57] jywarren commented on #156
between layers in the menu, or in the map itself? I'd love to work through
some mockups on this! feel free to use pages from
https://docs.google.com/presentation/d/1TCZoTfuhamRVrUak8aDgqJAwSgyhRtZg2Pgacl2_4zc/edit#slide=id.g558b0e2e98_1_0,
you can just copy the page and make an edit, and leave your name on it to
show you're working in there. Thanks!!!

On Tue, May 21, 2019 at 7:32 AM Ananya Arun <

[2019-05-21 18:12] sagarpreet-chadha commented on #180
Hey @ananyaarun , this is weird error .
 There were some vulnerablities issue that i just resolved . Can you try again to run npm install  ? Make sure you have latest code on your PC .
Do tell me if the error still persists ? Thanks !

[2019-05-21 19:06] ananyaarun commented on #180
Hey @sagarpreet-chadha
My branch is even with master and i cloned the repo again and ran npm install ... still not working though and i get the same old errors on running npm audit fix.

![notworking](https://user-images.githubusercontent.com/32260628/58123301-281cf300-7c29-11e9-8ed2-b7e0bc360213.png)

Whats interesting is I tried to build someone elses fork , which is a few commits behind master

[2019-05-21 22:16] gauravano commented on #177
Hi @ahmadkarlam, you can work on this one. Thanks!

[2019-05-22 05:17] ananyaarun commented on #156
Between the layers in the menu. Something like the leaflet grouped layer control :)
I'll give it a try
Thanks !!

[2019-05-22 05:56] sagarpreet-chadha commented on #180
Okay , Can you send screenshot of the console in browser ?

[2019-05-22 06:13] ananyaarun commented on #180
Here is the screen shot , Oh ok I'll try running npm install again on the latest version.
![console](https://user-images.githubusercontent.com/32260628/58151287-d3a86080-7c86-11e9-905c-932f8e1a813f.png)

[2019-05-22 06:41] sagarpreet-chadha commented on #180
Thanks @ananyaarun , I am now pretty sure that this PR https://github.com/publiclab/leaflet-environmental-layers/pull/130 was the issue .
You can send the PR for this :)
PS : Make sure that leaflet.js is added as a script in head , and all scripts are loaded in the head , and of course removing the redundant code will solve this .

[2019-05-22 09:23] ananyaarun commented on #180
@sagarpreet-chadha , I did this but looks like there is a code redundancy issue in dist/LeafletEnvironmentalLayers.js lines 21298 to 21896 ... var polygon is defined twice due to which some variables and functions are not getting defines correctly. Can u confirm if this is the case actually ?
I'm trying to fix this too now :)

[2019-05-22 11:04] ananyaarun opened #184 "Redundant code in index.html and issues with meta tags"
## Description
The base layers and overlay layer variables are defined twice in index.html.
The meta tag should be inside the head tag but has been placed outside head.

## Solution
Remove redundant code and nest the tags correctly

[2019-05-22 11:13] ananyaarun opened #186 "Increase layer menu width in layer select dropdown"
## Description
The current layer menu is too small due to which some of the layer names spill to the next line making the menu crowded
Ex : Indigenous lands territories , indigenous land languages

![sizebefore](https://user-images.githubusercontent.com/32260628/58042351-16b7e600-7b58-11e9-85a6-f930e3c09a60.png)

## Solution
- Layer width can be changed to something like 250px from 200px to fit al

[2019-05-22 11:13] ananyaarun commented on #186
@sagarpreet-chadha , I opened this as a new issue and changed the previous issues name to keep it as a reference for users of this repo whenever npm install fails :)

[2019-05-22 11:46] sagarpreet-chadha commented on #180
Hey,
I think leaflet.js script file is missing in index.html , can you try to put that just below head tag (at the top of other script files) .
Also we do not change the code in dist folder , if there is corresponding code in src folder , you can open an issue and tag me there . After changing src files we use command grunt build to make file in dist folder .

From the error in console , hopefully

[2019-05-22 12:24] ananyaarun commented on #180
do you mean these as given on the leaflet website ?
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
    integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ

[2019-05-22 15:04] jywarren commented on #168
Hi, all! I wanted to introduce @rarrunategu1, who's starting some work with us at the Providence office, and who I was hoping could pitch in on a few issues as well. While the architecture and structure of the library progresses, I was hoping @rarrunategu1 could try working up a static HTML mockup of the new "table" menu in [this comment above](https://github.com/publiclab/leaflet-environmental-la

[2019-05-22 15:28] jywarren commented on #173
OK, i added @ananyaarun -- exciting! Thank you!

[2019-05-22 15:55] sagarpreet-chadha commented on #168
Hi @rarrunategu1 :smile: , Welcome to the community :)

[2019-05-24 05:43] ananyaarun commented on #186
This is how increasing layer menu width looks like

![lel1](https://user-images.githubusercontent.com/32260628/58305218-e650a000-7e14-11e9-84ad-7a2195563b7f.gif)

[2019-05-24 09:50] ananyaarun opened #188 "Categorize leaflet environmental layers based on type"
## Description
Currently there are too many layers in LEL menu and it needs organization

## Solution
Heading can be added using simple html tags to create a menu like this

![lel2](https://user-images.githubusercontent.com/32260628/58319348-5e2fc200-7e37-11e9-91a7-111e7d854903.gif)

[2019-05-24 09:52] ananyaarun commented on #188
@jywarren @sagarpreet-chadha what do you think ?

[2019-05-24 09:55] ananyaarun commented on #156
Hi @jywarren , I was able to get this kind of grouped layer menu look with simple html tags
Here i have opened an issue #188
Let me know what you think :smiley:

[2019-05-24 13:10] ananyaarun opened #189 "Change Base layer onload to standard from greyscale"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-05-25 16:09] AnshitaVishwa commented on #189
@ananyaarun  should I start doing work on this issue?

[2019-05-27 04:40] cryptoclidus commented on #178
Hi, I'd like to claim this FTO issue please!

[2019-05-27 05:21] cryptoclidus commented on #178
@sagarpreet-chadha Thanks for opening this issue! I've made the changes and submitted my first pull request.

[2019-05-27 09:15] ananyaarun commented on #189
Sure @AnshitaVishwa , Lets just wait for @sagarpreet-chadha opinion once.
Thanks !!

[2019-05-27 09:27] #178 closed

[2019-05-27 09:44] #189 closed

[2019-05-27 12:22] ananyaarun commented on #186
@sagarpreet-chadha , can I open a PR for this , or is it better to wait for the redundancy issue to be solved, to avoid conflicts in the index.html file ?

[2019-05-27 14:43] sagarpreet-chadha commented on #186
Yes lets wait :)

On Mon, 27 May 2019, 17:52 Ananya Arun, <notifications@github.com> wrote:

[2019-05-28 02:01] rarrunategu1 opened #192 "Static HTML mockup of the new "table" Menu in a templates folder"
Referenced in https://github.com/publiclab/leaflet-environmental-layers/issues/168

I plan on completing this within the next few days

![image](https://user-images.githubusercontent.com/29240939/58445508-ea0d4c80-80ca-11e9-8371-d20bbf2915f6.png)

[2019-05-28 02:43] rarrunategu1 commented on #180
Hello @sagarpreet-chadha.  I'm having the same issues where npm install is not installing leaflet or popper.  Should I just follow the instruction you gave to ananyaarun?
![image](https://user-images.githubusercontent.com/29240939/58446987-d1a03080-80d0-11e9-9838-c5842dee1dc3.png)

[2019-05-28 03:32] #184 closed

[2019-05-28 03:34] sagarpreet-chadha commented on #180
Hi @rarrunategu1 , i have just merged the PR which solves this issue . You can pull the latest code and try again . If the issue still persists , feel free to ping me . Thanks .

[2019-05-28 14:55] rarrunategu1 commented on #180
Hello,  I had the same issue even after the update but I solved it by running npm install -g npm instead and now I have a running application with a map.
These were the errors I was getting.
![image](https://user-images.githubusercontent.com/29240939/58487274-4d33c900-8135-11e9-9494-22a1885d234e.png)
I noticed that the leaflet it's trying to install is 1.5.1 but the package.json is referencing 1.3

[2019-05-28 15:18] rarrunategu1 commented on #192
@jywarren can you help direct me to where I can get the following picture for the html document?
![image](https://user-images.githubusercontent.com/29240939/58489923-3b085980-813a-11e9-94b2-4584d7ea5861.png)
I googled and found the rubber boots only.

[2019-05-28 15:26] jywarren commented on #192
Ah! I found that at the Noun Project: https://thenounproject.com - Thanks!

On Tue, May 28, 2019 at 11:18 AM rarrunategu1 <notifications@github.com>
wrote:

[2019-06-03 14:30] ananyaarun opened #195 "Move Layer menu popup to bottom right corner"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-03 14:39] ananyaarun opened #196 "update style of LEL menu"
The new public labs style guide specifies a certain style for the LEL menu on page 9

https://docs.google.com/presentation/d/1-XHlVn3KQxSjS5WzHgc1l1qvFwqUC5f3-7GXugUP9u4/edit?ts=5cab5403#slide=id.g573f56d3e0_1_12

The current style can be changed to fit this.

[2019-06-04 08:26] #196 closed

[2019-06-05 08:18] ananyaarun commented on #180
Closing this as this issue was solved in PR #185

[2019-06-05 08:18] #180 closed

[2019-06-05 11:47] ananyaarun commented on #71
@jywarren , yes i think writing tests in jasmine will be a good idea.
I'll start looking into solving this issue :)

[2019-06-05 12:15] sagarpreet-chadha commented on #71
Awesome :)

On Wed, 5 Jun 2019, 17:17 Ananya Arun, <notifications@github.com> wrote:

[2019-06-06 06:23] #186 closed

[2019-06-06 06:40] sagarpreet-chadha commented on #188
Yes great 😄 ! You can start work on this .

[2019-06-06 06:57] sagarpreet-chadha commented on #169
@jywarren , should i commence with this now ?
I can start with making the PLpeople layer based on the current architecture of the library . What do you think ?

[2019-06-06 07:03] sagarpreet-chadha commented on #173
Hey @ananyaarun , You can update the checklist above so that i can track your progress 😄 .
Also i think you can start with the second point soon (standardization of layers) . What do you think ?
Thank you !

[2019-06-06 10:11] jywarren commented on #169
That sounds great!

On Wed, Jun 5, 2019, 11:58 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-06-06 11:06] ananyaarun commented on #173
Yes, Even I wanted to start working on standardization of layers. Actually I have a few questions in this regard. Would it be convenient to discuss them with you sometime on gitter before I get started ? Thanks :smiley:

[2019-06-06 11:08] ananyaarun commented on #188
Sure, I'll start :)

[2019-06-06 11:12] sagarpreet-chadha commented on #173
Yes sure,
Or we can have the discussion in a seperate issue on Github so that people from different places can contribute to the discussion as well . What do you think?

[2019-06-06 11:14] ananyaarun commented on #173
Sure, I'll open an issue shortly including the key points to take care of while going about with the standardization. We can discuss there !!

[2019-06-06 11:25] ananyaarun opened #198 "Standardize Layer code in the LEL repository"
# Description
LEL is a growing library with a set of layers. Currently the process of adding new layers is not easily described and repo contains redundant code for different layers.

# What can be done
- find similarities in code btw layers
- remove redundant code and pass layer type as parameter to a standard layer display code
(common function which could be used to reduce redundant code in lay

[2019-06-06 11:29] ananyaarun commented on #198
@sagarpreet-chadha , while some layers have very similar code (almost same ) I noticed there are a few eg fractrackermobile layer, wisconsin layer etc whose functions are pretty different.

[2019-06-06 13:03] ananyaarun commented on #198
I guess one kind of custom code can be used for layers of a similar kind ie Mapknitter Layer SkyTruth Layer PurpleLayer Layer Toxic Layer etc, where we can have one function to add layer that takes its URL as a parameter ? Let me know if there are better ways to implement this. I feel this enhancement will take me a while , so I want to get started with it as soon as possible.

[2019-06-08 14:54] AnkitMishra17 commented on #195
I'd like to take on this issue.

[2019-06-08 15:02] ananyaarun commented on #195
Sure @AnkitMishra17 Thanks !!

[2019-06-08 15:49] AnkitMishra17 commented on #195
Generated PR #200

[2019-06-10 09:26] ananyaarun commented on #198
@sagarpreet-chadha ,do you have any ideas/ guidelines in mind for the standardization ?

[2019-06-10 09:53] sagarpreet-chadha commented on #198
Let's start the discussion keeping Jeff's idea here :+1:  https://github.com/publiclab/leaflet-environmental-layers/issues/168#issuecomment-492843352 in mind .

One possible approach is to make one custom class/function and pass parameters like URL , API parsing info. to it and call it for each layer ?
Also making UI code separable and making functions for UI like position of layer menu , ability

[2019-06-10 09:57] sagarpreet-chadha commented on #198
As we are extending Leaflet class to make layer currently , right? Let's implement this custom class by putting it inside a function which will recieve various parameters (as described in above) .
Then removing the redundant code from each layer and use this new custom universal function .

[2019-06-10 10:01] sagarpreet-chadha opened #201 "Add a badge on layer button to show number of active layers"
The title is self explainatory . Adding prototype soon here :smile: .

[2019-06-10 11:40] ananyaarun commented on #198
makes sense.
Right now there are many files with the same type of code (for the similar layers)
So after the refactoring , according to my understanding there would be one file along with other files with different layer code and from index.html we can call its functions by passing parameters here L.layerGroup.commonfunction(URL,API ....etc) ;

[2019-06-10 12:49] ananyaarun commented on #139
Hey, so over here I tried to reproduce this issue. On removing minZoom =7 , as @jywarren said data takes way too much time to load. On the otherhand , with min zoom levels defined it works well.

- we can either compromise on time and remove the minZoom =7
- or add a zoom in in bracket like the pressure contour layer

What do you think @jywarren @sagarpreet-chadha ?

[2019-06-10 15:24] sagarpreet-chadha commented on #198
Yes that is correct :smile:
@jywarren what do you think ?

[2019-06-11 13:49] ananyaarun opened #203 "Add grunt build instructions in readme"
As of now there are no instructions regarding installing and  running of grunt in readme.
This command is used to generate the files in /dist folder after making changes in /src folder
Instructions can be added to make this clear to a developer of LEL repo.

[2019-06-11 16:47] rarrunategu1 commented on #192
Thank you!  I'll send that over in just a couple of minutes.

[2019-06-11 17:21] #192 closed

[2019-06-11 17:49] #188 closed

[2019-06-11 22:36] jywarren commented on #203
This would be super. I think https://github.com/publiclab/image-sequencer/ and
even better https://github.com/publiclab/PublicLab.Editor/#installation has
a nice section you could copy, maybe?

On Tue, Jun 11, 2019 at 9:49 AM Ananya Arun <notifications@github.com>
wrote:

[2019-06-11 22:55] #203 closed

[2019-06-12 03:35] #139 closed

[2019-06-12 11:15] AnkitMishra17 commented on #195
Generated PR #205

[2019-06-12 12:31] #195 closed

[2019-06-14 06:28] ananyaarun opened #208 "Lagging of map in full screen due to large parsing of data"
## Description
In some layers, (like osm ) layer loading takes a lot of time (looks like the browser is hanging ) due to huge data being parsed.
A quick fix would be to allow layer loading only at zoom levels by indicating zoom-in in brackets along with the layer name.
But a more stable fix is necessary.

cc- @jywarren

[2019-06-14 06:34] ananyaarun commented on #208
This was fixed temporarily by adding a zoom-in next to layer name in #202
reference - https://github.com/publiclab/leaflet-environmental-layers/pull/202#pullrequestreview-248532730

[2019-06-15 20:54] ananyaarun opened #209 "Separate html css and JS code in index.html"
## Description
Currently the index.html file has all html css and js code together in one place.
This makes the file too big and hard to understand.
Like the other leaflet plugins , we can separate the js code in another file.

[2019-06-17 11:29] sagarpreet-chadha opened #211 "Add build status badge to readme ."
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-17 16:14] #174 closed

[2019-06-19 23:18] jywarren commented on #208
I think this can even be a permanent solution! But it might vary by region
- some areas with /much/ more data than others, you know? I'm so glad you
are working on this. Other layers will also need optimization!

Also - this idea that some layers are only enabled at some range of zoom
levels is (as you prob know) another part of the layer standardization
project. That layers could in their basic o

[2019-06-19 23:50] jywarren commented on #198
This sounds SUPER

[2019-06-24 09:06] ananyaarun commented on #208
Sure @jywarren makes sense :)

[2019-06-24 14:13] #209 closed

[2019-06-24 18:44] ananyaarun opened #213 "Separate html and css code in index.html file"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-06-24 18:45] subhamskm commented on #213
i want to take up this issue

[2019-06-24 18:51] ananyaarun commented on #213
Sure, go ahead :)
Also make sure to install and build the repo once before making a PR to make sure its working
https://github.com/publiclab/leaflet-environmental-layers#quick-setup-
Thanks !!

[2019-06-26 10:01] #213 closed

[2019-06-26 10:03] #211 closed

[2019-06-26 14:00] divyabaid16 opened #215 "Add Code of Conduct badge in readme"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-06-26 14:00] divyabaid16 commented on #215
Hi @joreneng would you like to try out this one?
Thanks!

[2019-06-26 14:06] divyabaid16 commented on #215
Oops, I was going to create this issue in Mapknitter and created here by mistake, but I guess this is fine here too. Do let me know if I need to close this issue.
Thanks!

[2019-06-26 14:18] sagarpreet-chadha commented on #215
This is great! Thanks :smile: .

[2019-06-26 18:22] joreneng commented on #215
@divyabaid16 I think I'll work on the other one instead, thanks!!

[2019-06-27 07:53] ananyaarun commented on #198
Reopening because other layers are yet to be standardized.
I'll try to look for the next most similar layers and follow a similar method for their standardization.
Thanks!!

[2019-06-28 14:54] sagarpreet-chadha commented on #112
On It 😄 !

[2019-06-28 15:16] jywarren commented on #112
thank you so much!!!

On Fri, Jun 28, 2019 at 10:54 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-06-28 16:01] sagarpreet-chadha commented on #112
Opening for other layers .

[2019-06-28 16:36] jywarren commented on #110
Hi @ananyaarun @sagarpreet-chadha  -- this will be an interesting one to try to work into the idea of standardized layers. In your new plan, does each layer have a kind of "info" properties, sort of like how each module in Image Sequencer does?

https://github.com/publiclab/image-sequencer/blob/2c58edfe9a8f201675d0d601e9771dbfa104c493/src/modules/Blur/info.json#L1-L15

One advantage here is that w

[2019-06-28 16:37] jywarren commented on #110
Link to #1 #198

[2019-06-28 16:41] #177 closed

[2019-06-28 16:41] #215 closed

[2019-07-01 11:08] ananyaarun opened #218 "Workflow for managing dist files"
# Description
Currently dist file are not in gitignore and hence huge lines of change needs to be merged in each PR. This leads to conflicts in dist files in other PR's etc. Dist files workflow are not very clear to a  new comers and they usually get stuck with the grunt build step.

# Solution
We can add dist to .gitignore
This has been done in IS repo here https://github.com/publiclab/image-sequ

[2019-07-01 16:50] jywarren opened #220 "Error in latest main branch on windrose layer ajax call"
Hi, all -- i'm trying to release some additional tweaks to the MapKnitter layer in #219 -- but seeing this error:

[code]

Note that in the MK code (in https://github.com/publiclab/mapknitter/pull/775) we are only showing the MK layer, so I wonder if we're making an assumption that the windrose layer will be there?

@ananyaarun @sagarpreet-chadha I'm hoping this will get featured in tomorrow's rel

[2019-07-01 17:25] jywarren opened #221 "Default to current layers in fullhash"
This relates to #33 #86 but I noticed that if we redirect to a URL like `mapknitter.org#6/44/-90/`, we get an error because we haven't specified a layer, in https://github.com/publiclab/mapknitter/pull/775 -- and I will add the layer name but wanted to change this behavior so it defaults to whatever layer is currently shown... can that work? @sagarpreet-chadha @ananyaarun

https://publiclab.github

[2019-07-01 20:48] ananyaarun commented on #220
Ok looking at it @jywarren

[2019-07-02 15:52] jywarren commented on #220
Thanks!!! This is being seen downstream as well: https://github.com/publiclab/plots2/pull/5971#issuecomment-507528597

This is a great rehearsal for publishing new versions later! It's nice to see that `plots2` will also help us catch such errors 😄

[2019-07-02 17:36] ananyaarun commented on #220
Hey, so as you said in the call today, basically there are no tests for this layer yet in LEL.
But I guess this broke some test during the integration process.

I'm figuring out writing tests. I'll start with the indigenous layers and once I'm done with that perhaps other layers will be easy.
cc @jywarren

[2019-07-02 17:47] jywarren commented on #220
Awesome!

On Tue, Jul 2, 2019 at 1:37 PM Ananya Arun <notifications@github.com> wrote:

[2019-07-03 01:45] sagarpreet-chadha commented on #220
Hey!
I think it is now solved in the last PR by me . As the windrose.js file was moved from /dist folder to /src folder via some FTO so we needed to change the URL of script file in plots2 . Thanks :)

[2019-07-03 17:56] ananyaarun opened #223 "Write tests for the indigenous layers"
Tests to be written for the 3 indigenous layers. Html fixture files can be loaded and tested.
- Territories
- Languages
- Treaties

[2019-07-04 19:51] alaxalves opened #226 "Can't install leaflet-environmental-layers using Yarn"
### Please describe the problem (or idea)

Currently we're having an issue when using Mapknitter, described [here](https://github.com/publiclab/mapknitter/issues/791).

When I `yarn add leaflet-environmental-layers` on the terminal I get the following output:

![image](https://user-images.githubusercontent.com/19597045/60685630-7d7c2f00-9e7a-11e9-9a52-96fda6d08272.png)

### Please show us where to

[2019-07-05 17:14] jywarren commented on #220
Hi, ok, thanks! Does this mean we no longer need to individually include it?

[2019-07-05 17:38] jywarren commented on #220
OK, i think i got the windrose one resolved by changing it's path from 'dist' to 'src'.

But I'm still seeing this error in the `stamp()` method, which seems to be part of Leaflet?

[code]

It all begins at this line:

`  var MapKnitter = L.layerGroup.mapKnitterLayer().addTo(Mapknitterunique);`

here:

https://github.com/publiclab/mapknitter/blob/40e21153fba5ed98bca2cc423e00885420158784/app/views/

[2019-07-05 18:01] jywarren commented on #220
Hmm, i'm really struggling with this @sagarpreet-chadha @ananyaarun can you see what's going wrong?

[2019-07-05 18:02] jywarren commented on #220
In local testing, the mapknitter layer loads. But i see the error and so the spinner never stops:

![image](https://user-images.githubusercontent.com/24359/60738772-7eba6400-9f2d-11e9-8377-205f3baf4984.png)

[2019-07-05 18:04] jywarren commented on #220
It looks like we're getting a `null` passed out of this function:

[code]

[2019-07-05 18:05] jywarren commented on #220
I see. I introduced code to check if there's an image. But now if there is no image, it passes back a null layer. Let's be sure it checks ahead of time and stops trying to make a layer. This was my fault, sorry!

[2019-07-05 18:19] #220 closed

[2019-07-05 18:21] jywarren commented on #220
Testing `v1.3.3` now!

[2019-07-05 18:23] jywarren commented on #220
Gah! @sagarpreet-chadha @ananyaarun my apologies, i forgot the dist files need to be built before publishing on NPM now. Doing that as `v1.3.4`!

[2019-07-05 18:26] jywarren commented on #218
Oops, did we start gitignoring the .css files too? Yes, but we didn't stop tracking them. So, for some reason we aren't seeing `dist` files from NPM anymore. Huh? Let me look, maybe npm is reading our gitignore?

[2019-07-05 18:26] jywarren commented on #220
Wait, something more complex is going on. Moving to https://github.com/publiclab/leaflet-environmental-layers/issues/218

[2019-07-05 18:27] jywarren commented on #218
Oops!

So, ok i will override in this way. Opening a PR.

[2019-07-05 18:29] jywarren commented on #218
https://github.com/publiclab/leaflet-environmental-layers/pull/228

[2019-07-05 18:32] #218 closed

[2019-07-05 18:54] jywarren commented on #220
Resolved!

[2019-07-05 19:00] ananyaarun commented on #220
Great !!

[2019-07-08 09:26] ananyaarun opened #230 "Update Code of Conduct using https://publiclab.org/conduct"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-07-08 09:28] ananyaarun commented on #230
Any first timer interested can take this issue up :smiley:
You can refer to this PR for help :
https://github.com/publiclab/plots2/pull/5362
Thanks !!

[2019-07-08 19:25] ananyaarun opened #231 "Weekly community Check-In #28 - Teamwork"
Hi everybody :smiley: !

We all at Public Lab :balloon:  - learn, grow, work, brainstorm ideas, contribute together so why not share about our _weekly goals and the awesome work_ we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past

[2019-07-08 19:26] ananyaarun commented on #231
@milaaraujo @kevinzluo @Rishabh570 @sashadev-sky @shubhscoder @sidntrivedi012 @SidharthBansal @cesswairimu @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @IshaGupta18 @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary

[2019-07-08 19:27] ananyaarun commented on #231
@aSquare14 @vaarigupta @alonpeer @aashna27 @harshithpabbati @jesus-montano @michelelong @cryptoclidus @mohamed-elalem @konolga

[2019-07-08 20:15] gautamig54 commented on #231
Great topic for the check-in @ananyaarun, "Teamwork"!
I have been inactive for the past two weeks due to medical issues, but I am all set to join back and work . I have missed quite a few issues and I am updating myself now.
I have been collaborating with @CleverFool77 for the past one and a half month and its been a great learning experience. I have got great help and support from my mentors @jyw

[2019-07-08 23:03] jywarren commented on #175
This is a cool idea. We could extend this to be something like:

[code]

This could make the basic constructor for this library quite easy, esp. versus this really long code:

https://github.com/publiclab/plots2/blob/929eb80e7a4b9d2dd628da2657e315dd7cbd57eb/app/assets/javascripts/leaflet_helper.js#L80-L212

How could we make this even simpler so you don't have to individually add all the layers to

[2019-07-08 23:10] jywarren opened #232 "Make dynamic demo using static html table menu design"
Building on https://github.com/publiclab/leaflet-environmental-layers/pull/193, let's get this working as an interactive demo!

[2019-07-09 04:44] gauravano commented on #231
Hi everyone,

Nice theme @ananyaarun!

Hmm, there are so many to share. This is one which I enjoyed most https://github.com/publiclab/plots2/issues/1934 because it took time, frustrated me but I learnt.

Also, if you're waiting for a review then feel free to mention me or @jywarren in respective Gitter channels. I hope everyone knows that we have repo-specific Gitter channels now - https://gitter.

[2019-07-09 05:10] aSquare14 commented on #231
@ananyaarun Great topic ! Public Labs has amazing teamwork. It is one of the most helpful communities and has helped me grow a lot. By mentoring in GCI and now GSoC, by reviewing PRs and creating FTOs, I have learnt a lot ! 👍
Have an amazing week everyone ! Get well soon @gautamig54 :)

[2019-07-09 05:17] sagarpreet-chadha commented on #231
Completely agreed with @ananyaarun , it was great fun to debug that issue in LEL . Glad we found it :)
Looking forward for more collaboration in the near future!
Thank you

[2019-07-09 14:17] alaxalves commented on #226
Fixed this here https://github.com/publiclab/mapknitter/issues/791

[2019-07-09 14:17] #226 closed

[2019-07-09 22:55] jywarren commented on #231
Hi all! I am feeling all warm and fuzzy seeing everyone's work begin to integrate and connect - from MapKnitter to leaflet-environmental-layers to Leaflet.DistortableImage to image-sequencer and more! That's teamwork for you!

Also - i just opened PR 6000 on plots2 ❤️

https://github.com/publiclab/plots2/pull/6000

[2019-07-10 06:10] CleverFool77 commented on #231
Hi everyone,
Me and @gautamig54 ar working on plots design revamp.
It had been great collaboration and experience so far. Cheers to constant discussions with our ideas and and amazing team @gautamig54 .
And Thanks @jywarren For clearing out custom search results feature. I guess I pestered you a lot in that. Thanks for being patient :heart:

[2019-07-10 06:20] kaustubh-nair commented on #231
Hi all!
Since @alaxalves and I are working on the same project, we're collaborating together almost all the time!
We've helped each other out on our PR's whenever one of us is stuck, and that makes fixing issues much easier!

This week I've been a little inactive since I was a bit ill. But I'm better now so I'm going to get back on the Mapknitter upgrade.
This week I'll be finishing setting up cod

[2019-07-10 06:44] divyabaid16 commented on #231
Hi everyone!
Great theme @ananyaarun and even I feel that Teamwork is the strength of Public Lab. From day one, I have seen this and I learned many things just by being the part of the discussion. Recently I had collaborated with @sashadev-sky and @jywarren for the multiple image export. Currently, I have been doing UI fix in Mapknitter.

GSoC Updates:

PR's created:
https://github.com/publiclab/m

[2019-07-10 12:36] ananyaarun opened #234 "Add instructions regarding testing to readme.md"
## Description

Recently Jasmine was set up in LEL and we are writing tests for the different layers.
We need to document this process atleast briefly for now in
 Readme.md and contributing.md files.

[2019-07-10 15:24] #234 closed

[2019-07-11 10:00] ananyaarun commented on #198
Hey @sagarpreet-chadha @rexagod @jywarren

we now have 2 standardized file
- one for indigenous layers - #207
- one for mapknitter, skytruth, odorreport and fractracker- #233

I noticed that some more layers for example
- luftdatedlayer
- openaqlayer
- opensense layer
- pfas layer
- purpleairmarkericon
- toxicreleaselayer

can be standardized with the same file used to standardize these : mapknitt

[2019-07-11 15:46] alaxalves commented on #231
Hi all.
I think that one of PublicLab's "attributes" is the great teamwork spirit we have. Since I have been working with this great team I had the opportunity to work with several members in several different stuff, including my GSoC partner @kaustubh-nair. During Rails 5, I worked collaboratively mostly with @kaustubh-nair and @sashadev-sky.

This past week I have fixed https://github.com/public

[2019-07-13 10:58] #230 closed

[2019-07-13 11:13] sagarpreet-chadha commented on #198
Hi @ananyaarun ,

If we try to understand the things that are unique in all these layers are :
1. URL of API
2. Parsing function of API
3. Marker code

right?

Can we make one file that accepts these 3 things as arguments ?
Then for each layer we just have to call this file's function and pass 3 arguments . Makes sense?

Thanks!

[2019-07-13 14:25] ananyaarun commented on #198
Hey @sagarpreet-chadha , true this can be done and this was my initial idea as well.
But a few problems with this method are -

1) Marker code is too long (20-30 lines in some cases ) to be passed from the layer.js file.
2) Some layers have certain extra functions that use/modify the same variables. For other layers these should not be modified. So we will have to use a if else structure no matter

[2019-07-13 14:28] ananyaarun commented on #198
I was thinking of like extending my previous PR for standardization to the similar remaining layers as well.
Like we pass just the layer name and everything else is taken care of in the file ir layercode.js file.

[2019-07-13 17:46] rexagod commented on #198
@ananyaarun Would that solve [your problem](https://github.com/publiclab/leaflet-environmental-layers/issues/198#issuecomment-511126061)? Loving the fact that you're considering making things dynamic, very cool! Let me know any specifics you'd like me to look at, though, I guess you've already got this figured.

Also, whenever in doubt about **_how_** to code things, feel free to refer this, I fin

[2019-07-13 17:49] sagarpreet-chadha commented on #198
This is super cool :heart: !

[2019-07-13 18:11] ananyaarun commented on #198
Thanks @rexagod !!
@sagarpreet-chadha also do you think we can extend my previous PR and follow the same method for the rest of the layers ?
Like this one -
#233

[2019-07-14 16:24] gauravano commented on #231
Anyone interested in opening next weekly check-in?

[2019-07-14 16:36] ViditChitkara commented on #231
I'm interested!

[2019-07-14 16:38] gauravano commented on #231
Great!

[2019-07-15 17:08] gauravano commented on #231
New check-in open at https://github.com/publiclab/mapknitter/issues/851. Thank you @ViditChitkara :tada:

[2019-07-15 17:08] #231 closed

[2019-07-23 01:39] #198 closed

[2019-07-25 17:24] jywarren commented on #157
Hi @ananyaarun @sagarpreet-chadha -- would it be possible to add this using the standard layers system? And, how easy is it to extend a standard layer with additional features like, say, a timeline range slider?

[2019-07-25 17:31] ananyaarun commented on #157
If this layer can use the same standard file then only a few conditions like the url, request data , add marker methods need to be added. This will be as an extension to the existing if else ladder.

If a new feature like displaying a timeline range needs to be added it just has to be written as a new function in the file.

[2019-07-26 17:01] jywarren commented on #157
That's awesome. Would you like to try taking a first pass at this?

Also, are you using a standard "popup generator" template function as part
of the new standard layers? Would there be some chance to provide easy
customization building on that, and is it documented in the README? This
will be a common way people will want to customize their layers.

Thanks Ananya, this is so exciting!

On Thu, Ju

[2019-07-30 15:39] ananyaarun opened #238 "Add new layers to the layer name color table in readme.md"
Hi, this is a [first-timers-only issue](https://publiclab.github.io/community-toolbox/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note th

[2019-08-08 08:14] ananyaarun commented on #157
Sure, soon after a few tests get working and are in place, I shall document the new standardized layers in readme.

[2019-08-09 06:58] jywarren commented on #157
awesome, thank you!

On Thu, Aug 8, 2019 at 2:15 PM Ananya Arun <notifications@github.com> wrote:

[2019-08-13 17:33] sagarpreet-chadha commented on #175
@ananyaarun and I have discussed the approach in the open call 👍 . We will be focussing on this issue now .

[2019-08-13 17:37] sagarpreet-chadha opened #239 "Use ES6 syntax and babel ."
Let's refactor code to use the ES6 syntax .
Advantages : Less code , more features :)

And ofcourse add babel integration to support all browsers .

[2019-08-13 17:40] alaxalves commented on #239
YES!!!!

[2019-08-14 09:59] j-bitmaker commented on #239
Great opportunity!
Can I help you with refactoring?

[2019-08-14 15:26] sagarpreet-chadha commented on #239
Yes i was thinking of starting the work this weekend, but you guys can start early in a branch named refactor_es6 and i can jump in later . Thanks!

[2019-08-14 16:48] jywarren commented on #175
awesome!

On Tue, Aug 13, 2019 at 1:33 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-08-18 18:03] sagarpreet-chadha opened #241 "Make seperate file for Constants ."
Constants include hard-coded coordinates, API URL, map center, map boundary, min zoom , max zoom,etc .

Thanks!

[2019-08-18 18:29] #169 closed

[2019-08-18 18:34] sagarpreet-chadha opened #242 "Adding base layer as a part of LEL API"
Quoting myself

Let' add the functionality to add BASE LAYERS from LEL API only .
`map123.addBaseLayer("greyscale")`

Where
[code]

[2019-08-19 14:21] #223 closed

[2019-08-19 16:02] sagarpreet-chadha opened #243 "Write detailed documentation of adding new layer ."
Quoting myself:

[2019-08-20 17:20] sagarpreet-chadha opened #245 "Lookback : Talk to User"
https://lookback.io/ allows you to get user perspective of UI .
Should we get one for LEL library in plots2 now or later?

Thanks!

[2019-08-20 17:26] jywarren commented on #245
For sure, we can set one up! We'd need:

a starting URL

 a prompt text - what are we asking people to do?

then i can set one up and generate a URL for it.

On Tue, Aug 20, 2019 at 1:21 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-08-21 15:51] ebarry opened #246 "datasource: Global Petrochemical Map from friends at Mapping for Change"
Similar in part to the Open Infrastructure Map that's based on OpenStreetMap, here's a new project from our friends at Mapping for Change that has some great data that we should cite:

https://globalpetrochemicalmap.communitymaps.org.uk/project/the-global-petrochemical-map?center=30.1475:-90.5795:8&categories=1418.1.1:20748.1,20749.1,20751.1,20752.1,20753.1,20755.1,20756.1,20757.1,20758.1,20759.1,

[2019-08-24 09:14] sagarpreet-chadha commented on #167
@jywarren ,
how does this regex looks?

[2019-08-24 09:14] sagarpreet-chadha commented on #167
https://rubular.com/r/QgZ3aYkOzoTPRS

[2019-08-24 11:12] sagarpreet-chadha commented on #167
Solving here: https://github.com/publiclab/plots2/pull/6204

[2019-08-24 11:19] sagarpreet-chadha commented on #232
Let's do this 👍

[2019-08-24 11:24] sagarpreet-chadha commented on #232
@jywarren , @ebarry
What exactly do we have to do here?
Following questions:
1. Clicking on layers name redirects us to where?
2. What are the checkbox for? There is no form submit button .
3. Add a report , file a report and Get a sensor links to ?

Thanks!

[2019-08-24 11:31] sagarpreet-chadha commented on #153
@jywarren ,
I will need to study LDI API for this .
If you can provide following details, it would be great help!

* So at zoom level lets say 15, we will replace marker with LDI image if it exists,right?

[code]

Does this function will help? If yes, then the image URL is in the mapknitter API (https://mapknitter.org/map/region/Gulf-Coast.json?minlon=-98.8&minlat=23.6&maxlon=-79.1&maxlat=31.8) ?

[2019-08-24 11:37] sagarpreet-chadha commented on #208
So restricting heavy data fetching layer to higher zoom level only?

[2019-08-24 11:45] sagarpreet-chadha commented on #110
Hi @jywarren ,

* I have checked the Leaflet URL hash, and we can share links with zoom level upto 18 .
https://publiclab.org/people#16/21.1257/57.1309/BL1

So following questions :

1. Remove all autozooming and autopanning from LEL?

2. In plots2, there is autozooming and autopanning based on your location, which we cannot use with Leaflet Hash .
- What happens now is that the URL pans and zooms

[2019-08-24 11:50] sagarpreet-chadha commented on #117
Hi @jywarren , i think we can close this issue because this is what is happening in most layers (in other layers we cannot do much because they offer API in this way) .

So there is 2  types of layers:
1. TileLayer : Which fetches tiles once and shows on map (no lagging problem here infact very fast like justicemap layers) .
2. That fetched from the API, so if the API has bounding box in params th

[2019-08-27 14:11] SKashyapD opened #248 "Creating data source for machine learning (Aerial image with environmental issues)"

[2019-08-27 14:22] SKashyapD commented on #248
Hello everyone
We are working on A machine learning model to detect environmental issues using aerial images.
please help us to create a dataset for it.
@jywarren

[2019-08-27 18:41] jywarren commented on #232
The layer names should direct us to any provided link in the layer info, as
described in
https://github.com/publiclab/leaflet-environmental-layers/issues/135. Each
layer should have a set of properties like "description" "title" "url" --
that can be used to populate this. If a layer doesn't have a URL to "read
more", we don't have to provide a link.

The checkboxes should toggle the layers on the

[2019-08-27 18:43] jywarren commented on #153
Ah so, for each map, we have to make an additional call to find the corner
locations of each image. The call is:

https://mapknitter.org/maps/MAPNAME/warpables.json

so for example, https://mapknitter.org/maps/pvdtest/warpables.json -- this
shows the URL of each image and the corner positions. These can be used to
construct the LDI object. Then we can just delete it when you zoom out
again. How do

[2019-08-27 18:57] jywarren commented on #117
So, the issue is that some layers, like the Wisconsin layer, are only
available for some regions. Each layer by default could be set to "global"
but for those which we're able to get a bounding box for (like, the widest
extent of the data from that layer), we can use that bounding box to tell
whether we should even be sending requests to that API at all. For the
Wisconsin layer, if we're looking i

[2019-08-27 19:31] jywarren opened #249 "Unable to see marker popups on publiclab.org/people map"
**We are preparing to participate in Google Code-in, and have reserved this issue for participants in GCI - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

I visited https://publiclab.org/people#5/37.533/-108.714/BL1 but got this JS console error when clicking markers:

[code]

Maybe we need to merge https://github.com/publiclab/plots2/

[2019-08-28 22:10] jywarren commented on #208
Yes, so adding to the #135 metadata that each layer could optionally provide, would be a zoom range that it'd be enabled!

[2019-09-02 15:53] ebarry opened #250 "Datasource: finding fires from space on eosdis.nasa.gov"
https://firms.modaps.eosdis.nasa.gov/map/ – finding fires from space

[2019-09-04 21:46] jywarren commented on #173
Hi all! I'm closing this as many items are done and the others have been nicely broken out into issues. I'll add one issue for ` follow standard methods for each layer like layer.show() layer.hide() layer.isVisible()` but otherwise, great work!

[2019-09-04 21:46] #173 closed

[2019-09-04 21:46] jywarren opened #251 "standard methods for each layer like layer.show() layer.hide() layer.isVisible()"

[2019-09-04 21:50] jywarren commented on #60
Closing in favor of new menu ideas in #232

[2019-09-04 21:50] #60 closed

[2019-09-04 21:54] jywarren opened #252 ""embed" button"
We should have a button which generates a full-screen map that can be embedded into other sites; it can point at the gh-pages demo, and it should use the current URL, which will then show all the currently visible layers. This is a nice quick way to add what you're currently looking at to your own website.

[2019-09-04 21:54] jywarren opened #253 "Layer name aggregator function"
I'm thinking of how we can easily create short-codes for #167 from within an existing map, which capture all the layers currently being shown.

This will help us achieve https://github.com/publiclab/leaflet-environmental-layers/issues/252 too -- an embed button!

[2019-09-04 21:56] jywarren commented on #253
I'm thinking this should be something like `L.EnvironmentalLayers.getLayerNames()` as follow-up to #175

[2019-09-04 22:01] jywarren commented on #175
#253 could be used to do this!

[2019-09-07 11:22] sagarpreet-chadha commented on #175
​0: "purpleLayer"
​​​
1: "toxicReleaseLayer"
​​​
2: "pfasLayer"
​​​
3: "aqicnLayer"
​​​
4: "osmLandfillMineQuarryLayer"
​​​
5: "purpleairmarker"
​​​
6: "skytruth"
​​​
7: "fractracker"
​​​
8: "odorreport"
​​​
9: "mapknitter"
​​​
10: "openaq"
​​​
11: "luftdaten"
​​​
12: "opensense"
​​​
13: "Power"
​​​
14: "Petroleum"
​​​
15: "Telecom"
​​​
16: "Water"
​​​
17: "wisconsin"
​​​
18: "fracTrackerMobile"
​

[2019-09-07 11:41] #175 closed

[2019-09-07 13:42] sagarpreet-chadha commented on #221
Hi @jywarren ,
Sorry i didn't get exactly the issue here 😃.

[2019-09-10 17:42] sagarpreet-chadha opened #256 "Leaflet FreeDraw"
# PROPOSAL:

**Problem** : Currently there is way we can create/update a Layer ourself .

**Solution** : We can use [Leaflet.Freedraw library](https://github.com/Wildhoney/Leaflet.FreeDraw) to create a layer or add more polygons to this layer later!

Polygons are basically array of LatLngs and we can easily store this information on our backend hence we can easily create new Layers ourself!

PS: N

[2019-09-10 20:55] jywarren commented on #87
Ah, it looks like we need to use a broader URL -- this is only the Mesa Verde region. I'm asking for a broader link to all mobile app reports!

[2019-09-11 19:40] #167 closed

[2019-09-11 19:46] jywarren opened #257 "allow 'exclude' param in one-line constructor"
As follow-up to https://github.com/publiclab/leaflet-environmental-layers/issues/175, I'd like to be able to `exclude` layers, which means showing ALL layers except those excluded. This would be a good chance to update our README too, with:

[code]

See this in action in the example: https://github.com/publiclab/leaflet-environmental-layers/blob/master/example/oneLinerCodeExample.html#L66-L69

Alt

[2019-09-11 21:31] jywarren commented on #156
Ah, this could help too! https://github.com/ismyrnow/leaflet-groupedlayercontrol

[2019-09-11 21:33] jywarren commented on #156
This is a bit more complex but also works: https://github.com/davicustodio/Leaflet.StyledLayerControl

We could then style these using CSS to get it to look more like #232's design!

[2019-09-11 21:44] jywarren commented on #156
Lots more resources! https://leafletjs.com/plugins.html#layer-switching-controls

[2019-09-11 21:48] jywarren opened #258 "Help spread out markers that overlap (with a plugin)"
https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet does this nicely!

http://jawj.github.io/OverlappingMarkerSpiderfier-Leaflet/demo.html

![image](https://user-images.githubusercontent.com/24359/64738102-5ebe9800-d4bc-11e9-9dfb-45e3a71b652b.png)

[2019-09-12 02:41] sagarpreet-chadha commented on #257
Hi Jeff, this is already implemented :)
Will be updating the Readme soon . Thanks!

[2019-09-14 08:04] #110 closed

[2019-09-14 08:04] #208 closed

[2019-09-14 14:39] jywarren commented on #221
Ah I see, I think the key here is for it to not error when changing the hash, and I think I found some bugs when not specifying a layer. Could you try this out both opening a url with no layer specified and also changing the hash in the same tab, to see if we are getting any errors, esp when a layer is not specified in the hash? Thanks!