[2019-09-14 15:39] sagarpreet-chadha commented on #256
Hey @jywarren ,
What do you think of this? This can be a pretty good and useful project if given shape correctly .

[2019-09-23 21:38] jywarren commented on #257
Awesome!!! Yes, just wanted to know the exact syntax!

[2019-09-25 22:33] jywarren commented on #256
Oh cool!

[2019-09-30 14:00] jywarren commented on #87
OK, I found that there is now a Leaflet-compatible API endpoint here!

https://api.fractracker.org/v1/data/report?page=1&q=%7B"filters":%5B%7B"name":"geometry","op":"intersects","val":"SRID%3D4326;POLYGON((-107.50990585750145+43.40852567953252,-88.15199570125245+43.40852567953252,-88.15199570125245+34.907879278458125,-107.50990585750145+34.907879278458125,-107.50990585750145+43.40852567953252))"%7

[2019-09-30 14:07] jywarren commented on #87
Darn! CORS permissions are set on the source. I'll ask if they can remove them. This should otherwise work, i think?

[code]

[2019-09-30 14:13] sagarpreet-chadha commented on #87
Yes should work fine.

On Mon, 30 Sep 2019, 19:37 Jeffrey Warren, <notifications@github.com> wrote:

[2019-10-01 20:36] augustozanellato commented on #238
Claimed!

[2019-10-02 19:29] stefanosu commented on #153
Is there any help that is wanted on this issue if so I can be of assistance.

[2019-10-02 19:35] stefanosu commented on #133
Hello @jywarren and @gauravano is there any help that is still needed on this issue I would love to contribute thanks.

[2019-10-02 20:11] jywarren opened #260 "Globe.gov api data of citizen science data"
https://www.globe.gov/globe-data/globe-api

[2019-10-03 10:02] sagarpreet-chadha commented on #133
Hey Stefanos, yes you may work on this.

On Thu, 3 Oct 2019, 01:05 Stefanos, <notifications@github.com> wrote:

[2019-10-03 12:59] deboragaleano commented on #239
Hi, I'm an Outreachy applicant and would like to make my first contribution (all the first-time-only) have been taken already, could I try to work on this one? Thanks!

[2019-10-03 19:25] stefanosu commented on #133
@sagarpreet-chadha  Hey I'm having the trouble of where to I should make a PR for this.

[2019-10-06 19:58] sagarpreet-chadha commented on #170
https://leafletjs.com/plugins.html#data-providers is live 😄 !!!

[2019-10-06 19:58] #170 closed

[2019-10-07 19:06] crisner commented on #250
Hi! I am an Outreachy applicant and I would like to contribute to this project. Is this issue to add a new layer that displays markers on locations with fires? I would like to know if I can work on this as an Outreachy applicant.

[2019-10-08 03:34] sagarpreet-chadha commented on #250
Yes please go ahead :)

On Tue, 8 Oct 2019, 00:36 Renisha Christie. A, <notifications@github.com>
wrote:

[2019-10-08 04:31] crisner commented on #250
Thank you! Shall begin working on this.

[2019-10-08 09:19] crisner commented on #250
@sagarpreet-chadha @ebarry I was wondering if I can use the data for fires from [https://eonet.sci.gsfc.nasa.gov/](https://eonet.sci.gsfc.nasa.gov/)? They have provided an api that lists events into a json format. I am haven't used wms before but the 'FIRMS' data seems to give back a single image and not coordinates.

[2019-10-09 15:49] crisner commented on #250
Please review my PR and let me know of any changes that need to be done. Thanks!

[2019-10-10 02:59] crisner commented on #258
Hi @jywarren! I am Outreachy applicant. Can I work on this?

[2019-10-10 03:59] sagarpreet-chadha commented on #258
Go ahead :)

On Thu, 10 Oct 2019, 08:29 Renisha Christie. A, <notifications@github.com>
wrote:

[2019-10-10 04:30] crisner commented on #258
Thank you! :D

On Thu, 10 Oct, 2019, 09:29 Sagarpreet Chadha, <notifications@github.com>
wrote:

[2019-10-12 10:33] #257 closed

[2019-10-12 12:51] #258 closed

[2019-10-12 13:19] crisner commented on #201
I would like to give this one a try. Can I work on this @sagarpreet-chadha ? May I know what kind of style you have in mind for the badge? Is it supposed to be displayed next to the 'Turn on layers' text on the leaflet control?

[2019-10-12 13:55] rkpattnaik780 commented on #171
I would like to work on this one.

[2019-10-12 14:04] sagarpreet-chadha commented on #171
Awesome go ahead :)

[2019-10-12 14:07] sagarpreet-chadha commented on #201
Yes please.
Have you seen whatsapp app --- the small badge that appears on contact tab that displays number of unread chats.

[2019-10-12 14:16] crisner commented on #201
Yes. A green circle displaying the number. What color do we use here for the circle?

[2019-10-12 14:20] crisner commented on #201
How about something between grey(leaf controls border color) and the text color with the numbers in white?

[2019-10-12 14:39] sagarpreet-chadha commented on #201
I guess you can start writing the CSS and JS to change number in the circle .
Later we can ask @ebarry to chime in and tell the color combination . Thanks!

[2019-10-12 14:48] crisner commented on #201
Okay 👍

[2019-10-13 14:55] sagarpreet-chadha opened #266 "Switch to Cypress testing"
Cypress testing for e2e testing in LEL would be really awesome. We should complete remove existing assertion tests of Jasmine .

https://www.cypress.io/

[2019-10-13 14:56] sagarpreet-chadha opened #267 "Remove /dist folder and add /dist to .gitignore"
Remove /dist folder and add /dist to .gitignore

[2019-10-13 15:02] sagarpreet-chadha commented on #249
continued from https://github.com/publiclab/plots2/pull/6204

I have made PR in `leaflet` repository: https://github.com/Leaflet/Leaflet/issues/6840
Let's wait for their response :)
Else we can fork out from Leaflet and use that repo!

<img width="426" alt="Screenshot 2019-10-06 at 2 17 14 PM" src="https://user-images.githubusercontent.com/14952645/66717608-7c06bf00-edf8-11e9-8cb9-51e69376d809.png

[2019-10-13 15:09] sagarpreet-chadha opened #268 "Convert to Typescript"
### Convert to Typescript

This is relatively big project, this issue is planned for long-run. I think this along with cypress testing will ensure this library becomes foolproof!

[2019-10-13 15:54] #250 closed

[2019-10-15 16:48] crisner commented on #243
@sagarpreet-chadha Would this be like including an example on getting started and where to include them in the project? I haven't had much experience in writing documentation however I would like to give it a try if it is alright.

[2019-10-15 18:33] sagarpreet-chadha commented on #243
Yes including examples and explaining library folder structure and use of each function in layer class. You can also add the challenges faced when you made the fire layer. Thank you!

[2019-10-20 18:03] crisner opened #271 "Overlapping marker spiderfier bug on layers using custom markers"
**Issue:** The implementation of overlapping marker spiderfier plugin has an issue where the spider legs are located off of the markers and does not point to them correctly as can be seen below in the screenshot of the map with pfaslayer in use.
![oms-issue-before](https://user-images.githubusercontent.com/29401459/67163558-17b2a500-f38e-11e9-96a9-e56d1156bd16.png)

The problem seems to be because

[2019-10-20 18:08] crisner commented on #271
@sagarpreet-chadha Wanted to list the issue so that we can decide on how to proceed with the issue now or at a later time. Depending on how we plan on implementing the solution this issue can be listed for the first-timers to contribute to this project.

[2019-10-21 15:43] crisner opened #272 "Add documentation on using overlapping marker spiderfier"
Documentation for using overlapping marker spiderfier plugin in the project needs to be added to the README.md file.

**To use overlapping marker spiderfier plugin:**
[code]
The second parameter in the omsUtil function is the options object. The details of the available options can be found in [https://github.com/jawj/OverlappingMarkerSpiderfier-Leaflet](https://github.com/jawj/OverlappingMarkerSp

[2019-10-21 15:44] crisner commented on #272
@sagarpreet-chadha This can be an fto candidate.

[2019-10-25 13:20] #238 closed

[2019-10-25 13:24] sagarpreet-chadha commented on #272
Yes awesome

[2019-10-26 09:18] krystelufe commented on #267
hi @sagarpreet-chadha  i am an outreachy applicant and will like to work on this.

[2019-10-27 08:17] YuetChan commented on #271
Hi I I would like to work on this issue. Do I just simply remove the use of the plugin for pfaslayer layer? Thank you

[2019-10-27 10:53] ajitsinghkaler commented on #271
ypua re working on it

[2019-10-27 13:21] crisner commented on #271
Thank you @YuetChan ! @ajitsinghkaler  I have asked @cesswairimu to assign another issue to you as @YuetChan had commented on this first.

[2019-10-27 18:40] YuetChan commented on #271
@crisner For this issue, do I remove the use of the plugin for pfaslayer by omitting oms.addMarker(marker) in pfaslayer.js file?

[2019-10-28 02:37] crisner commented on #271
Change the code below:
https://github.com/publiclab/leaflet-environmental-layers/blob/0b5b0bc9ff50a85113854efd2761724e770196cb/src/pfasLayer.js#L1-L8
to:
[code]
You will need to remove the iconAnchor property and change the values in the popupAnchor property.

[2019-10-28 06:59] sagarpreet-chadha opened #273 "Planning"

[2019-10-28 06:59] #273 closed

[2019-10-28 07:08] sagarpreet-chadha opened #274 "Planning: Mapping tasks in plots2"
**Visit a wiki page and see an embedded map in the page content**

* Which wiki page? Is this flow for existing wiki-pages? -- example: https://publiclab.org/wiki/one-cranston

* pre-selected layers are only present if we use the new inline map syntax, right?
  -- yes!

*  prompt button should be on map? Can you share a mock-up please?
* Can you please share the screenshot of this existing prompt

[2019-10-28 07:13] sagarpreet-chadha commented on #274
**Create a wiki page with an embedded map**

* How do we create the embedded map? The new inline map for LEL layers, right?
* Or are we talking about the /post page (where we create content)?

* More details where, which page are we talking here?

This prompt button does this job:  clicking it opens a new post with a template (?n=X) and pre-set lat/lon location pulled from the map's current center

[2019-10-28 07:15] sagarpreet-chadha commented on #274
I would get more idea about these features if you can share what we wish to do here from the perspective of user? Thanks @jywarren 😄

[2019-10-29 21:51] jywarren commented on #274
Hi! Thanks, just did this by editing above. I also organized the most urgent at top, and the less urgent below! I hope that helps!

[2019-10-30 08:11] Swayamsvk commented on #272
Can I do this?

[2019-10-30 08:46] sagarpreet-chadha commented on #272
Yes sure :)

On Wed, 30 Oct 2019, 13:41 Swayam Samyak Debasis, <notifications@github.com>
wrote:

[2019-10-30 12:01] ajitsinghkaler commented on #271
@crisner If @YuetChan is not working on it I have already fixed it. Should I create a pull request for it?

[2019-10-30 15:34] crisner commented on #271
No. You don't have to add the changes made by grunt build.

[2019-10-30 15:42] crisner commented on #271
@ajitsinghkaler if you are interested you could work on the odorlog layer which has the same issue. You may need to experiment with different values though so that the icon and the popup render in their correct positions.

[2019-10-30 16:38] nstjean commented on #134
Where do users go to use this full map and all its possibilities? I know MapKnitter.com uses mapping, but only for one layer. https://publiclab.org/maps/ has environmental layers listed on the map at the top, but it doesn't look the same as it does using the /example/ directory in my dev environment.

Basically, is this used only within PublicLab.org and other of our sites, or is there/will there

[2019-10-30 16:55] sagarpreet-chadha commented on #134
Hey @nstjean ,
Yes we have done some changes recently and we will soon publish the new version.  I dont know if this library is integrated to other websites apart from PL.org and mapknitter.

Yes definately we will work on making a utility that will generate maps with layer and an iframe link that people can use to embed the map on their websites. Thanks!

I hope this helps!

[2019-10-30 21:14] jywarren commented on #274
Above - `maps can display posts from PL in addition to layers` -- the idea is that the prompt button will open a post form bearing tags which will then generate a new marker in the inline map, once posted. It's a button to "add a post that'll appear in this map" essentially, does that make sense?

[2019-10-30 21:15] jywarren commented on #274
However, I think there may be a way to do it without making a new LEL layer... for starters. Because posts already appear in inline maps: https://publiclab.org/wiki/inline-maps

Later, we could circle back and re-implement it as a unique layer.

[2019-10-31 17:54] jywarren commented on #157
Looked further into this and it uses the following markup:

[code]

However, this file contains both the script AND the entire database of sites, in GeoJSON 😮

https://datasci.brown.edu/socio-eco-project/static/js/main.d29369e3.js

We can probably get it out of there!

[2019-10-31 21:04] mmnoo opened #276 "A Leaflet plugin to dry up basic layer addition"
Hey guys,

I am working on a [Leaflet plugin](https://github.com/mmnoo/leaflet-declarative-layers) to make adding common layer types declarative (ie by configuration or by simply describing the layer in a human-readable way code) rather than redundant imperative code like `leaflet-environmental-layers` seems to suffer from. (Have things changed? I havent really done a deep dive since the spring.)

[2019-10-31 21:20] jywarren commented on #276
YES this is really amazing. I need to read through more carefully but we
are def. in need of more drying up! Thanks Melissa! I'm rushing on this
project in the next 2 weeks or so, but want to dig in a bit more and
understand where the interface points are here. Thank you!

On Thu, Oct 31, 2019 at 5:05 PM Melissa Nunes <notifications@github.com>
wrote:

[2019-11-01 06:54] sagarpreet-chadha commented on #276
Interesting!

[2019-11-01 12:40] sagarpreet-chadha commented on #274
Hey @jywarren ,

I think we would not be able to make an inline syntax to make a button because we do not have map id to link that button to the map because map id is generated randomly, hence I am thinking of adding a line like to inline maps (having **content and tags** in their syntax):

Prototype 1

<img width="873" alt="Screenshot 2019-11-01 at 5 56 41 PM" src="https://user-images.githubuserc

[2019-11-01 12:42] jywarren commented on #274
That's right, but cant we make the link use btn-primary css and appear as a
button?

The first one looks great for a first version! Thanks Sagarpreet!

On Fri, Nov 1, 2019, 8:40 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-01 12:55] sagarpreet-chadha commented on #274
Yes we can use a button.

So if there are multiple maps on the page, we want that button for each map?

Also, just to confirm -- on clicking this link we have to open a new /post page which has tags lat:XX and lon:XX calculated from that maps center and added automatically, right?

Thanks!

[2019-11-01 13:23] jywarren commented on #274
Yes on both! Thanks!

On Fri, Nov 1, 2019, 8:56 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-03 04:51] ajitsinghkaler commented on #271
Okay, shall I create a new Issue for it?

[2019-11-05 20:47] jywarren commented on #157
I got the GeoJSON out - it is 4.2mb.

Here's a layer to model this on:

https://github.com/publiclab/leaflet-environmental-layers/blob/069ec411e853710714d217af7e1c63c5ead03dda/src/eonetFiresLayer.js#L15

[2019-11-06 14:40] nstjean commented on #242
I can do this!

[2019-11-06 15:07] sagarpreet-chadha commented on #242
Yes awesome! Go ahead :)

On Wed, 6 Nov 2019, 20:10 Natalie St Jean, <notifications@github.com> wrote:

[2019-11-08 23:12] jywarren commented on #157
Great progress in #279!

[2019-11-09 11:59] #157 closed

[2019-11-09 21:18] Swayamsvk commented on #267
Can I work on this?

[2019-11-10 12:07] Swayamsvk commented on #182
I want to work on this.

[2019-11-10 12:11] Swayamsvk commented on #182
Can I work on this?

[2019-11-10 13:14] ananyaarun commented on #182
Hey @Swayamsvk there is a PR open for this isssue.
We would love to have your help with other issues.
Thanks!!

[2019-11-10 19:33] Swayamsvk commented on #126
Can I work on it

[2019-11-10 19:37] Swayamsvk commented on #64
Can I work on this?

[2019-11-10 20:13] Swayamsvk commented on #171
Can I work on this one?

[2019-11-11 19:28] pydevsg commented on #268
@sagarpreet-chadha I am interested in working on this

[2019-11-11 20:24] Swayamsvk commented on #171
Exactly which images are to be shown.Can you be more specific?

[2019-11-11 20:54] Swayamsvk commented on #232
Can I work on this?

[2019-11-12 12:29] ananyaarun commented on #53
This issue in LEL is reserved for GCI 2020 students.
Thanks !!

[2019-11-12 12:30] ananyaarun commented on #272
This issue in LEL is reserved for GCI students.
Thanks !!

[2019-11-12 12:30] ananyaarun commented on #271
This issue in LEL is reserved for GCI students.
Thanks !!

[2019-11-12 12:31] ananyaarun commented on #146
This issue in LEL is reserved for GCI students.
Thanks !!

[2019-11-12 12:42] ananyaarun commented on #87
This issue in LEL is reserved for GCI students.
Thanks !!

[2019-11-12 12:43] ananyaarun commented on #64
This issue in LEL is reserved for GCI students.
Thanks !!

[2019-11-12 21:46] ananyaarun commented on #272
This has been added to GCI dashboard, Thanks !

[2019-11-12 21:46] ananyaarun commented on #64
This has been added to GCI dashboard, Thanks !

[2019-11-12 21:52] ananyaarun commented on #267
This has been added to GCI dashboard, Thanks !

[2019-11-12 21:56] ananyaarun commented on #267
Hey @sagarpreet-chadha ,
This has been done in #224 right ?

[2019-11-12 23:49] SidharthBansal commented on #272
Please hide redundant comments

[2019-11-12 23:55] SidharthBansal commented on #64
Uploaded to GCI dashboard.

[2019-11-12 23:55] SidharthBansal commented on #272
Uploaded to GCI dashboard!

[2019-11-14 20:38] Swayamsvk commented on #112
Can I work on this?

[2019-11-15 09:46] SidharthBansal commented on #146
Uploaded to GCI dashboard.

[2019-11-15 16:58] Swayamsvk commented on #266
You mean we should first completely remove jasmine testing and do it in Cypress?

[2019-11-16 19:00] mmnoo commented on #266
Can you be explicit on the value that Cypress adds over Jasmine to justify the refactor? (so this new person can orient to the project and its road map a bit more? :) )

[2019-11-18 20:56] ebarry opened #285 "Add Layer: Washington State Tracking Network's Environmental Public Health Data"
Source: https://www.doh.wa.gov/DataandStatisticalReports/EnvironmentalHealth/WashingtonTrackingNetworkWTN

(map view of information: https://fortress.wa.gov/doh/wtn/wtnibl/)

[2019-11-19 17:29] jywarren commented on #87
Noting that the CORS is still not resolved. But we may be able to use https://corsproxy.github.io/ to get around this restriction for now!

[2019-11-19 17:37] jywarren commented on #87
So that'd be: https://crossorigin.me/https://api.fractracker.org/v1/data/report?page=1&q=%7B%22filters%22:%5B%7B%22name%22:%22geometry%22,%22op%22:%22intersects%22,%22val%22:%22SRID%3D4326;POLYGON((-107.50990585750145+43.40852567953252,-88.15199570125245+43.40852567953252,-88.15199570125245+34.907879278458125,-107.50990585750145+34.907879278458125,-107.50990585750145+43.40852567953252))%22%7D%5D,%

[2019-11-19 17:38] jywarren commented on #87
Yes, this worked!

[code]

[2019-11-19 17:40] jywarren commented on #87
However, we'll want to replace the coordinates in that URL with the current bounding box coordinates, and refresh the remote request each time the view moves. There are a couple examples of how to do this; one is here:

https://gis.stackexchange.com/questions/174721/how-to-add-remote-geojson-data-to-a-leaflet-map-as-a-new-layer

The other is a whole plugin to manage this kind of thing, and it look

[2019-11-19 17:41] jywarren commented on #87
![image](https://user-images.githubusercontent.com/24359/69171399-dcf57700-0ac9-11ea-823f-8d67a1414ddb.png)

[2019-11-19 17:41] jywarren commented on #87
Just to note for documentation, i ended up using: https://github.com/Rob--W/cors-anywhere/#documentation

[2019-11-19 17:54] #271 closed

[2019-11-19 17:55] jywarren commented on #271
Ah, i'm sorry, this was already solved in #277 and #275! @ananyaarun is that ok? Thanks, everyone, for your excellent help!

[2019-11-19 20:31] jywarren commented on #87
And noting, here's a reference for a layer that refreshes as you drag around, with new requests sent each time, using the `moveend` event to trigger a refresh:

https://github.com/publiclab/leaflet-environmental-layers/blob/e58d33ade28df744baadefd4557b991bedbdb9a3/src/indigenousLayers.js#L20-L64

And here's the existing layer we want to update!

https://github.com/publiclab/leaflet-environmental-l

[2019-11-20 19:40] mmnoo commented on #276
Just a friendly `ping`. I added a better readme  with demos to my repo to hopefully make the direction I am currently intending for the plugin a bit more clear.

https://github.com/mmnoo/leaflet-declarative-layers

[2019-11-21 04:13] jywarren opened #286 "Unearthing layer showing grey dots instead of blue in Chrome on Mac"
Hi, it looks like there is some error with the Unearthing layer on plots2 -- I'd love some help debugging this, @sagarpreet-chadha ! Thank you!

https://publiclab.org/wiki/sandbox-3#Unearthing+layer

[2019-11-23 17:55] ananyaarun commented on #271
Hmm yes @jywarren .
Lets just remove the GCI label from this then.

[2019-11-25 14:31] mmnoo commented on #239
Yes please!
@sagarpreet-chadha, what is the status of your work on the `feature_es6` branch?
If that work is blocked for whatever reason, could we split this ticket into two? One for updating the code to ES6 and another for just configuring Babel? The latter ticket will allow new work to proceed without having to wait for the rest of the code to update... I'd be happy to work on the Babel ticket.

[2019-11-25 17:52] sagarpreet-chadha commented on #239
Hey @mmnoo , i started the work some time ago and there is a PR also for the above.
I remember i was using the arrow functions inside class and there was some problem with "this" pointer.
It was because we cannot use arrow function in leaflet's lifecycle function such as onAdd, onRemove, etc. because we need context's this in those functions.
I figured this out but did not get the time to work on

[2019-11-25 18:36] jywarren commented on #286
Hi, it looks like it's showing now!

[2019-11-25 18:41] jywarren commented on #286
Re-opening - i'm not sure why but the markers are showing up grey - with blue borders. Maybe we need to compare to the original PR?

https://github.com/publiclab/leaflet-environmental-layers/pull/283 vs
https://github.com/publiclab/leaflet-environmental-layers/pull/279

@sagarpreet-chadha no rush but is it possible to look at this? Because I want to modify this layer to show open vs. no-longer-ope

[2019-11-25 18:41] jywarren commented on #286
https://github.com/publiclab/leaflet-environmental-layers/blob/392cebc64050bb5f65e0c76ccd1700336be1ef25/src/unearthing.js#L43

[2019-11-25 20:02] mmnoo commented on #239
Thanks @sagarpreet-chadha. I started working on my own babel-alone branch this morning, and ran into a bunch of issues with a few of LEL's implied global vars when one looks at the files in the example folder. I'm backing out until I understand LEL a bit more.

[2019-11-25 21:43] jywarren commented on #117
https://github.com/publiclab/leaflet-environmental-layers/issues/110#issuecomment-506798402 has a good suggestion re: zoom bounds too:

[code]

[2019-11-26 21:14] jywarren opened #287 "Popup sizing can make the map jump around"
It looks like some popups are just getting really long and this is making our maps jump around a bit; you can see this happen on this page:

https://publiclab.org/wiki/sandbox-3

What are some options to solve this? Could we:

1. have the popups not move the map
2. make popups wider, esp. if they have tons of content (this might be a layer-by-layer thing, because in this example, the PFAS layer se

[2019-11-26 21:15] jywarren commented on #287
![image](https://user-images.githubusercontent.com/24359/69673293-fff2ce80-1067-11ea-8c02-4b0fc32590a7.png)

![image](https://user-images.githubusercontent.com/24359/69673278-f8cbc080-1067-11ea-8876-b692931a046f.png)

[2019-11-26 21:17] mmnoo commented on #287
... or hide extra popup content behind a 'show more' link/button?

[2019-11-26 21:30] jywarren commented on #287
nice!

On Tue, Nov 26, 2019 at 4:17 PM Melissa Nunes <notifications@github.com>
wrote:

[2019-11-27 13:41] sagarpreet-chadha commented on #287
Yes awesome!

On Wed, 27 Nov 2019, 03:00 Jeffrey Warren, <notifications@github.com> wrote:

[2019-11-27 17:15] SidharthBansal commented on #43
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 17:15] SidharthBansal commented on #46
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 17:16] SidharthBansal commented on #147
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 17:17] SidharthBansal commented on #249
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 17:17] SidharthBansal commented on #286
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 17:17] SidharthBansal commented on #221
Can we have this in GCI @jywarren @sagarpreet-chadha @ananyaarun ?

[2019-11-27 20:08] jywarren commented on #46
That'd be great; perhaps we can brainstorm some ideas and prototype and
test out ideas to see what can be done? And/or identify another source for
this data that is more reliable?

On Wed, Nov 27, 2019 at 12:16 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-27 20:08] jywarren commented on #43
Yes that would be great.

On Wed, Nov 27, 2019 at 12:16 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-27 20:12] jywarren commented on #147
Yes, but noting that it will involve some investigating and troubleshooting
to find the problem!

On Wed, Nov 27, 2019 at 12:16 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-27 20:25] jywarren commented on #286
I'd like to solve this earlier, but if it's still not solved by then, then sure!

[2019-11-27 20:28] jywarren commented on #249
Yes please! cc @crisner @nstjean as well! As you two learn more about LEL,
GCI can be a good place to recruit help from!

On Wed, Nov 27, 2019 at 12:18 PM Sidharth Bansal <notifications@github.com>
wrote:

[2019-11-28 06:03] SidharthBansal commented on #285
Published

[2019-11-28 13:47] SidharthBansal commented on #249
Hi @crisner and @nstjean are you willing to be GCI mentors? If yes then please ping me at bansal.sidharthcode@gmail.com.
Thanks

[2019-11-28 13:52] SidharthBansal commented on #249
Published to GCI dashboard

[2019-11-28 14:04] SidharthBansal commented on #147
Cool thanks.

Published

[2019-11-28 14:22] sagarpreet-chadha commented on #286
@jywarren , What exactly is the problem?
I see 2 types of dots - green and bluish-purple . Thanks!

[2019-11-28 16:11] jywarren commented on #286
Oh it's so strange, I see it correctly on my phone, but on my computer I see the dots grey with a blue outline for the unearthing layer. Maybe it's something cached... I will try flushing the cache!

![Screenshot_20191128-111041](https://user-images.githubusercontent.com/24359/69820760-dce32e80-11cf-11ea-9267-d20275e38d96.png)

This screenshot is correct, thanks!

[2019-11-28 16:14] jywarren opened #288 "Make no-longer operating sites appear differently on unearthing layer"
![Screenshot_20191128-111041](https://user-images.githubusercontent.com/24359/69820840-0f8d2700-11d0-11ea-8438-f4b929bb35d8.png)

Some sites are no longer in operation, so we should somehow show them differently!

Let's brainstorm about how!

[2019-11-28 17:04] sagarpreet-chadha commented on #274
Making a new route for full screen map:

[2019-11-28 17:04] sagarpreet-chadha commented on #274
http://localhost:3000/fullscreenMap/Unearthing,asian,eonetFiresLayer/23.12321/77.23432/11.65432

[2019-11-28 17:12] jywarren commented on #274
This is awesome! Can we have the path be /map and use only url hashes
instead of parameters? That way we can rewrite them in JavaScript without
reloading the page!

On Thu, Nov 28, 2019, 12:05 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-11-28 17:13] jywarren commented on #274
https://github.com/publiclab/image-sequencer/blob/main/examples/lib/urlHash.js

On Thu, Nov 28, 2019, 12:12 PM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2019-11-28 17:24] sagarpreet-chadha commented on #249
Hey this is solved! @jywarren , i have made some changes in LEL to solve this. It is live, you can verify.

@SidharthBansal , let's remove this from GCI.

[2019-11-28 17:24] #249 closed

[2019-11-28 17:48] sagarpreet-chadha commented on #274
Okay

[2019-11-28 21:50] #89 closed

[2019-11-28 21:50] ananyaarun commented on #89
Closing as this as been added and merged ! thanks.

[2019-11-28 22:39] ananyaarun opened #289 "Update issue templates for LEL"
**Please note we are preparing to participate in Google Code-in, and have reserved this issue for GCI participants - but we'd love to have your help with another one! Please check out https://code.publiclab.org to see more.**

Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our

[2019-11-29 06:52] SidharthBansal commented on #289
Published

[2019-12-02 18:34] jywarren commented on #221
I think this is solved... both https://publiclab.org/maps#3/41.00/-71.00/ and https://mapknitter.org/#9/41.8082/-71.4262/ seem to be working fine!

[2019-12-02 18:34] #221 closed

[2019-12-02 22:59] jywarren commented on #71
Initial tests are live here! https://github.com/publiclab/leaflet-environmental-layers/tree/master/spec/javascripts

Let's build out more -- both to test overall behaviors, and let's use this as an opportunity to break code down into smaller, more readable parts, which we can also test in isolation -- unit tests, that is! This will help us organize the code better as well.

[2019-12-02 23:09] jywarren commented on #153
Hi, that would be great -- we're trying to get it so that when zooming in far enough, you see something like this:

![image](https://user-images.githubusercontent.com/24359/70002683-ccfc7f00-152e-11ea-950c-f03d3638c60b.png)

Instead of like this:

![image](https://user-images.githubusercontent.com/24359/70002704-de458b80-152e-11ea-9a8b-1ede5a39e2b9.png)

[2019-12-03 15:34] jywarren commented on #146
Linked to #46 and #43 as well!

[2019-12-03 15:37] jywarren opened #290 "Stop displaying spinner if a layer fails to load for 10 seconds"
We are getting occasional permanent spinners when layers don't respond, like in https://github.com/publiclab/leaflet-environmental-layers/issues/146 - and with so many sources, I think this can just happen from time to time. We should either make the spinner much smaller and put it in a corner, so it's not distracting, or we should have it disappear after 10 seconds.

Try it out here: https://publ

[2019-12-03 17:12] jywarren commented on #286
Strangely it seems to be going back and forth - on Chrome on Mac i see grey:

![Screen Shot 2019-12-03 at 9 44 45 AM](https://user-images.githubusercontent.com/24359/70072993-177d0a80-15c6-11ea-8cb4-b389da809579.png)

Even after clearing my cache!

[2019-12-03 17:21] jywarren opened #291 "Error on PurpleAir markers layer"
I opened a map with the `PurpleLayer` on PublicLab.org on this page:

https://publiclab.org/maps

And I got this error:

![image](https://user-images.githubusercontent.com/24359/70073607-37f99480-15c7-11ea-898a-1b91fe5436d9.png)

[code]

It occurs on this line, which is in the purple air layer:

[code]

I'd love help with this! I think it requires extra includes to be added to the page in plots2:

[2019-12-03 19:11] jywarren commented on #286
So strange. In Firefox it works fine:

![image](https://user-images.githubusercontent.com/24359/70081537-c32e5680-15d6-11ea-9df2-143dac60de93.png)

So, this seems to be purely a Chrome on Mac issue, while Chrome on Android or Firefox on Mac both work...

[2019-12-03 19:32] nstjean commented on #286
Looks correct on Chrome on Ubuntu.

[2019-12-03 19:41] jywarren opened #292 "Upgrade Unearthing PVD layer to latest dataset (GeoJSON)"
Related to the Unearthing layer, from https://publiclab.org/unearthing-pvd, and these issues: #283 #157 -- we have a new version of the dataset which is structured a little differently:

https://publiclab.github.io/unearthing-pvd/RI_mfgs.json

It groups points by coordinate, and also lists years active. But it condenses into only ~5k points.

So we'll need a bit of refactoring to display this info

[2019-12-03 19:48] chen-robert commented on #286
I'm seeing blue dots on Chrome on Windows 10.

[2019-12-04 15:54] jywarren commented on #286
Confirmed on Mac Chrome on another machine they appear blue. I guess I give up... closing this as my computer seems to be the only one affected!

<img width="1253" alt="Screen Shot 2019-12-04 at 10 52 27 AM" src="https://user-images.githubusercontent.com/24359/70157986-7b660880-1684-11ea-98f7-097b4c031c06.png">

Thanks all!

[2019-12-04 15:54] #286 closed

[2019-12-04 21:24] jywarren commented on #274
I think we're done here! Thank you!!!

[2019-12-04 21:24] #274 closed

[2019-12-06 18:46] sagarpreet-chadha commented on #274
🎉

[2019-12-11 18:21] #292 closed

[2019-12-11 18:21] #291 closed

[2019-12-11 18:31] gabrielrumiranda commented on #288
How I see if site are no longer in operation ?

[2019-12-11 18:43] jywarren opened #297 "Make layer names listing in README and layers hash strings consistent"
It seems we list out layer names here:

https://github.com/publiclab/leaflet-environmental-layers#layers

And then we do it differently here:

https://github.com/publiclab/leaflet-environmental-layers/blob/9456be438a71da73f493475377f2e4cb3458d1be/src/AllLayers.js#L9-L15

I made a mistake embedding this map because I used the wrong string convention. Let's standardize them and correct the ones in t

[2019-12-11 18:52] jywarren commented on #288
Ah, let's say if it's operating in a preset year, 2016, which is the most
recent year in the dataset?

On Wed, Dec 11, 2019, 1:31 PM Gabriel Rubens <notifications@github.com>
wrote:

[2019-12-11 18:55] gabrielrumiranda commented on #288
I think is 2012

[2019-12-11 19:52] jywarren commented on #297
@crisner this plus some more documentation/cleanup would also allow you to link from your embed code generating demo to a central place where the layer names and such are documented. In case you like that idea!

[2019-12-11 20:15] jywarren commented on #288
oh really? Hm. Well, let's set it to 2016 because i think they're going to
further update the data soon. Is that OK? In any case all we're doing is
making the dots appear red instead if they run through the most recent
year.

Thanks!

On Wed, Dec 11, 2019 at 1:56 PM Gabriel Rubens <notifications@github.com>
wrote:

[2019-12-12 07:46] crisner commented on #297
@jywarren, Should we change only the layer names in the readme to match the ones in the AllLayers.js file? Or should we follow a standard convention, like camelcase, which would mean correcting a few ones in the AllLayers.js file as well?

[2019-12-12 16:56] jywarren commented on #297
Let's start by getting the README ones correct, and do the standardization in a separate issue? We'll need to watch out that we aren't breaking downstream uses, it's almost like the current layer names are an API and we need to respect how they're used downstream.

I'm almost tempted to say they should now be case-insensitive so that we purposely retain backwards compatibility? What do you think?

[2019-12-13 02:00] crisner commented on #297
That sounds great! Shall I make an fto issue out if this? It seems like a good candidate as the task is narrowed down to matching the layer names.

[2019-12-13 05:27] crisner commented on #297
@jywarren, Looks like the readme follows the naming convention from the layers.js file?
https://github.com/publiclab/leaflet-environmental-layers/blob/15477e9b925863c5595da84a76d31393148ad720/example/layers.js#L124-L171

Also, the layer names in the demo page's URL follows:
https://github.com/publiclab/leaflet-environmental-layers/blob/15477e9b925863c5595da84a76d31393148ad720/example/layers.js#L17

[2019-12-13 10:45] crisner opened #299 "Fix active base layer selection"
The active base layer appears unselected in the map's layer control.
![baselayer-bug](https://user-images.githubusercontent.com/29401459/70794425-9ee72c80-1dc3-11ea-8d7c-84e01e374132.png)

[2019-12-13 13:38] crisner opened #301 "Make code formatting consistent across files"
Presently, the code has different formatting styles. The code needs to follow the styles listed below for consistency and clarity across all files,
- two spaces for indents
- brackets in `if` statements for clarity

[2019-12-13 13:44] crisner commented on #301
@jywarren, anything else you would like to add? What about the spaces between the brackets in `if` statements? In some places, there are no spaces between brackets. Do you have a particular style guide in mind?

[2019-12-13 16:25] jywarren commented on #301
If you'd like to use what we use in other PL repos, maybe we should look at
https://github.com/publiclab/Leaflet.DistortableImage/ and, um,
ask @sashadev-sky or @rexagod if they're available? There are some
automated ways to do this too!

On Fri, Dec 13, 2019 at 8:44 AM Renisha Christie. A <
notifications@github.com> wrote:

[2019-12-13 16:59] crisner commented on #301
Thanks! Shall take a look at it. Yes, I was looking into prettier and beautifier to use as a grunt task.

[2019-12-13 17:03] crisner commented on #301
@sashadev-sky and @rexagod, any suggestions regarding style guides, preferably ones that are commonly used in other PL repos?

[2019-12-13 17:46] CodeSarthak commented on #285
I cannot find any API documentation of the WSTN website (https://www.doh.wa.gov/DataandStatisticalReports/EnvironmentalHealth/WashingtonTrackingNetworkWTN). How do I go about it?

[2019-12-13 18:05] CodeSarthak opened #302 "Infinite Loading at PurpleAirLayer-HeatMap"
When I try to select PurpleAirLayer - HeatMap, I only see an infinite loading circle, as shown here :

![image](https://user-images.githubusercontent.com/24937677/70821444-15564f80-1e01-11ea-8b7e-a66e4056bdce.png)

[2019-12-14 05:34] crisner commented on #301
Leaflet.DistortableImage uses the ESLint config for the Google JavaScript style guide. I shall follow the same here in LEL.

[2019-12-15 12:08] #301 closed

[2019-12-15 15:23] VladimirMikulic commented on #146
Error not reproducible. It works fine in both, production and development.

[2019-12-16 09:34] #299 closed

[2019-12-16 13:50] crisner opened #304 "Update usage of hash library in documentation"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-16 13:55] crisner opened #305 "Add documentation on using embed control"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-16 17:55] jywarren commented on #146
Can you try doing it a lot, like zooming out, dragging, etc? I think it might be load-based; like their server can't handle it sometimes. It'd be nice to know if this is the issue? Thanks!

[2019-12-16 18:00] sagarpreet-chadha commented on #146
In LEL, in each layer we stop the spinner when we have 200 status code in response only. I think we should stop the spinner when we get the response irrespective of response status code.

[2019-12-16 18:03] jywarren commented on #146
Ah I like this idea. We could develop some better per-layer error handling!

On Mon, Dec 16, 2019, 1:00 PM Sagarpreet Chadha <notifications@github.com>
wrote:

[2019-12-16 22:33] jywarren commented on #297
I agree all should match! And yes, this could be a nice FTO as long as we check we don't break any downstream uses :-)

Thank you!

[2019-12-17 04:20] CodeSarthak commented on #285
Hi,

I mailed the WSTN and they have no direct implementation support. Thus, I don't think it is feasible to implement the same on LEL.
![image](https://user-images.githubusercontent.com/24937677/70964643-98520100-20b2-11ea-9035-444898fca594.png)

[2019-12-17 04:53] sagarpreet-chadha commented on #285
Hey @CodeSarthak ,
This is awesome to contact the data provider directly!!!
Yes we can not get data through API but we can download CSV and converti it to JSON and host it somewhere and then implement LEL layer.
This has been done in layer `Unearthing`:

https://github.com/publiclab/leaflet-environmental-layers/blob/0b646cc4ecf83626f7917d5225b95732e3989318/src/unearthing.js#L5

Thanks :)

[2019-12-17 04:59] sagarpreet-chadha commented on #297
Hey @jywarren , @crisner
Please note we have to follow layer names as specified in **allLayer.js**  all over LEL. Thanks!

[2019-12-17 06:06] crisner opened #306 "Make domain name as a settable option defaulting to the gh-pages"
Feature to be added to the embed control.

https://github.com/publiclab/leaflet-environmental-layers/pull/296#issuecomment-564109902

[2019-12-17 06:26] CodeSarthak commented on #285
Thank you @sagarpreet-chadha for your help.

So, according to my understanding, I should get the csv data, convert it to JSON and then use the same code as in the leaflet-environmental-layers/src/unearthing.js file by replacing the link to my JSON file. Is this correct?

Also, how exactly do I 'host' the JSON file, on Public Lab itself?

Thank you.

[2019-12-17 06:30] CodeSarthak commented on #285
I have another suggestion for the implementation : https://fortress.wa.gov/doh/wtn/WTNPortal/#!q0=3646. WSTN already has maps with the required data. We can, instead, use their maps and embed them in our application. How does that sound?

Thank you.

[2019-12-17 08:33] sagarpreet-chadha commented on #285
This is a good idea but if we embed their map directly we will not be able to use this map along with other LEL layers, right?

You can convert it to JSON and push this file to `gh-pages` branch of this repo (if you do not have permission then make a PR against `gh-pages` branch and then i will merge it).

Thanks!

[2019-12-17 08:33] sagarpreet-chadha commented on #306
Awesome!

[2019-12-17 09:00] CodeSarthak commented on #285
Cool. I will do that.

[2019-12-17 09:14] #306 closed

[2019-12-17 13:33] crisner opened #308 "Display directions on top of map in the demo page"
Created issue from https://github.com/publiclab/leaflet-environmental-layers/pull/296#issuecomment-564094149

[2019-12-17 15:00] gabrielrumiranda commented on #302
Hi @CodeSarthak recently PurpleAirLayer - HeatMap was with bug, but i fixed in #295, and now is merged and fix

[2019-12-17 15:30] CodeSarthak commented on #302
Good job @gabrielrumiranda 👍

Resolved by #295

[2019-12-17 15:30] #302 closed

[2019-12-17 17:41] #308 closed

[2019-12-17 18:39] jywarren commented on #134
Adding here -- a search box so you can quickly search for locations on the earth would be great! Not open by default but behind a magnifying glass icon maybe, that pops open and then you can start searching.

[2019-12-18 11:59] crisner opened #310 "Clone demo page to embed.html so that actual embeds do not show the notice"

[2019-12-18 13:36] #310 closed

[2019-12-19 10:52] rexagod commented on #301
Apologies for the late response, Renisha! I'm okay with your decision to follow the same guide used in LDI here in LEL. Go ahead!

[2019-12-19 10:53] crisner commented on #301
Thanks @rexagod!

[2019-12-19 11:06] Marcus-auz commented on #304
Working

[2019-12-19 11:23] Marcus-auz commented on #304
I've updated the readme and created a pull request.Have a look at it

[2019-12-19 12:45] #304 closed

[2019-12-19 16:32] crisner opened #313 "Write tests for embed feature"

[2019-12-19 16:34] crisner commented on #313
Working on writing tests on the embed feature.

[2019-12-20 17:01] #313 closed

[2019-12-23 15:07] crisner opened #316 "Collect layer information to be displayed in the layers browser menu"

[2019-12-23 16:35] #297 closed

[2019-12-24 04:24] crisner opened #318 "Replace leaflet layer control with new layers browser menu"
Replace the existing layer control with new layers browser menu from the mockup in #232

[2019-12-25 02:27] anthony-zhou commented on #305
May I work on this issue?

[2019-12-26 13:55] #316 closed

[2019-12-26 16:49] pythongiant commented on #285
@CodeSarthak are you still working on this? We could work together.

[2019-12-27 22:35] jywarren opened #321 "Integrate Open TOXMAP"
Cool!

https://twitter.com/seankmcginnis/status/1210676325624758273?s=19

https://seankmcg.maps.arcgis.com/home/webmap/viewer.html?webmap=cc64fc2335d54830b4b830054c278bf7

[2019-12-29 14:09] crisner commented on #321
Wow! That's a lot of data. :smile: Are we planning to integrate all the layers available in the TOXMAP?

[2019-12-29 14:29] crisner opened #322 "Edit documentation for using Windrose layer in readme.md"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2019-12-29 14:47] jywarren commented on #321
We don't have to be too ambitious all at once, I just saw this ongoing and
hoped we could consider it! No pressure! :-)

On Sun, Dec 29, 2019, 9:09 AM Renisha Christie. A <notifications@github.com>
wrote:

[2019-12-31 12:13] Uzay-G opened #323 "Add documentation for testing the repo"
In many of our other publiclab repos, there is extensive documentation on how to correctly test the codebase.
In LEL, it is very difficult for someone not acquainted with the tech stack or the code itself to run the tests.
For example, if a user runs `npm test`, the command executed is:
`echo \"Error: no test specified\" && exit 1`.
This just returns an error but doesn't give the user any informat

[2019-12-31 12:40] #323 closed

[2019-12-31 18:14] cesswairimu commented on #323
Hey @Uzay-G, I think this was an amazing issue...I was just wondering why you closed it...Thanks

[2019-12-31 18:20] Uzay-G commented on #323
Well, this is a bit embarassing but this issue was for the Leaflet.DistortableImage repo and I posted it in the wrong one. That's why I closed this one and opened it on on LDI. :smile:

[2019-12-31 18:24] cesswairimu commented on #323
hahaha :laughing: no worries, happens when you are working on a couple of repos. Thanks

[2020-01-01 08:47] #305 closed

[2020-01-01 08:49] #318 closed

[2020-01-01 09:04] sagarpreet-chadha opened #324 "Planning Jan 2020"
- [ ]  In-line authors maps using a plots2 shortcode as described in
https://github.com/publiclab/plots2/issues/3090
- [ ] In-line authors AND content maps using a plots2 shortcode as described in
https://github.com/publiclab/plots2/issues/3090
- [ ] Adding a manual zoom override tag “zoom:____” as described in:
https://github.com/publiclab/plots2/issues/5695
- [ ] Make a “/map/_wiki_slug_” route

[2020-01-01 13:29] crisner commented on #133
@sagarpreet-chadha, @jywarren, How shall we implement this with what we have now?
Do we go with something like this or shall we add in the text to make it look like the mock above?
![notification](https://user-images.githubusercontent.com/29401459/71641875-8e421c00-2cc8-11ea-8fb3-8acd06922fb8.png)

[2020-01-01 13:36] crisner commented on #117
This has been implemented in PR #318. Waiting for inputs to make any changes that may be required.

[2020-01-01 13:47] sagarpreet-chadha commented on #133
I think all layername should be visible in the layername at all times.
When the data is fetched for a layer which is only visible at a small area (when we move map to that area), then the red dot should be there i guess.

Earlier we could have not shown the layers in the menu  if they are visible only at very small area, but i think the new menu bar cleanly shows all the layers.

Lets wait for @jy

[2020-01-01 14:03] crisner commented on #133
Yes. Let's. Thanks! 😄

[2020-01-01 14:29] jywarren commented on #133
Wow all are beautiful! After thinking about it a while I think the 3rd
(southwest) mockup is the clearest! Let's add text in a popover, perhaps?
Instead of in the button?

On Wed, Jan 1, 2020, 9:03 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-01 14:30] jywarren commented on #133
Sorry I meant a tooltip, not a popover!

On Wed, Jan 1, 2020, 9:29 AM Jeffrey Warren <jeff@unterbahn.com> wrote:

[2020-01-01 15:13] crisner commented on #133
Great, thanks! I'll implement it as shown in the 3rd type in the mockup with text in a tooltip.

[2020-01-01 15:59] crisner opened #325 "Search not open by default but behind a magnifying glass icon that pops open"

[2020-01-02 12:52] crisner opened #327 "Write tests for custom layer control"

[2020-01-02 18:14] #325 closed

[2020-01-03 21:37] jywarren commented on #321
Noting connection point here! https://github.com/OpenToxMap/OpenToxMap/issues/1

May be that we can keep an eye on the layer sources over there and occasionally sync, or perhaps we can eventually standardize layer metadata so we can more easily share layers back and forth. Dunno but just making the connection!

[2020-01-06 13:48] #327 closed

[2020-01-06 14:08] crisner commented on #117
@jywarren, I had implemented this while working on the layers browser menu but for extents property, I had used the following to see if the map view intersects with the layer's bounds and the layer's minZoom.
[code]

I have also added the bounds and minZoom properties for all the layers that didn't have any. I am starting to think it is better to default them to display in any view without using h

[2020-01-06 14:48] jywarren commented on #117
Awesome! Oh, so by "without using hardcoded values" you mean if they don't
specify bounds, then just default them to be displayed? That sounds good to
me if so!

On Mon, Jan 6, 2020 at 9:08 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-06 15:19] crisner commented on #117
specify bounds, then just default them to be displayed?

Yes, that's right.

Great!

[2020-01-08 11:39] crisner opened #331 "Remove the use of hardcoded bounds or zoom values for filtering layers"
Display layers that do not have extents properties in their metadata globally.

[2020-01-08 11:48] crisner commented on #117
specify bounds, then just default them to be displayed? That sounds good to
me if so!

Opened a new issue, #331  and PR #332 for this.

[2020-01-08 14:54] crisner opened #333 "Prevent creating undefined 'layers-sub-list' when the consecutive layer is not a group"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-08 15:07] #87 closed

[2020-01-08 15:51] llabake commented on #333
Hi, I would like to claim this.

[2020-01-08 16:19] crisner opened #334 "Making note of new ideas and other tasks"
- [ ] We could have a url hash flag to have the menu expanded

[2020-01-08 16:23] crisner commented on #333
Sure, go ahead! 😃

[2020-01-08 16:37] #331 closed

[2020-01-08 18:42] sssash18 commented on #322
@cristner I have been guided to this task by @nstjean and have created   #335 regarding.
Can you please review it?

[2020-01-08 19:38] jywarren commented on #334
* [ ] Permalinks for popups? Like, if you open a popup maybe we can have a # button that links you back to this place AND it opens that same popup... this could be tough but useful... i don't see how we have a unique id here, but could we do it based on the layer and... timestamp? lat/lon? This might need some brainstorming.
* [ ] Less urgent: ways to show when a layer /will be active/ for the giv

[2020-01-08 20:03] jywarren opened #336 "Skytruth popup improvements"
Let's get some more of the data from SkyTruth Alerts into the popups for this layer!

![image](https://user-images.githubusercontent.com/24359/72011473-f0020900-3227-11ea-8d59-c8ed3ee757e1.png)

cc @crisner @sagarpreet-chadha just to put this on your radar... maybe this could make a good FTO?

Connecting also to #118

[2020-01-08 20:04] jywarren commented on #336
https://alerts1.skytruth.org/report/e3386004-2fa4-39cc-9003-820a3e775b1d#c=json

https://publiclab.github.io/leaflet-environmental-layers/example/#lat=40.1070&lon=-75.6732&zoom=14&layers=Standard,fracTrackerMobile,skytruth,fractracker,toxicReleaseLayer,mapknitter,Power,Petroleum,Water

[2020-01-08 20:06] jywarren opened #337 "Add "Contribute to OSM" button to OpenInfrastructureMap layer in menus"
We could link here! https://openinframap.org/about.html

[2020-01-08 20:08] jywarren opened #338 "Embed code URL has duplicated text"
It looks like it says `leaflet-environmental-layers` twice in the demo. But otherwise great!

![image](https://user-images.githubusercontent.com/24359/72011907-c9909d80-3228-11ea-8852-571d68d8ceda.png)

https://publiclab.github.io/leaflet-environmental-layers/example/#lat=40.1070&lon=-75.6732&zoom=14&layers=Standard,fracTrackerMobile,skytruth,fractracker,toxicReleaseLayer,mapknitter,Power,Petroleu

[2020-01-08 20:09] jywarren commented on #252
Done!!!

[2020-01-08 20:09] #252 closed

[2020-01-08 21:09] jywarren commented on #324
Just because it's pretty neat:

https://publiclab.org/notes/warren/11-16-2019/mashapaug-pond shows 3 nice views with different layers.

This starts to show how we could use this feature with inline maps to create something like this:

https://www.nytimes.com/interactive/2019/12/19/opinion/location-tracking-cell-phone.html

cc @crisner @sagarpreet-chadha @nstjean -- this is going to be great!

Is i

[2020-01-09 03:35] sagarpreet-chadha commented on #324
Yes seems doable, i will pick this task.
Do we want only Google base layer or the animation as well?

[2020-01-09 05:59] crisner commented on #338
I'll work on this. I wonder why the tests didn't pick this up. I will have to look at the spec files too.

[2020-01-09 13:22] crisner commented on #337
This layer does not have a report button. We could add a `contribute` button in place of the report button. How do you feel about that?

[2020-01-09 14:31] jywarren commented on #337
That sounds great!

On Thu, Jan 9, 2020, 8:22 AM Renisha Christie. A <notifications@github.com>
wrote:

[2020-01-09 14:54] crisner commented on #334
- [ ] radio button for polygon layer groups such as justice map, indigenous lands and weather data

Some layers such as those in justice map overlap each other making it irrelevant for the layer below it to be added to the map. This is the same for some layers in the weather group. It is hard to differentiate between layers in the indigenous lands group as well. How about we make it so that only o

[2020-01-09 15:13] #338 closed

[2020-01-09 20:58] #322 closed

[2020-01-09 21:00] #333 closed

[2020-01-10 06:13] crisner commented on #334
- [ ] Include Unearthing layer to the demo page

[2020-01-10 06:40] crisner commented on #334
Ah, so when this is integrated into other sites like publiclab.org users can click the `#` button which would link to the LEL demo and opens the same popup?

[2020-01-11 01:39] #133 closed

[2020-01-13 11:02] crisner opened #342 "Update documentation in README"

[2020-01-13 12:19] crisner opened #344 "Add media queries for layers menu for screen size 235x300"
The current layers browser menu does not fit well in the map displayed on the sidebar in publiclab.org. On examining, the container size seems to be at 235x300 but the menu is responsive only up to 320. Once this is addressed we can implement the new layers menu in plots2.

Because of the small screen size, it would be better to hide all information other than layer names and their selection contr

[2020-01-13 12:20] crisner commented on #344
@jywarren and @sagarpreet-chadha, would like your thoughts on this. Thanks!

[2020-01-13 12:54] jywarren commented on #344
I think this is right, yes! The only other alternative is to make the subsections collapsible somehow so you can expand them by pressing a small icon or link. But let's start with something basic like just hiding them, yeah!

[2020-01-13 13:39] crisner commented on #344
Awesome. I am adding this to my list for this week.

[2020-01-13 14:18] crisner commented on #134
@jywarren I have checked off a few tasks that had been done recently from the checklist above.

[2020-01-13 16:06] #337 closed

[2020-01-13 16:11] sagarpreet-chadha commented on #344
Yes hiding seems perfect first start to approach this!

[2020-01-13 16:12] #342 closed

[2020-01-13 22:11] jywarren commented on #134
Awesome!

[2020-01-14 13:05] crisner commented on #123
After looking at different ways of doing this, I think we can use leaflet's circle marker to simplify layer markers and render them on canvas instead of creating separate DOM elements for each marker to improve performance. I tried this out in EonetFiresLayer and this is how it looks:
![127 0 0 1_5500_example_index html (7)](https://user-images.githubusercontent.com/29401459/72345918-d9adee80-36fa

[2020-01-14 14:45] jywarren commented on #123
Oh this is really nice, thanks! One note on performance is that although
I'm sure Leaflet has plenty of ways to manage complexity and make canvas
markers a bit simpler to work with, but generally DOM markers are handled
pretty efficiently by the browser until a few hundred, and are worth it
because the browser handles events, whereas with canvas the event handling
is written in JavaScript. That go

[2020-01-14 14:54] crisner commented on #123
Thanks! Any cons I should be aware of when using canvas for rendering markers? What kind of issues did you have? I looked at glify but it looked like it takes in only geojson data.

[2020-01-14 15:01] sagarpreet-chadha commented on #123
Hey,

So fetching markers icon from some external URL will take time.
Using L.circle i think will remove this latency.

I have one quick question, why do you want to use Canvas?

[2020-01-14 15:34] crisner commented on #123
Using L.circle i think will remove this latency.

You are right. That's why I decided to go with `L.circleMarker`.

Well, since we do not have a lot of markers in layers other than open sense and air quality index this may be redundant. I was hoping to reduce the page lag because of the number of marker elements in the dom in case the user turns on multiple layers and especially if one of those la

[2020-01-14 15:48] sagarpreet-chadha commented on #123
Hey,

So fetching markers icon from some external URL will take time.
Using L.circle i think will remove this latency.

I have one quick question, why do you want to use Canvas?

[2020-01-14 16:20] sagarpreet-chadha commented on #123
Okay yes makes sense.
Can you try using L.circle for heavy layers and see if this still lags? (I am hoping this should not lag!)

Otherwise if it lags, then it makes sense to invest time in Canvas. Thanks!

[2020-01-14 16:35] crisner commented on #123
Awesome. By the way, just to be clear, according to the docs L.circle is an obsolete way to instantiate circles. I will be using L.circleMarker which extends path and instantiates a circle marker.

[2020-01-15 08:29] crisner opened #347 "Display new layers menu when instantiating LEL with one liner code"
The new layers browser menu has only been implemented in the demo. We will need to implement it to be displayed when instantiating LEL with the 'one-liner' code.

[2020-01-15 08:40] crisner commented on #347
@jywarren, do we need to retain the default layer control? I don't think we would need it anymore as we have simplified the layers browser menu for smaller screens. I was planning to replace it but we could add an option if we want the default one to be displayed when we need it. What do you think?

[2020-01-15 13:10] crisner commented on #347
This for the code that is used to integrate LEL into plots2.

[2020-01-15 16:13] #344 closed

[2020-01-15 16:20] jywarren commented on #347
This is great. The default is minimal to the point of being super confusing; see this page for example: https://stable.publiclab.org/map

![image](https://user-images.githubusercontent.com/24359/72450742-d8c39e00-3788-11ea-970a-7f42110879b2.png)

So, let's ditch it? Or if it's a big project, let's just leave the code there and... advise against it? we don't want people to feel they MUST use our br

[2020-01-15 16:32] jywarren commented on #123
I found that after 500-1000 markers, DOM markers slowed down a lot on slower devices. I had to actually modify glify (and had meant to submit the changes upstream, need to make a todo for this) because there's some complexity to how to determine which points to send a "click" to when someone clicks on a canvas. I think it's a clustering algorithm... thing. I fixed it in the library but it hurt my

[2020-01-15 16:40] jywarren opened #348 "externalize glify library with customizations"
In https://github.com/publiclab/leaflet-environmental-layers/pull/279#issuecomment-551210534 I used the https://github.com/robertleeplummerjr/Leaflet.glify/ library and had to customize it a bit. I'd like to submit the changes upstream and finish externalizing this!

I have a PR open here for the upstream contribution: https://github.com/robertleeplummerjr/Leaflet.glify/pull/35

But we can actuall

[2020-01-16 00:04] jywarren commented on #334
Yes, that's what i was thinking, but it seems hard!

[2020-01-16 00:06] jywarren opened #349 "Unearthing demo not visible in publiclab.org"
Hi all, i'm not sure what happened, as we haven't published anything i think... but I don't see the markers on https://publiclab.org/wiki/unearthing-pvd any more. @sagarpreet-chadha @crisner @nstjean can we try to prioritize debugging this?

Thank you -- i guess we need a system test in plots2 to ensure this stays live? There are a lot of moving parts!

[2020-01-16 00:07] jywarren commented on #349
![image](https://user-images.githubusercontent.com/24359/72481992-2f9d9780-37ca-11ea-90e2-50071b3c475d.png)

[code]

[2020-01-16 05:30] crisner commented on #349
Working on this.

[2020-01-16 08:59] crisner opened #350 "Fix error when baseLayers option is not added"
`Uncaught TypeError: Cannot convert undefined or null to object` error is thrown when baseMaps are undefined.

[2020-01-16 09:27] crisner commented on #349
So, the error from the console has been fixed in PR #351 under a new issue #350 as this wasn't responsible for the markers not showing up.

It looks like the layers are available on the map but not added to the map by default.
![publiclab org_wiki_unearthing-pvd (1)](https://user-images.githubusercontent.com/29401459/72509783-4ac1e300-386e-11ea-995d-682723803fc0.png)

When I was working on the emb

[2020-01-16 12:47] #350 closed

[2020-01-16 19:18] jywarren commented on #349
Awesome, thank you-- let's try to set up a test for this as well, so that it makes the feature more explicit? Thanks a ton!!!

[2020-01-16 20:07] #349 closed

[2020-01-17 03:20] crisner commented on #123
Yes, I was expecting to have issues on clicks when I tried it out but it was handled in leaflet. Worked just like regular markers.

[2020-01-17 07:29] crisner commented on #347
@jywarren, I couldn't find your comment where you mentioned how the one-liner code should be the way to implement LEL and that it was buried deep in the readme file. So I am replying to that here. I am thinking we could either move the code to the top or move the other documentation to a docs file leaving only the one-liner code in the readme. What do you think?

[2020-01-17 07:30] crisner commented on #347
Ah!!! The comment I was looking for was right here! :laughing: Sorry about that!

[2020-01-17 14:31] sagarpreet-chadha commented on #347
Agreed with @jywarren , the readme.md file is very large.
We should have links to different markdown files in the main Readme.md file.
Something like:

### Content
1. What is LEL
2. Terminologies
3. Get started
4. About Layers
5. One liner syntax
6. embed
7. custom control Bar
8. Hash
9. Testing
10. How to contribute?
11. Reach out the maintainers
12. About PublicLab

What do you think?

[2020-01-17 15:43] jywarren commented on #347
I love this. We can even rename it to just be "basic usage" vs "one-liner"
and then start calling any other usage "adding layers individually"? it
kind of resets what the default is.

On Fri, Jan 17, 2020 at 9:31 AM Sagarpreet Chadha <notifications@github.com>
wrote:

[2020-01-17 16:16] crisner commented on #347
Awesome!

[2020-01-20 05:39] crisner opened #354 "Edit documentation in README for more clarity"
Agreed with @jywarren , the readme.md file is very large.
We should have links to different markdown files in the main Readme.md file.
Something like:

### Content
1. What is LEL
2. Terminologies
3. Get started
4. About Layers
5. One liner syntax
6. embed
7. custom control Bar
8. Hash
9. Testing
10. How to contribute?
11. Reach out the maintainers
12. About PublicLab

What do you think?

_Original

[2020-01-21 10:32] crisner opened #355 "Bump leaflet from 1.3.1 to 1.6.0"
Bringing to notice that we still seem to be using an older version of leaflet whereas plots2 uses the latest version(1.6.0).

[2020-01-21 11:12] crisner commented on #334
Is there a reason to have it as part of the URL hash? Shall we have it as a query string as this will not be dynamic and leave the hash for dynamic map parameters? I think setting the layer control's collapsed option in the one-liner code after identifying it from the query string would be simpler. @jywarren and @sagarpreet-chadha, what do think?

[2020-01-21 16:00] nstjean opened #357 "Tests fail when bump LBL to 1.6.0"
I noticed this the other day and @crisner said she saw the same thing when she updated npm. It is throwing errors for the PLpeopleLayer due to the changes made in LBL.

![natalie@natalie-ubuntu: ~-Dev-Ruby-public-lab-leaflet-environmental-layers_022](https://user-images.githubusercontent.com/49460529/72820616-33ec0980-3c3d-11ea-8681-991e3aa61e05.png)

I have a fix for this.

[2020-01-21 16:23] sagarpreet-chadha commented on #355
🎉 We need to upgrade. Thanks!
Do you think you can make a FTO for this? (Remember to add steps to run` yarn install` after changing package number). Thanks!

[2020-01-21 23:20] emilyashley commented on #355
Ooh good call.

[2020-01-22 12:18] crisner opened #359 "Populate popup data for opensense layer"
The marker for the opensense layer does not have popup content. It needs to be added to the popup from the data for each marker.
https://github.com/publiclab/leaflet-environmental-layers/blob/6f6c8a350717458390ca1012d758dd492f0c7125/src/layercode.js#L267-L274

https://github.com/publiclab/leaflet-environmental-layers/blob/6f6c8a350717458390ca1012d758dd492f0c7125/src/layercode.js#L294

<hr>

![127

[2020-01-22 13:26] crisner opened #360 "Luftdaten layer access to data blocked by CORS policy"
Data for Luftdaten layer seems to be blocked by CORS policy. Getting the following error when adding the layer to map.

`Access to XMLHttpRequest at 'https://maps.luftdaten.info/data/v2/data.dust.min.json' from origin 'https://publiclab.github.io' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.`

[2020-01-22 15:02] crisner commented on #360
Having similar issues with purpleair marker layer. The markers load on the map for the first request but throw a CORS policy error for subsequent requests.

[2020-01-23 04:56] #347 closed

[2020-01-23 14:54] crisner commented on #355
Yes. I can make an FTO out of this. We'll need to run `npm install` here in LEL right? Is this to generate the package-lock.json and commit that file too?

[2020-01-23 14:57] nstjean opened #362 "layersBrowser default layers objects"
Currently to have the new layersBrowser menu included in a map you have to specify a list of all the layers:

https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/example/layers.js#L117-L198

https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/example/layers.js#L262-L263

I think these default la

[2020-01-23 15:00] crisner commented on #336
Yes, looks like it could make a good FTO!

[2020-01-23 15:48] nstjean commented on #362
Wait, I see you just implemented this! https://github.com/publiclab/leaflet-environmental-layers/pull/353 This is perfect. So I'm assuming once LEL version gets updated on plots2 we can use this new code!

[2020-01-23 15:52] crisner commented on #362
The code that is used in plots2 is from `AllLayers.js`. It was already implemented for the default layer control. I updated it to be used with the implementation of the new menu as well. This doesn't change the code in `layers.js` though.

[2020-01-23 16:04] nstjean commented on #362
Okay. That's why I was confused at first, but I see the changes to `AllLayers.js` and how it will all work.

[2020-01-23 16:15] sanjana091001 commented on #359
Can I work on this?

[2020-01-23 16:30] crisner commented on #359
Sure @sanjana091001! Please go ahead.

[2020-01-23 16:31] sanjana091001 commented on #359
I'm new here, can I get some more information about this issue?

[2020-01-23 16:42] crisner commented on #359
If you are new you could take a look at issues that are labelled `first-timers-only` here: https://code.publiclab.org/#r=all. You may have to dig a little into the code for this one.

[2020-01-23 16:52] jywarren commented on #119
Ah! linking to https://github.com/publiclab/leaflet-environmental-layers/pull/154 where this was solved! Thanks!

[2020-01-23 16:52] #119 closed

[2020-01-23 16:53] jywarren commented on #136
Hi @crisner, just putting this on your radar. With all the fantastic work that's gone into this library, perhaps we should revisit the "adding a layer" docs in CONTRIBUTING.md - maybe adding the "spreadsheet layers" too, like #154?

[2020-01-23 16:54] jywarren commented on #136
Ah, actually we have some suggested text for spreadsheet layers here! https://github.com/publiclab/leaflet-environmental-layers/issues/121

[2020-01-23 17:02] crisner commented on #136
I guess this issue #243 is related?

[2020-01-23 17:44] sanjana091001 commented on #359
I would really like to work on this issue, can I give it a shot?

[2020-01-24 06:51] crisner commented on #359
Sure! Go ahead and give it a try. 😃  Also, it looks like the popup content is generated here:
https://github.com/publiclab/leaflet-environmental-layers/blob/6f6c8a350717458390ca1012d758dd492f0c7125/src/layercode.js#L37-L65

But then the content is not bound to the popup. The content needs to show when we click the markers in this layer. Thanks!

[2020-01-24 18:44] jywarren commented on #349
Published live! Thank you! https://publiclab.org/wiki/unearthing-pvd

[2020-01-26 10:38] jshreyans commented on #355
Hi! Can I work on this issue? I'm new to the codebase and would love to start contributing.

[2020-01-27 06:22] crisner commented on #355
@jshreyans, sure! Please go ahead! As mentioned above remember to run `npm install` after changing the package number. 😃 Thanks!

[2020-01-27 07:42] crisner opened #363 "Prevent use of the same default tile layer for multiple maps"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-27 15:50] z-arnott commented on #363
Hi! Could I claim this issue?
I'm new to Open Source but I'd like to help :)

[2020-01-27 16:24] crisner commented on #363
Yes! Please, go ahead. Thanks! 😃

[2020-01-27 18:32] jywarren commented on #360
Yes, thanks for filing this. Updating title to include both.

There are ways to circumvent CORS (using [a proxy](https://github.com/publiclab/leaflet-environmental-layers/blob/f10a792abdd708f6d17bdbb9d25ae77916403bf6/src/fracTrackerMobileLayer.js#L40)) but we shouldn't do it without agreement from the originators; sometimes they just open up CORS for us as they may not have known it was blocked.

[2020-01-27 18:36] jywarren commented on #360
https://publiclab.org/wiki/sandbox-3 shows this behavior!

[2020-01-27 18:54] nstjean opened #364 "Layers browser name saved in JSON file"
I'm noticing that we are saving custom names like this:
https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/src/AllLayers.js#L93-L98

This makes the layer display as a more readable "Toxic Release" instead of "toxicReleaseLayer".

I feel like we should have that data saved in https://github.com/publiclab/leaflet-environmental-layers/blob/master/s

[2020-01-27 19:01] nstjean opened #365 "Standardize baselayers"
Our current method for displaying a base layer is this:

https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/example/oneLinerCodeExample.html#L69-L93

I feel like we can clean this up further by saving the baselayer data in the source code instead of requiring the user to provide it each time. The usage would look like this:

[code]

We could all

[2020-01-27 19:24] nstjean commented on #364
Note I don't think that's the only thing this code does, but there should be a simple way to set a layer's display name regardless.

[2020-01-27 22:31] jywarren commented on #364
Totally agree! Great observation and +1

[2020-01-28 02:00] neelesh17 commented on #355
Hi, May I work on this Issue? I,m new to open source contribution and would love to get started.

[2020-01-28 06:23] jshreyans commented on #355
@crisner Thanks a lot! I'll send a PR as soon as possible.

[2020-01-28 07:34] crisner commented on #365
Awesome. Right now LEL will default to grey-scale if a user does not pass in a baseLayer. It is done in this line here:
https://github.com/publiclab/leaflet-environmental-layers/blob/7cf1aa1b19e9b3728901465255d13ab3f028a786/src/AllLayers.js#L79

If we have plans to add more than one baselayer option for the user to choose we could initialize those layers within LEL just like how we've done for the

[2020-01-28 08:14] crisner commented on #364
Agreed. The code would also look neater that way.

[2020-01-28 08:15] crisner commented on #364
We should add this to the planning issue #334

[2020-01-28 08:20] crisner commented on #355
@neelesh17, this issue has already been claimed. Feel free to look at other first-timers-only issues in this repo or here: https://code.publiclab.org/. Thanks!

[2020-01-28 08:56] crisner commented on #334
- [ ] Add ability to turn filtering on and off in layer menu
- [ ] Save layers name in json file #364

[2020-01-28 15:59] #363 closed

[2020-01-28 15:59] jywarren commented on #365
Awesome!!!

[2020-01-28 16:15] nstjean commented on #365
Oh great! It didn't seem to be working in plots2, but I wonder if it will now. I'll check on that while I'm working on /map/ !

[2020-01-28 18:20] nstjean commented on #365
So your lovely changes aren't in plots2 yet, so I bumped the LEL version here: https://github.com/publiclab/leaflet-environmental-layers/pull/368

[2020-01-28 18:27] #362 closed

[2020-01-28 20:37] steviepubliclab commented on #360
Hi! I just reached out to them. I think they are willing to work with us on fixing this, they have a couple questions maybe someone here can help me answer:

1) they made two changes to their data hosting platform one back in October, and one more recently, they are wondering when we noticed this change so they could ID which adjustment they made affected our ability to see the purple air data on

[2020-01-28 20:53] steviepubliclab commented on #360
One answer to above: we noticed the data was blocked on November 19th

[2020-01-29 05:46] crisner opened #369 "Add search control to LEL's basic usage"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-01-29 06:01] crisner commented on #365
There was a bug that did allow the default base layer in the one-liner code to appear when multiple maps were added to the same page. It should work now with this change once this version is added to plots2. 😄
https://github.com/publiclab/leaflet-environmental-layers/blob/4109b587196fbe35b2adfc24ce9503e206d54bee/src/AllLayers.js#L76-L79

[2020-01-29 08:31] crisner commented on #360
We are fetching the data for Luftdaten from here: `https://maps.luftdaten.info/data/v2/data.dust.min.json`
https://github.com/publiclab/leaflet-environmental-layers/blob/4109b587196fbe35b2adfc24ce9503e206d54bee/src/layercode.js#L92

and for PurpleAir from here: `https://www.purpleair.com/data.json`
https://github.com/publiclab/leaflet-environmental-layers/blob/4109b587196fbe35b2adfc24ce9503e206d54

[2020-01-29 08:36] crisner commented on #360
These are the errors we are getting when trying to fetch data from PurpleAir:

Access to XMLHttpRequest at 'https://www.purpleair.com/data.json?fetchData=true&minimize=true&sensorsActive2=10080&orderby=L&nwlat=43.929549935614595&selat=41.23238023874142&nwlng=-8.745117187500002&selng=-4.207763671875001' from origin 'https://publiclab.github.io' has been blocked by CORS policy: No 'Access-Control-Al

[2020-01-29 13:10] neelesh17 commented on #369
Can I work on this issue?

[2020-01-29 14:02] crisner commented on #369
Sure @neelesh17! Please, go ahead.

[2020-01-29 15:12] #123 closed

[2020-01-29 15:15] steviepubliclab commented on #360
Thank you!

[2020-01-29 15:15] jywarren commented on #360
Thanks for the update!!

Hmm. Oddly i seem to be getting some points loading on this page, though:

https://publiclab.org/map#9/41.70367796221136/-71.38229370117189

That's a little unexpected. @crisner is there any difference in how we request these?

![Screen Shot 2020-01-29 at 10 14 21 AM](https://user-images.githubusercontent.com/24359/73369236-43440600-4280-11ea-9274-90d759eff657.png)

[2020-01-29 15:37] jywarren commented on #360
Huh, checking back in on this. We are seeing some markers on this test page as well: https://publiclab.org/wiki/purpleair-test

![image](https://user-images.githubusercontent.com/24359/73370986-10e7d800-4283-11ea-88b7-bda8cd30f94d.png)

Why are some requests seeing CORS errors but others not? Hm. That same page shows;

[code]

This request succeeded:

https://www.purpleair.com/data.json?fetchData=

[2020-01-29 15:39] jywarren commented on #360
OK - so strange. When the layer is enabled by default, the request is fine. But if it's based on a map interaction, like a drag, we get CORS. Are the two mechanisms for requesting this data different?

[2020-01-29 15:46] jywarren commented on #360
Now, on initial page load I get a 429. Weird.

Aha! a clue: HTTP Error 429 is actually a "too many requests" error.

https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/429

Hypothesis-- I think what's happening is this:

1. we make initial request and we haven't for a little while so it succeeds
2. we interact with the map and it triggers a second request but the server throttles us and retu

[2020-01-29 15:47] jywarren commented on #360
@crisner do you think this seems like a likely scenario I've laid out?

[2020-01-29 16:14] crisner commented on #360
Yes, seems like it.

[2020-01-30 06:07] crisner opened #371 "Combine layer metadata into a single file"
This is to combine the data to avoid repetitive information as discussed in https://github.com/publiclab/leaflet-environmental-layers/pull/367#discussion_r372268534

[2020-01-30 11:27] crisner opened #372 "Fix duplication of jquery script tags"
Some layers seem to be creating a script tag with jquery('https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js') as its source and this is being appended to the head of the HTML file the source lives in. This seems to be creating a conflict here in plots2 just as the mapDependencies did. Here are the lines from one of the layers:
https://github.com/publiclab/leaflet-environmental-layer

[2020-01-30 11:55] crisner commented on #372
![script-error](https://user-images.githubusercontent.com/29401459/73447807-82a84a80-4385-11ea-9029-54ee85f8da5f.png)

[2020-01-30 13:53] nstjean commented on #372
Nice catch!! I think we do need to address this in LEL like you posted.

Why are layers adding dependencies anyways? Shouldn't that be something that is added globally in LEL? We'd still have to do the check if it already existed, but I feel like it shouldn't be something that the layers themselves are doing.

_Originally posted by @nstjean in https://github.com/publiclab/plots2/issues/7381#issuec

[2020-01-30 16:35] crisner opened #374 "Fix missing layers in layer menu on refresh"
There was a change I made on one of my previous PRs that fixed some errors by adding a check to when the 'moveend' event was triggered. This seems to have affected how the layers were displayed in the layers menu when the page was refreshed. Sometimes there were layers missing from the layers menu when it should have been there.

https://github.com/publiclab/leaflet-environmental-layers/blob/c69ad

[2020-01-30 17:42] nstjean opened #376 "Default baselayer not loading properly on inline maps"
On plots2 I am removing references to baselayer so that we can just use the default LEL baselayer for now. I've noticed that pages with just one map (like /map/) load the baselayer properly, however inline maps, especially on pages with multiple maps, are not showing things correctly:

![FireShot Capture 256 - 🎈 Public Lab_ Inline Maps - localhost](https://user-images.githubusercontent.com/4946052

[2020-01-30 18:00] crisner commented on #376
For now passing the initialized baselayer through the options should work. Just initializing it outside without passing it in would not work as it would get replaced by the default baselayer.

[2020-01-30 18:02] crisner commented on #376
But if it works here then the change sounds good.

[2020-01-30 18:32] nstjean commented on #376
I was noticing one issue on some maps with the default being displayed overtop of the passed-in baselayer:

![FireShot Capture 258 - 🎈 Public Lab_ Inline Maps - localhost](https://user-images.githubusercontent.com/49460529/73478956-00a82980-4365-11ea-89c3-91c595801880.png)

[2020-01-30 19:49] nstjean commented on #376
I copied and pasted over the newest version of dist/LeafletEnvironmentalLayers.js to test it out and I think you're right, the newest changes you made should hopefully solve this issue.

[2020-01-30 22:54] #374 closed

[2020-01-31 14:31] jywarren commented on #374
Ah, is it possible this was related to https://github.com/publiclab/leaflet-environmental-layers/issues/376 ?Thank you!

[2020-01-31 14:33] jywarren commented on #376
Awesome, thanks @crisner for responding to https://github.com/publiclab/plots2/issues/7397 and linking it to here. I'll close that one. Thanks!

[2020-01-31 14:39] jywarren commented on #376
And, let's think of ways to add tests for some of these cases both on LEL and plots2!

[2020-01-31 15:14] crisner commented on #376
Yes. LEL does not have many tests. Once I finish the issues in progress I'll focus on writing some tests to check if maps work as expected on a page.

[2020-01-31 15:17] crisner commented on #374
This was not implemented into the one-liner usage in the version used in plots2. Also, this deals with overlays and does not affect baselayers. 😃

[2020-01-31 15:46] nstjean commented on #376
Yes definitely. We need some in LEL for inline maps and the /map/ page, probably /people/ too.

[2020-01-31 17:21] nstjean opened #377 "Add parameter 'display' to options"
Copied over from https://github.com/publiclab/plots2/issues/3090#issuecomment-580426736

I noticed that we had a few options in the maps
-> show entire menu, but no layers displayed
-> use `include` or `exclude` to limit the available layers in the menu, but no layers displayed
-> use `include` or `exclude` to limit the available layers in the menu, and `addLayersToMap` to display all the included

[2020-02-01 03:48] crisner opened #379 "Out of extents layers are not removed from the map when hash is set to false"
Problem:
The layers are successfully filtered out from the menu but not removed from the map when hash is false. It works as expected when hash is set to true.

Expected behaviour:
Layers should be removed from the map when they are out of bounds and filtered out from the layer menu

This screenshot shows the fractracker and odorreport layers showing on the map but are filtered out from the menu.

[2020-02-01 06:02] #377 closed

[2020-02-03 15:40] steviepubliclab commented on #360
This is what we heard back from the Purple Air team

"Glad you were able to figure out what the error was. The only options are www.purpleair.com/data.json and www.purpleair.com/json. We don't have tokens to life the limit, but can see if you are being block.

My recommendation would be to decrease the frequency you are sending request to the API to every 5-10 minutes. Also, make sure you are send

[2020-02-03 16:03] crisner commented on #360
Thanks, @steviepubliclab!

[2020-02-03 16:40] crisner opened #381 "Skytruth icons not showing or loading correctly"
It throws the following error.
`www.clker.com/cliparts/T/G/b/7/r/A/red-dot.svg:1 GET https://www.clker.com/cliparts/T/G/b/7/r/A/red-dot.svg net::ERR_CERT_DATE_INVALID`

[2020-02-03 17:21] crisner opened #382 "Refactor code in layers to replace jQuery with XHR"
Replace use of jquery with xhr

Linking to similar discussion going on in another repo, by @sashadev-sky ! https://github.com/publiclab/Leaflet.DistortableImage/issues/538

_Originally posted by @jywarren in https://github.com/publiclab/leaflet-environmental-layers/pull/373#issuecomment-580500748_

[2020-02-04 12:52] crisner commented on #334
- [ ] Highlight new layers when the user expands the layers menu similar to the image below
![image](https://user-images.githubusercontent.com/29401459/73743533-d1365a00-4774-11ea-92d2-7d19fb399912.png)

[2020-02-04 13:41] nstjean commented on #334
I like that idea, it would look great!

[2020-02-04 17:02] sagarpreet-chadha commented on #381
Let's change the marker icon. Can you make a FTO to add` L.circle()` and replace existing `L.marker `icon please?Thanks. 😄 !

[2020-02-04 17:24] crisner commented on #381
Yes. Shall do. :smiley:

[2020-02-05 08:40] crisner opened #384 "Fix skytruth icons not showing"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-05 08:43] crisner commented on #381
Moved to #384

[2020-02-05 16:35] nstjean opened #386 "Creating tests for one liner implementation"
When I tried to include tests for the one-liner implementation I got the error message
[code]

I realized I needed to add files to the list in `babel` to account for the ES6 code.
- `AllLayers.js` for `L.LayerGroup.EnvironmentalLayers`
- `PLpeopleLayer.js` for `L.LayerGroup.PLpeopleLayer`

Here's the errors now:
![natalie@natalie-ubuntu: ~-Dev-Ruby-public-lab-leaflet-environmental-layers_046](http

[2020-02-05 16:48] nstjean commented on #386
In `Gruntfile.js` under `jasmine` I think this worked!
[code]
At least for the Symbol error!

[2020-02-06 14:14] nstjean commented on #386
Instead of loading Leaflet in the Jasmine options the way I want to, I had to do it in a fixture in order to declare the `window` variable first for it to use.
[code]

[2020-02-07 02:02] neelesh17 commented on #384
Hey @crisner may i work on this issue if it does not have a PR already?

[2020-02-07 02:39] crisner commented on #384
Yes @neelesh17. You may work on this. Only layercode.js file needs to be changed. Thanks! :smiley:

[2020-02-07 14:51] nstjean commented on #386
So that is not working, because it is not loading `leaflet.js` when using the `script` tag. If I add it to Gruntfile under jasmine vendors `leaflet.js` loads, but doesn't have a window object so our LEL objects throw an error trying to access things.

[2020-02-07 15:06] saurabhkanswal opened #387 "OpenInfraMap layer are not working"
i don't know whether it is a bug or not but power, telecom, petroleum and water layer are not working.
map doesn't show anything on choosing those layers.

[2020-02-08 04:13] crisner opened #388 "Add a changelog to keep track of changes"
Add a changelog file that we can keep updated as we make new changes so we know what we can know the changes done for each version when publishing LEL.

[2020-02-08 06:50] crisner commented on #387
Thanks for opening an issue on the problem @saurabhkanswal! This, issue#147, is an existing issue on the same layer. Do you think it is the same issue you are facing?

[2020-02-08 07:19] crisner commented on #387
We are getting a bunch of the following error on the console on the layer's tiles.
`tiles-b.openinframap.org/power/3/3/4.png:1 GET https://tiles-b.openinframap.org/power/3/3/4.png net::ERR_NAME_NOT_RESOLVED`
The error we are getting is different from #147 but the solution should be the same as mentioned here https://github.com/publiclab/leaflet-environmental-layers/issues/147#issuecomment-47570663

[2020-02-08 19:39] crisner opened #391 "Get data from bbox and populate popup data for opensense layer"
Hi, this is a [first-timers-only issue](https://code.publiclab.org/#r=all). This means we've worked to make it more legible to folks who either **haven't contributed to our codebase before, or even folks who haven't contributed to open source before**.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially

[2020-02-08 19:44] crisner commented on #359
Moved to #391

[2020-02-09 05:44] sagarpreet-chadha commented on #384
Awesome!

On Fri, 7 Feb 2020, 08:09 Renisha Christie. A, <notifications@github.com>
wrote:

[2020-02-09 07:18] sagarpreet-chadha commented on #388
We should use https://github.com/publiclab/leaflet-environmental-layers/releases .
I am drafting new release, @crisner or @nstjean can you guy update this release and add all the changes in `version 2.2.1 ` . Thanks!

https://github.com/publiclab/leaflet-environmental-layers/releases/tag/2.2.1

[2020-02-09 07:29] #372 closed

[2020-02-10 07:36] crisner commented on #388
Did you mean to update the release notes?

[2020-02-10 07:50] crisner commented on #388
@sagarpreet-chadha, It looks like the commits from the PR #373 is not included in the version when I checked out the zip file here https://github.com/publiclab/leaflet-environmental-layers/releases/tag/2.2.1. It also says so here https://github.com/publiclab/leaflet-environmental-layers/compare/2.2.1...master

Shall we publish these too as it would help to debug some of the errors in plots2? @nstj

[2020-02-10 08:45] crisner opened #393 "TRI layer not fetching data"
Noting it down here that accessing the toxic release layer has been throwing the following error since sometime last week.

I am getting the following message  upon visiting the link in a new tab.

[2020-02-10 10:47] crisner commented on #388
@nstjean, could you also take a look at [this](https://github.com/publiclab/leaflet-environmental-layers/releases/tag/2.2.1) and update where needed? Thanks!

[2020-02-10 13:40] nstjean commented on #388
@crisner Yes, I will!

[2020-02-10 14:32] nstjean opened #394 "Weekly community Check-In #48 - Career Options"
We all at Public Lab 🎈 - learn, grow, work, brainstorm ideas, contribute together so why not share about our weekly goals and the awesome work we have done at Public Lab with each other, so we can support and collaborate with each other better. We have a Community Check-In each week, where every community member can share something about their work from the past week and about their current week's

[2020-02-10 14:33] nstjean commented on #394
@rehasantiago, @urvashigupta7, @HashTalmiz, @vinitshahdeo, @nstjean, @dragonwarp, @z-arnott, @VladimirMikulic, @NitinBhasneria, @Tlazypanda, @JanviMahajan14, @sssash18, @mantinone, @DouglasLutz, @seabl, @dependabot-preview[bot], @jywarren, @crisner, @Uzay-G, @shaibrown5, @kostogls, @pcube99, @imajit, @nicoleiocana, @simonastefan, @giovannyg, @priyanka-choubey, @anthony-zhou, @hknowlton, @Bhanu-mbv

[2020-02-10 14:33] nstjean commented on #394
@Rishabh570 @sashadev-skyl @vaibhavmatta @shubhscoder @aSquare14 @sidntrivedi012 @stefannibrasil @ViditChitkara @tech4GT @mridulnagpal @CoderJolly @namangupta01 @sagarpreet-chadha @Souravirus @MayankKashyap @siaw23 @ryzokuken @icarito @steviepubliclab, @ebarry, @jywarren, @sagarpreet-chadha, @JonathanXu1 @rexagod, @divyabaid16, @dinaelhanan, @oorjitchowdhary @publiclab/mentors @publiclab/image-seq

[2020-02-10 14:38] VladimirMikulic commented on #394
@sashadev-sky :)

[2020-02-10 14:42] nstjean commented on #394
@alaxalves @keshav234156 @ananyaarun @IshaGupta18 @CodeSarthak @HarshKhandeparkar @chen-robert @LeoDog896 @anthony-zhou

[2020-02-10 14:43] nstjean commented on #394
@pydevsg @debck

[2020-02-10 14:46] crisner commented on #394
Awesome! I was writing a blog post about career plans after Outreachy! I will share it here as soon as I hit publish. 😄

[2020-02-10 15:17] sagarpreet-chadha commented on #394
Awesome!
My career plan is to work in a team which is excited to explore new things while solving complex interesting problems!!!

[2020-02-10 15:18] #379 closed

[2020-02-10 16:07] crisner commented on #394
Here's my blog post, Outreachy week 9 assignment, on career goals, https://renishachristieblog.wordpress.com/2020/02/10/career-goals-after-outreachy/ 😄

[2020-02-10 16:49] nstjean opened #395 "Second map inheriting values from first map"
I ran into an issue writing tests for maps and discovered that there was some issues that could be seen in `example/multipleMaps.html`. using this code:
[code]
I found that the first map's `addLayersToMap: true` was being carried forward into map2, since it did not have anything set for `addLayersToMap` - it wasn't setting it to the default.

[2020-02-10 16:51] nstjean commented on #395
I didn't get a screenshot because loading ALL layers froze my browser.

[2020-02-10 21:51] SidharthBansal commented on #394
**ANNOUNCEMENTS OF THE GCI**
![image](https://user-images.githubusercontent.com/20972099/74193331-33172800-4c7d-11ea-9ca3-615cd677bccc.png)

Well done all the winners :-) Congratulations 🎉 💯
For the winners, keep up the spirit. This is just the beginning, you have to do much beyond the GCI. World is big and full of opportunities. 💯
For those you are not winners, even if you created one successful

[2020-02-10 21:58] nstjean commented on #394
Honestly you all from CGI did so much work, and such good stuff! I've been very impressed. And yes, there is so much learning going on! :fireworks: Fantastic!! :tada: :tada:

[2020-02-10 22:46] SidharthBansal commented on #394
Hi Renisha, I really loved your blog post
Can you please repost it to publiclab.org with `soc` tag?
thanks for making this community awesome :-)

On Tue, Feb 11, 2020 at 3:28 AM Natalie St Jean <notifications@github.com>
wrote:

[2020-02-10 22:47] VladimirMikulic commented on #394
Thank you @SidharthBansal.
Congratulations to you as well, all other mentors, students and volunteers here at Public Lab that have been with us for almost 2 months!
It's been a pleasure to work with this amazing community.

I couldn't agree more. Hard work pays off and as you said, this is just the beginning :)

[2020-02-11 02:29] neelesh17 commented on #391
Can I try this issue.

[2020-02-11 06:51] crisner commented on #395
Nice catch! Console logs seem to be giving the expected values. I had to expand them to see that they were indeed being carried over.

![consoleOutput1](https://user-images.githubusercontent.com/29401459/74215687-e573dd00-4cc7-11ea-92c2-e19f06bba747.png)

 It looks like the way we are initializing options is the issue. I had intended to change this later because it wasn't causing any issues at the

[2020-02-11 07:44] crisner commented on #394
Thanks, @SidharthBansal! I'll repost it to publiclab.org.

Congratulations to all GCI winners! 🎉 🎉 🎉

[2020-02-11 07:49] crisner commented on #391
Thank you @neelesh17! If you have completed a couple of FTO's would you like to try out issues tagged with `help-wanted` instead?

[2020-02-11 07:51] crisner commented on #369
This issue is still open to first-timers.

[2020-02-11 10:53] neelesh17 commented on #391
Okay, Thanks for the advice @crisner .

[2020-02-11 13:19] crisner opened #398 "Write tests for LEL demo index page"
Adding tests for the demo index page from the examples.

[2020-02-11 13:25] crisner commented on #398
I have installed Cypress to do some UI testing on the index.html demo page. When I visit '/example/index.html' I am getting a `SecurityError: Blocked a frame with origin "http://localhost:50937" from accessing a cross-origin frame.` error and the loading spinner keeps running. It looks like I am getting the error from the hashing library.
![image](https://user-images.githubusercontent.com/29401459

[2020-02-11 13:44] nstjean commented on #395
Excellent, I saw your suggestions in #396 I'll make sure it works correctly and push up the changes!

[2020-02-11 16:50] #395 closed

[2020-02-11 16:59] nstjean opened #399 "Layers disappear on zoom"
I noticed a bug: This map works great when `simpleMenu: true` but when the browser menu is used the layers are disappearing on zoom.

![Peek 2020-02-11 11-55](https://user-images.githubusercontent.com/49460529/74259256-9fb61500-4cc5-11ea-95a7-f589ce28d12a.gif)

Here's the code I used in `multipleMaps.html`:
[code]

I also noticed that those layers aren't listed at all in the browser menu. But this

[2020-02-11 16:59] nstjean commented on #399
@crisner

[2020-02-11 17:01] crisner commented on #399
That is because it is filtered out by the layer menu. It is not supposed to be visible at that map bounds or zoom. It appears because we are forcing it to display on the map by default.

[2020-02-11 17:03] nstjean commented on #399
Ahhhh. Ok. I see it did behave this way before our changes .

[2020-02-11 17:04] crisner commented on #399
When a user is browsing the layer will only be available in the layer's zoom and bounds. So a user might set it to appear by default only when the layer is available. It would disappear when the map moves away from its bounds or the map is zoomed out.

[2020-02-11 17:06] nstjean commented on #399
I do see that with `simpleLayerControl: true` the map `asian` does disappear at zoom 10 and higher. Which is expected. But when `simpleLayerControl: false` it disappears as soon as I zoom the map at all - and it does not turn back on.

[2020-02-11 17:08] crisner commented on #399
It gets removed from the map. Justice map is available from zoom level 5. You will have to turn it back on when it is available in the layer menu.

[2020-02-11 17:09] crisner commented on #399
If this seems unintuitive we can remove the code responsible for removing the layer from the map. The issue then would be there would be no way to turn off the layer when it is filtered off the layer menu.

[2020-02-11 17:13] crisner commented on #399
We should perhaps look into a better way for layer filtering? Maybe look into how the layer should behave with the map when it is filtered out?

[2020-02-11 18:09] nstjean commented on #399
Ahhh, I see. Yeah that doesn't seem intuitive to me.

So it behaves differently depending on which menu is up because the browser menu doesn't have all the layers in there? I noticed a lot are missing, such as Unearthing.

[2020-02-12 03:03] crisner commented on #399
Yes. The layer menu in LEL is different from the default one. We essentially want the users to work with LEL's layer menu. The layers are filtered out because we don't want the user requesting data out of the layer's extents and we don't want the layer menu to be too long.

Here's how we could go about making the experience better.

1) Once a layer is added to the map let the layer be visible both

[2020-02-12 15:01] nstjean commented on #388
@crisner @sagarpreet-chadha I've updated the release notes with the PR that was just merged. This shows the changes you've made and my latest one. So I think we're good!

![FireShot Capture 279 - Comparing 2 2 1 master · publiclab_leaflet-environmental-layers_ - github com](https://user-images.githubusercontent.com/49460529/74347142-a2c10c00-4d7e-11ea-9bcf-c5c76db2ad2e.png)

[2020-02-13 20:12] nstjean commented on #399
Ohhhhhh, I see!! That is neat!

I don't see the Wisconsin layer showing up at all, even when I zoom in to Wisconsin, though. We will want to check into that and make sure the visibility settings are correct.

1. That makes sense.
2. I like that idea, a toggle button in the menu to "show all layers"
3. Yes I like that idea of highlighting the new ones! It's hard to tell right now.

[2020-02-14 05:04] crisner commented on #399
Yes. I've come across that too. The data is requested only when map view is on 'Eau Claire'. Not sure why it was coded that way. Probably because the data is not available in other parts of Wisconsin? We'll need to check if that's the case.

[2020-02-15 07:18] robin-natale commented on #369
I’ll be happy to take this FTO on board!! Can i be assigned? Also would it be possible to have some guidance on how to do first steps ?

[2020-02-15 10:00] crisner commented on #369
Yes! You could start by forking this repository and cloning it to your machine. Create a branch from master and make the changes shown here. Do run `npm install` and then `grunt build` and check out the example pages. You will need to have grunt cli installed globally to run grunt commands. Good luck!

[2020-02-17 09:11] crisner opened #402 "Add cypress tests to TravisCI"
Add the cypress tests to Travis CI so that the tests in #400 and any other cypress tests that may be added would be included in the automated tests.

[2020-02-17 15:14] robin-natale commented on #369
@crisner  I am not sure if I did managed it properly but I have created a PR now. Let me know if that worked or I just made a bit of a mess. I am pretty new to GitHub and it's all a bit unfamiliar at the moment!

[2020-02-17 15:48] crisner commented on #369
No issues @robin-natale. Thank you for working on this! I'll take a look at your PR. 😃

[2020-02-17 15:50] nstjean commented on #399
It seems to only show if you are zoomed in really close. We can maybe adjust that.

[2020-02-17 15:53] robin-natale commented on #369
@crisner Thanks to you for all the direction given :) Give me a shout in case of any further help needed 👍

[2020-02-17 15:56] robin-natale commented on #391
Hey @crisner  can I give it a try on this issue too?

[2020-02-17 16:48] crisner commented on #391
Sure, go ahead! :smile:
As suggested in your previous PR, remember to make your changes in a new branch. Thanks!

[2020-02-17 20:00] #398 closed

[2020-02-17 20:02] #402 closed

[2020-02-17 21:53] cesswairimu commented on #394
My career plan is to work in positive and friendly environment similar to what we have here PL.  PL reminds me that is possible :smiley:  and also I get to contribute and learn from others.

[2020-02-17 21:53] cesswairimu commented on #394
Anyone interested in opening this week's check-in?

[2020-02-18 04:08] crisner commented on #369
@robin-natale, we have a lot of issues that need help. You could dive into the code and once you feel you are ready, feel free to claim an issue to work on. You can start working on them once you get the green light. 😄

[2020-02-18 06:25] crisner opened #405 "Write tests for EONET fires layer"
We do not have tests for many layers. Starting with writing tests for Eonet fires layer.

[2020-02-18 06:46] #354 closed

[2020-02-18 09:29] robin-natale commented on #391
Hey @crisner i think I tried with a new branch now and then merging this with your master branch. Was it better this way? I welcome any feedback in case of any mistakes 👍

[2020-02-18 09:43] robin-natale commented on #369
@crisner  Sounds great to dive in on some other issues and into code. My only problem is that I still find some troubles into merging and creating PR from different branches. Where would it be the best place to ask for some advice and clarifications on this? many thanks 😄

[2020-02-18 10:43] crisner commented on #391
@robin-natale, go through the step-by-step procedure in this link https://codeburst.io/a-step-by-step-guide-to-making-your-first-github-contribution-5302260a2940. This will give you an idea of how an open-source contribution should be made. Here's another link: https://www.digitalocean.com/community/tutorials/how-to-create-a-pull-request-on-github

One thing to always remember, you should never al

[2020-02-18 10:54] crisner commented on #369
@robin-natale, I had made a comment about the same here https://github.com/publiclab/leaflet-environmental-layers/issues/391#issuecomment-587396485 😃

[2020-02-18 16:04] robin-natale commented on #391
Many thanks @crisner I will have a look through this documentation and hopefully next time will be fine 👍😄

[2020-02-18 17:27] crisner commented on #391
You may have to open new PRs from clean branches. You got the changes right though. 😃 Just make sure to do the same on a new branch created from a clean master branch and make the PR from that new branch. :)

[2020-02-18 21:32] cesswairimu commented on #394
Moved to https://github.com/publiclab/spectral-workbench/issues/482. Thanks everyone

[2020-02-18 21:32] #394 closed

[2020-02-19 04:51] crisner opened #408 "Improve layer menu's filtering and layer displaying features"
The current behaviour of removing a layer(when the layer is turned on) from the menu and the map, when the map view moves out of the layer's extents seems unintuitive as the user might be confused why the layer was missing. @nstjean and I had discussed this in https://github.com/publiclab/leaflet-environmental-layers/issues/399

Below is the solution that would make sense to the user:

Quoting mys

[2020-02-19 14:11] neelesh17 commented on #408
can I claim this issue?

[2020-02-19 16:00] crisner commented on #408
@neelesh17, I am currently working on this issue. 🙂 Would you like to try issue #290 ?

[2020-02-19 17:08] neelesh17 commented on #408
Yeah sure.

[2020-02-19 17:09] neelesh17 commented on #290
I wanna work on this issue.

[2020-02-19 17:18] crisner commented on #290
Great! Go ahead!

[2020-02-19 18:46] nstjean commented on #376
This appears to be fixed now with the LEL 2.2.1.

[2020-02-19 18:46] #376 closed

[2020-02-21 05:58] neelesh17 commented on #290
Hey @crisner I m not able to find the spinner file.

[2020-02-21 06:27] crisner opened #410 "Show a "didn't load" broken icon next to a layer if it fails to fetch data"
Sometimes layers fail to fetch data from its API. In such cases show a broken icon next to the layer in the layer menu to visually indicate that the data fetch was not successful.

Quoting @jywarren from https://github.com/publiclab/leaflet-environmental-layers/issues/290#issue-532072282

[2020-02-21 06:36] neelesh17 commented on #290
Hey @crisner should i put the spinner on the top-left hand side corner.

[2020-02-21 06:46] crisner commented on #290
You could do one of the two things mentioned below. Whichever you could accomplish. 😃

If the spinner is still running after 10 seconds
  - stop the spinner or
  - make it smaller and put it on the bottom-left corner.

[2020-02-21 06:52] neelesh17 commented on #290
First one sounds good to me.

[2020-02-21 06:53] crisner commented on #290
Great! 👍

[2020-02-21 11:25] crisner opened #411 "Improve wait time in Cypress tests"
We have a wait time of at least 2 seconds in our current tests. As we add more tests it will increase the total time taken to complete the tests. I tested the amount of time needed for the cypress tests to pass in Travis and found that all tests(including tests in PR #409) pass at 300ms. This will help with reducing the run time of our tests.

https://github.com/publiclab/leaflet-environmental-lay

[2020-02-21 14:59] crisner commented on #251
We seem to have methods for these in the Leaflet API.
- `layer.isVisible()` => `map.hasLayer(<layer>)`
- `layer.show()` => `map.addLayer(<layer>)`
- `layer.hide()` => `map.removeLayer(<layer>)`

[2020-02-22 06:53] neelesh17 commented on #290
@crisner i added the code for some of the layers. Please review it.

[2020-02-22 06:59] neelesh17 commented on #410
@crisner is this issue still avalible for claiming.

[2020-02-22 07:35] crisner commented on #410
I am working on this today @neelesh17. Would you like to help add a new layer like this issue #122 or help write tests for layers? If you would like to help write tests I can create an issue for you and you could follow the tests that have already been written. Let me know what you are interested to help with. Thanks!

[2020-02-22 07:40] crisner opened #415 "Write tests for fractrackerMobile layer"
Add more tests for this layer

[2020-02-22 07:53] #411 closed

[2020-02-22 09:14] #371 closed

[2020-02-22 09:14] #415 closed

[2020-02-22 09:18] #405 closed

[2020-02-22 09:24] sagarpreet-chadha commented on #399
Hey,
The above layer and all similar layers (asian, etc.) are fetched only once, so let's not make them disappear abruptly.

[2020-02-22 16:36] crisner commented on #399
Fixed in #409. We will no longer be removing layers that are displayed on the map. 😄

[2020-02-23 05:38] #408 closed

[2020-02-24 04:24] neelesh17 commented on #410
I would like to help you with issue #122.

[2020-02-24 04:35] crisner commented on #410
Excellent! Shall I mention on the issue that you've claimed it?

[2020-02-24 11:03] neelesh17 commented on #410
Yeah, that would be great.

[2020-02-24 14:41] crisner commented on #122
@neelesh17, you may need to do some research to get the URL to get the data. You may give this a try. 😃

[2020-02-25 06:59] rkpattnaik780 commented on #241
Can I take up this issue?

[2020-02-25 08:23] crisner opened #418 "Add tests for pfasLayer"
Adding tests for pfasLayer

[2020-02-25 09:21] neelesh17 commented on #122
@crisner , I found this site (https://datahub.io/core/sea-level-rise) it provides us the Global Mean Sea Level Data for different years. Would you take a look.

[2020-02-25 11:38] crisner commented on #122
Nice find! This is awesome!

[2020-02-25 19:48] nstjean opened #420 "Browser Menu not displaying correct size and style"
I realized what the problem is with the @media queries not working correctly in plots2: it's only checking the size of the *screen*, not the size of the map. If the map is only in the sidebar and is 200px wide the screen is still full size, so it's rendering based on that.

![FireShot Capture 320 - 🎈 Public Lab_ Software Outreach - localhost](https://user-images.githubusercontent.com/49460529/7528

[2020-02-25 20:11] nstjean commented on #420
@crisner

[2020-02-26 07:10] neelesh17 commented on #122
So, whats do we do next.

[2020-02-26 09:11] crisner commented on #420
Sure. I've have added media queries for all the common breakpoints but the breakpoints may be different as we have to calculate the screen width in plots2. I wonder if we can point to the media query to use based on the screenwidth in JavaScript. I'll look into them. Meanwhile, let me know what sizes you need, I'll work on them.

[2020-02-26 09:20] crisner commented on #122
Next, you'll need to find out what kind of data they provide and make a leaflet layer with that data. You can take a look at the layers in the src folder to get an idea. You may notice the layer types are different. Please go through leafletjs's documentation for more information on the layer types.
You can first try the layer out in the 'example/layers.js' which is used in index.html. In case you

[2020-02-26 12:19] neelesh17 commented on #122
Actually my exam are going on .So, Is it okay if i begin the work after 3-4 days.

[2020-02-26 13:22] crisner commented on #122
Sure @neelesh17! You can begin after its done. All the best for your exams!

[2020-02-26 13:39] nstjean commented on #420
That would be ideal if we could use the existing media queries! Although I think part of the problem is that widths are specified as percentage of vw, which is not the same as percentage of the map.

The sidebar maps are either 190px or 230px wide at full screen sizes. At tablet sizes the sidebar gets pushed below the screen and the width changes to 670px, then 490px, then smaller and smaller.

Th

[2020-02-26 13:41] nstjean commented on #420
I tried changing the width from vw to % but it didn't work correctly... I believe because the parent element `.leaflet-control-layers` which is only 48px. We want it to act on the size of the parent .leaflet-map object, and not only once, it should recalculate every time the screen size is changed.

[2020-02-26 14:18] crisner commented on #420
Looks like media queries will only take into account the browser window's size. What we want here is what is called as 'container queries'. Take a look at this interesting read. https://philipwalton.com/articles/responsive-components-a-solution-to-the-container-queries-problem/

[2020-02-26 14:24] crisner commented on #420
This looks useful for our purpose --> https://codeburst.io/media-queries-based-on-element-width-with-mutationobserver-cf2eff172787. What do you think?

[2020-02-26 14:29] nstjean commented on #420
Yes! That looks like exactly what we need. It's nice we don't have to build something from scratch!

[2020-02-26 14:35] crisner commented on #420
Looks like someone has made a library that would help with this. http://marcj.github.io/css-element-queries/

[2020-02-26 15:09] nstjean opened #421 "Format marker popups for PLpeople"
In LBLD I added a new functionality to have custom code for marker popups: https://github.com/publiclab/leaflet-blurred-location-display/pull/96

Here in LEL I want to use that functionality to customize the marker popups for PLpeople, to look more in line with the content popups in plots2.

[2020-02-26 15:33] nstjean commented on #421
![FireShot Capture 322 - Leaflet Environmental Layers - ](https://user-images.githubusercontent.com/49460529/75359986-26045680-5883-11ea-940a-4e97f0e9901c.png)

Does anyone have any input on what should be included in there?

Right now the API includes the following:
[code]

I will be adding a date object so we can calculate how long they have been a member:
[code]
and possibly also a profile pict

[2020-02-28 07:19] crisner opened #423 "Write tests to check layer filtering for all layers"
This is to check if all the layers in LEL are filtered correctly according to their extents in the layers menu. This would also help catch bugs if any unintentional changes are made to extents information in info.json

[2020-02-28 14:50] crisner commented on #253
Is this feature something like the one below but to get all the layer names?
https://github.com/publiclab/leaflet-environmental-layers/blob/43a11e3e40ac4967dd0b1ec42cc157745b7123fa/src/util/getActiveOverlayNames.js#L1-L2

[2020-02-28 17:17] crisner opened #425 "Add tests for purple layer and TRI layer"
Add tests for purple air marker, purple heatmap, and for toxic release layer.

[2020-03-02 01:27] neelesh17 commented on #122
Thankyou @crisner. I'll start working on this from today.

[2020-03-02 05:45] crisner commented on #122
Great! Hope your exams went well.

[2020-03-02 06:39] crisner commented on #290
@jywarren, there is an implementation in PR #417 where the spinner is stopped when the data fails. There were times it took really long to respond but I am not sure I am remembering it right as it doesn't happen now. My question is do we still add the feature to stop the spinner if it takes longer than 10 seconds? Also, do we add it in a successful data fetch as well? For example, fractracker mobi

[2020-03-02 11:24] crisner opened #427 "Highlight new layers in the layer menu"
Related to issue #133. When the user checks the layer menu for the new layers it is difficult to identify them. It would be nice to add a feature as mentioned here. in https://github.com/publiclab/leaflet-environmental-layers/issues/334#issuecomment-581895937 to make it easier to find them.

[2020-03-02 18:16] robin-natale commented on #391
@crisner I think this time went all well with pulling request from separate branches, would you agree? 👍LEt me know if there are any feedback!!
 Also would you mind inviting me again to the Publiclab project? For some reason the last invitation I received is not working.

[2020-03-02 21:23] nstjean commented on #420
@crisner I tried that library but I just couldn't get it to work. :( I was bummed.

[2020-03-03 01:54] neelesh17 commented on #122
Yeah! they went great. Thankyou for asking.

[2020-03-03 08:42] crisner opened #431 "Add tests for layercode layers"
Add tests for the layers in layercode.js

[2020-03-03 08:44] #388 closed

[2020-03-03 09:25] crisner opened #433 "Update documentation to include testing in Cypress"

[2020-03-03 12:01] crisner commented on #420
:( But you seem to have figured it out! 🎉

[2020-03-03 12:57] crisner opened #435 "Add tests for aqicn layer"

[2020-03-03 15:52] crisner opened #437 "Add tests for osmLandfill layer and unearthing layer"

[2020-03-03 17:45] emilyashley opened #439 "Additional documentation on customizing maps on PublicLab.org"
Making a quick issue sharing that @jywarren and I talked today about adding additional documentation on tiers of customizability of maps available using LEL and Public Lab. Thanks to the users of Unearthing Providence for asking questions that got us thinking about this.

Here's a draftt for review if you have thoughts. We'll be adding it as is for now to [Inline Maps Customization](https://public

[2020-03-03 17:50] emilyashley commented on #439
💡 If we have an issue template for requesting inline-maps syntax options that might be a cool thing to link to in this documentation. If not, no worries

[2020-03-03 19:21] #418 closed

[2020-03-03 19:25] #425 closed

[2020-03-03 19:34] #431 closed

[2020-03-03 19:34] #435 closed

[2020-03-03 19:56] #433 closed

[2020-03-03 20:03] jywarren commented on #334
That sounds great! Sorry for late response! 😓

[2020-03-03 20:05] jywarren commented on #117
I believe this is completed, is that right @crisner?

[2020-03-03 20:06] tmarlow commented on #439
@emilyashley  should the static link to [http://publiclab.github.io/leaflet-environmental-layers/example/unearthing](http://publiclab.github.io/leaflet-environmental-layers/example/unearthing) display a page? I'm getting an error at the moment.

[2020-03-03 20:07] #420 closed

[2020-03-03 20:18] jywarren commented on #112
Hi @crisner @nstjean i think this is now possible using a formatting function? Not sure though? Just wondering next steps for future contributors. Thanks!

[2020-03-03 20:35] emilyashley commented on #439
@tmarlow ahh good call. Updating it to `unearthing-pvd` I think that's it.

[2020-03-04 04:03] sagarpreet-chadha commented on #117
Yes this is done 👍

[2020-03-04 04:12] sagarpreet-chadha commented on #439
@emilyashley awesome draft 🎉 , i think @jywarren perspective is always from UX point of view due to which we have given many ways to use maps and inline maps to users. Thanks 😄  !

[2020-03-04 06:07] crisner commented on #117
Yes. This is completed. 😄

[2020-03-04 06:35] #410 closed

[2020-03-04 07:09] #437 closed

[2020-03-04 11:42] crisner opened #441 "Broken icon should be displayed with layer errors only from the parent map"
The `layerError.js` util is listening for errors globally when it should be listening only to the errors on the map the layer menu is contained in. This can be reproduced with the multipleMaps.html file in the example folder. The screenshot below shows the icon displayed on the second map after detecting the error from the first map.

![image](https://user-images.githubusercontent.com/29401459/758

[2020-03-04 12:01] crisner opened #442 "Issues with layer groups in multiple maps"
When there are multiple maps in a page using the layer menu the layers within the group are displayed only on one layer menu and are missing from the rest. The toggle also seems to be interconnected. For example, when I click the arrow on the layer group in the second map the group in the first map expands or collapses. The screenshot shows the difference in the Justicemap group.
![image](https://

[2020-03-04 12:01] crisner commented on #442
@nstjean, did you experience this over in plots2?

[2020-03-04 12:12] crisner commented on #112
@jywarren, I haven't come across a formatting function as such. Images are being included in popups through methods as the one below:
https://github.com/publiclab/leaflet-environmental-layers/blob/67419ed0f9982fbb70cbff6aaceda96eee5af6de/src/layercode.js#L331
Or directly within the getMarker function as linked in the issue comment.

[2020-03-04 12:15] crisner commented on #334
No problem. 😄

[2020-03-04 12:43] crisner commented on #441
I think this would be resolved after issue #442 is fixed.

[2020-03-04 14:40] crisner commented on #442
Looks like this can be fixed by adding the map id to the bootstrap dropdown link.

[2020-03-04 18:12] neelesh17 commented on #122
Hey @crisner I am not sure how to start building the layer.I went through the website that provides the data and they provide an average of a perticular years sea level rise. Could you please guide me to  the next step.

[2020-03-05 16:36] crisner commented on #122
Sure. What is the data format they are providing? And do they have an API URL or de we download the data? Could you share a link to the page you were looking at? Thanks!

[2020-03-06 02:23] neelesh17 commented on #122
Well, they provide us with both the option we can either fetch that data from the url or we can download it in csv format and they provide the data  in json format in the url. This is the website url (https://datahub.io/core/sea-level-rise). They also provide us with a example snapshot on how to fetch the data.

[2020-03-06 15:10] #423 closed

[2020-03-06 15:10] #427 closed

[2020-03-06 15:16] crisner commented on #122
You could try fetching the data as they've documented here https://datahub.io/core/sea-level-rise#javascript. Then check if you could get the marker information and the information needed for the popups. After that, you could look into the layercode.js file or create a new Leaflet LayerGroup. You could take a look at this discussion about using CSV data here - https://github.com/publiclab/leaflet-

[2020-03-09 03:38] neelesh17 commented on #122
Sorry @crisner for replying so late i wasn't feeling well. And i am not finding the task hard ,i just wasn't sure where to start.

[2020-03-09 06:15] crisner commented on #122
No problem! 😄 Hope you are feeling better. I just wanted to put it out there that you are free to take up another issue if you found this one hard to figure out. :)

[2020-03-09 07:19] neelesh17 commented on #122
Well, I think we should use the csv instead of the url. So, what i got from the discussion in issue #285 is that, I have to convert the csv to json and then push that file to the gh-pages repo to host that file on public labs. Is that correct?

[2020-03-09 07:45] neelesh17 commented on #122
Hey @crisner i think we should go with the csv file instead of the url.Now what i could get from the discussion in issue #285 about csv is thet first i have to convert the csv to json and then make a pr to gh-pages repo in order to host it in publiclab.

[2020-03-09 15:10] #442 closed

[2020-03-09 15:10] #441 closed

[2020-03-09 15:54] nstjean opened #444 "Change how layer information is displayed"
In our new browser menu each layer has a "i" icon that you can click on to read more about the layer. However it shows up like this:

![FireShot Capture 340 - Leaflet Environmental Layers - ](https://user-images.githubusercontent.com/49460529/76231820-29d99680-61fc-11ea-89d8-761bc2c44ef9.png)

And when you have more than one map you can have some big issues! This info box popped up half underneath

[2020-03-10 04:56] neelesh17 commented on #122
@crisner can you please take a look at this data (https://data.world/noaa/sea-level-trends/workspace/file?filename=USStationsLinearSeaLevelTrends.csv).

[2020-03-11 09:31] crisner commented on #122
Took a look at it. Its nice that they have also shown an implementation of using the data on a map. If you think it is best to convert csv to json as it was suggested in the other issue you could give that a try and tag @sagarpreet-chadha to host the data on Public Lab or you could try the JavaScript method mentioned in datahub.io

[2020-03-15 02:35] neelesh17 commented on #444
@nstjean could i claim this issue or have you started working on this.

[2020-03-16 20:49] jywarren commented on #421
This sounds really great, and this seems like an excellent first draft API to move forward on. Great work!

[2020-03-17 15:24] nstjean commented on #444
I have not started on this, so go ahead @neelesh17 !

[2020-03-18 09:58] neelesh17 commented on #444
@nstjean I made the changes you asked. Could you review my PR.

[2020-03-20 04:24] neelesh17 commented on #122
@sagarpreet-chadha Could you please host the data for this layer i made a pr #445 to the gh-pages for this on 12-03-2020.

[2020-03-24 15:49] #369 closed

[2020-03-24 16:47] jywarren opened #448 "Unearthing PVD map layers planning issue"
@tmarlow - hi, just touching base about the map layers you're looking to add. cc @emilyashley 👋

My list includes:

* [x] adding a search box (we just merged this!) in https://github.com/publiclab/leaflet-environmental-layers/pull/404 so after testing we'll:
* [ ] publish new search box to PublicLab.org
* [ ] adjust icon display: my understanding is you'd like the black markers that indicate "post

[2020-03-24 18:02] jywarren commented on #448
A quick update: i was able to get the bounding customization working by including this script into the page:

[code]

It's working now at https://publiclab.org/wiki/unearthing-pvd

[2020-03-25 03:29] neelesh17 commented on #36
Is this issue still open.

[2020-03-25 03:33] neelesh17 commented on #116
Is this issue open for gsoc.

[2020-03-25 03:34] neelesh17 commented on #171
Is this issue open for Gsoc.

[2020-03-25 03:37] neelesh17 commented on #268
Is this issue open for Gsoc.

[2020-03-25 03:38] neelesh17 commented on #239
Is this issue still open I would like to add this to my Gsoc-2020 project.

[2020-03-25 06:03] sagarpreet-chadha commented on #239
Hey, it is not the top most priority as of now. Moreover leaflet is a class
based js library, so there is not much es6 migration here. But if you have
time and can fit this in your proposal, i would be more than happy to help.
Thanks :)

On Wed, 25 Mar 2020, 09:09 Neelesh Singh Thakur, <notifications@github.com>
wrote:

[2020-03-25 06:04] sagarpreet-chadha commented on #116
Yes you can add.

On Wed, 25 Mar 2020, 09:03 Neelesh Singh Thakur, <notifications@github.com>
wrote:

[2020-03-25 06:07] sagarpreet-chadha commented on #268
This issue is very much needed to make LEL sustainable, but saying that i
dont think it is also the top most priority.
@jywarren, @emily can better answer this. Thanks!

On Wed, 25 Mar 2020, 09:08 Neelesh Singh Thakur, <notifications@github.com>
wrote:

[2020-03-25 06:23] sagarpreet-chadha commented on #36
Yes i believe so

[2020-03-25 10:30] sagarpreet-chadha commented on #122
Done , please check now  👍

[2020-03-25 13:37] neelesh17 commented on #122
Thankyou @sagarpreet-chadha.

[2020-03-25 13:37] neelesh17 commented on #36
So could i add this to my gsoc.

[2020-03-27 03:19] neelesh17 commented on #266
I would like to add this issue to my gsoc.

[2020-03-27 16:32] Rishabh570 opened #449 "Discussion regarding the time slider UI for GSoC"
Hi @jywarren, I read your feedback on my GSoC proposal, I really appreciate that. But, I was not able to comment there for some reason. I understand that CTB might not be in the top priorities this year, that blog could be useful for anyone who is trying to work on improving CTB as a project. I think that the blog could serve that purpose 🙂.

So, as per your suggestion, I'm thinking about the time

[2020-03-31 17:16] jywarren opened #450 "Basic test failures"
Hi, i noticed some tests failing on the most recent build -- https://travis-ci.com/github/publiclab/leaflet-environmental-layers/builds/157234331

[code]

and more like this. Looks like maybe some assets aren't getting included? But, not sure if this is intermittent or happens every time. I'm restarting the tests to see.

[2020-04-02 16:30] crisner commented on #450
@jywarren, it looks like Jasmine is not recognizing the search control. I tried adding it to grunt as a vendor under Jasmine's options and also in the browserify dist src file list but it did not work. Commenting out the search control seems to make the tests pass. I'll try to look into what else can be done for Jasmine to recognize the control as a constructor.

[2020-04-07 15:59] jywarren commented on #448
Hi @tmarlow - i'd like to make some progress on the marker styling issue. My understanding was that the larger black markers seem to "overwhelm" the smaller blue markers.

I'm cautious about making the blue markers larger because they are so crowded already.

Could one possible solution be to override the marker display for this page and make the black markers smaller? Do you prefer another set of

[2020-04-08 15:31] tmarlow commented on #448
Hey Jeff,

Sorry, I don't think I was seeing those earlier messages!

The max bounds solution is perfect.

I think making them larger is not the way to go. Your solution makes more
sense to me. I don't really have a preference on the colors. I trust your
judgement more than mine on that one.

I've been swamped with other things but I have time the rest of this week
to make some progress. I'll keep

[2020-04-14 19:40] jywarren commented on #448
No problem, and a lot of small but important things (like search) are coming together finally and i hope will go live today. Good luck with your work and stay safe!

[2020-04-14 20:55] jywarren commented on #450
Oh hmm. Do you think it's not recognizing it or perhaps the search controller is not rendering from inside Travis because of approved-domain-name issues? I noticed the search control doesn't start up properly in https://stable.publiclab.org/map as we haven't approved stable.publiclab.org on the Google API end. Could this be the same issue?

[2020-04-14 22:34] jywarren commented on #448
![image](https://user-images.githubusercontent.com/24359/79280472-6c873200-7e7e-11ea-8d18-094ac09d31cf.png)

Search is now live on https://publiclab.org/map !

And on the unearthing pvd page! https://publiclab.org/wiki/unearthing-pvd

![image](https://user-images.githubusercontent.com/24359/79280509-832d8900-7e7e-11ea-9cba-3ee6acbb498e.png)

[2020-04-21 21:39] jywarren opened #451 "Builds broken by "undefined is not a constructor (evaluating 'new L.Control.GPlaceAutocomplete""
We're now seeing this error in tests possibly due to https://github.com/publiclab/leaflet-environmental-layers/pull/404 -- when location searching was added using `L.Control.GPlaceAutocomplete`

https://travis-ci.com/github/publiclab/leaflet-environmental-layers/builds/154813074

[code]

I think maybe we have to add the JS include to our test fixtures?

[2020-04-21 21:39] jywarren commented on #451
Yes should need:

[code]

[2020-04-28 13:37] jywarren commented on #451
Actually i think it may be required here instead or also:

https://github.com/publiclab/leaflet-environmental-layers/blob/f4a2e6896423692c1bec8c1c74a72f7deae6af82/Gruntfile.js#L59

I'll add it there too so we can see.

[2020-04-28 20:41] jywarren commented on #451
Moving discussion to PR

[2020-04-28 21:38] jywarren commented on #451
I definitely need help here, just in case anyone happens to drop by! ❤️

[2020-05-05 14:12] #451 closed

[2020-05-05 14:12] jywarren commented on #451
THANK YOU @crisner !!! 🙌 and hope you're well!!

[2020-05-05 14:19] #421 closed

[2020-05-06 08:10] crisner commented on #451
🙌 😃  Yes, I am well, thank you @jywarren! I hope you are well too!

[2020-05-07 22:34] jywarren commented on #290
Yes, so sorry for replying slowly but I think this is a good idea. We could think about adding an X icon next to the layer if it breaks but the spinner in the middle of the map makes it hard to use those layers which did succeed, you know?

Thank you!

[2020-05-08 02:41] crisner commented on #290
Great! We've already implemented using '⚠️' icon from font awesome to display next to the layer when it breaks. 🥳
![image](https://user-images.githubusercontent.com/29401459/81363719-a48e3780-9101-11ea-8e2c-c70bad0797e2.png)

@neelesh17, would you like to continue working on your PR #414?

[2020-06-24 14:49] #384 closed

[2020-07-23 12:09] ebarry opened #477 "Environmental layers from the Global Investigative Journalism Network"
https://docs.google.com/spreadsheets/d/1mEsA4DUvUgTPwDVDhEa7UbUUbYTBh8Szbk0o3iXwT9I/edit?usp=drivesdk

From Oxpeckers, South Africa. I'm most interested in their Mine Alert project, but don't have a direct link to it.

From https://gijn.org/2020/07/21/out-of-africa-powering-up-geo-journalism-for-investigative-environmental-reporting/ :

[2020-08-25 11:29] Tlazypanda opened #480 "Minifying javascript files"
The current js scripts in our application can be minified to reduce package size and improve performance for fetching on the parent application where it is used.

- Cdn links can be replaced with minified cdn links
- in-house Javascript files can be minified using Uglifyjs or other alternatives.

[2020-09-21 14:38] ebarry commented on #393
Thank you @crisner ! Really appreciate you reporting this.
This issue was reported again, months later in early July, by @kgradow1 in the plots2 repo: https://github.com/publiclab/plots2/issues/8125

[2020-10-06 22:15] jywarren commented on #393
Hi, just to add some clarity here, I believe this was due to the EPA server being overloaded, and the CORS message was for the error message "Service Temporarily Unavailable" -- it often happens that error messages are themselves not CORS-permissive, and so what looks like a CORS message is actually an underlying server problem.

Now, however, I'm seeing:

`Not Found
The requested URL /enviro/efse

[2020-10-18 07:43] crisner commented on #393
I did some research on the TRI data source and tried out the api links provided in their documentation at https://www.epa.gov/enviro/envirofacts-data-service-api. I assumed I could check the results since it was publicly available but it threw a `403 forbidden` error. We could also download the csv dataset but unfortunately I am getting the same 403 error. Here are the links where I tried download

[2020-10-27 20:39] jywarren opened #488 "Continue to standardize process of creating a spreadsheet-based new layer"
We have layers that drive from google spreadsheets -- like the PFAS layer:

https://github.com/publiclab/leaflet-environmental-layers/blob/main/src/pfasLayer.js

we should improve the workflow for this, as in #135 - for specifically Google Spreadsheet-based layers

Example spreadsheet we could link to in the docs: https://docs.google.com/spreadsheets/d/1biyMqC4pk4pezG6EuJ6oSXSMBDlZFxfpleqv5BlTSaM/

[2020-10-28 07:14] Sagarpreet commented on #488
I think we can make a `form` (a small button with popup maybe and add to `publiclab.org` somewhere) and ask people to fill it with:
1. google sheet
2. column names
3. lat/ lng columns
On submitting the form we can use github api's (fire github API directly from browser) and make an issue in LEL repo (maybe a first timer issue?)

Once an issue is made, we can write an interactive script (similar to

[2020-10-28 14:04] ebarry commented on #488
I think i understand, and i think i like it. @bhamster07, please follow along here :) I'm going to try to recap:

For the person contributing data, they would have to:
1. Create a googlespreadsheet with the columns described above by Jeff
2. Click a button on publiclab.org that will open a simple widget described by Sagarpreet, and fill in its fields
3. Click submit

(THEN ROBOTS DO STUFF, includi

[2020-10-28 14:06] sagarpreet-chadha commented on #488
Absolutely correct @ebarry 👍 💯

[2020-10-28 18:06] ebarry commented on #488
Just circling back to say that @bhamster07 who would be a data contributor has said that "Workflow definitely seems doable, straightforward and  easy :thumbsup:"

[2020-10-30 12:33] Sagarpreet commented on #488
@jyw

[2020-10-30 12:40] Sagarpreet commented on #488
@ebarry @jywarren ...few points:

1. For creating `first-timers-only` issue from `plots2` we can use either of these:
- To make request from browser itself: https://www.jsdelivr.com/package/npm/@octokit/rest
- To make request from rails server: http://octokit.github.io/octokit.rb/Octokit/Client/Issues.html#create_issue-instance_method

2. We will need to create a new github account, maybe: `public

[2020-11-05 15:58] jywarren commented on #488
This sounds great, i wonder if the level of integration is a bit deep in that perhaps a direct request from rails to the Octokit API would be a brittle thing to maintain - API integrations are tough to test for. What if we made a more lightweight workflow which involved an issue template, which then could be manually copied into a FTO template with ALL_CAPS_REPLACEABLE_TEXT strings corresponding t

[2020-11-05 16:25] sagarpreet-chadha commented on #488
Correct @jywarren doing manually is straightforward, but one will need to make FTO issue manually from template issue everytime new layer is requested.

I was reading octokit api to create issue, it is simple a wrapper over github api and needs title, description, and gh token as params. So this should not break easily.

For the script, which will do all changes in the repo automatically for addin

[2020-11-05 16:28] sagarpreet-chadha commented on #488
So there is no bot actually in above flow, we are just making a new github account and using its personal access token, which we will pass to octokit wrapper function to create FTO issue 😄

[2020-11-10 19:43] jywarren commented on #488
Let's start by making the template, and go through it manually once, then we can automate?

But would this Octokit script be part of the `plots2` repo?

[2020-11-10 19:47] jywarren commented on #488
I guess i might prefer if the script could be in JS in this repo, do we have the option for JS vs. Ruby w/ Octokit?

[2020-11-11 13:55] sagarpreet-chadha commented on #488
Okay sure we can first document everything that needs to be done if done manually, i.e from format of excel sheet to making FTO to making layer and PR.

Yes as mentioned here  https://github.com/publiclab/leaflet-environmental-layers/issues/488#issuecomment-719529090
We can do this in ruby or JS.

So for now we should not go ahead with either of the 2 scripts? which are:
1. To create FTO issue usi

[2020-11-25 15:42] jywarren commented on #488
Since (2) will make the system work (even in a reduced way) but (1) won't by itself, i guess let's start with (2)!

[2020-12-23 01:20] jywarren opened #491 "Update base layer tiles due to MapBox deprecation"
Just like in https://github.com/publiclab/plots2/pull/8887 -- cc @Sagarpreet ❤️

[2020-12-23 01:20] jywarren commented on #491
There are a lot! https://github.com/publiclab/leaflet-environmental-layers/search?q=mapbox

[2020-12-23 01:21] jywarren commented on #491
Following: https://blog.mapbox.com/deprecating-studio-classic-styles-d8892ac38cb4

[code]

[2020-12-29 20:35] jywarren commented on #491
Prioritizing this to fix https://publiclab.org/map

[2020-12-29 21:47] jywarren commented on #491
I bet this is the most important! The others seem layer specific, and aren't baselayers after all...

https://github.com/publiclab/leaflet-environmental-layers/blob/e971a95639de43aca78b665ff6bc924450a42db8/src/AllLayers.js#L71

I also see this in the example but i bet it is not using the one-line constructor so it may not be one we need to fix: https://github.com/publiclab/leaflet-environmental-la

[2020-12-29 22:12] jywarren commented on #491
moving to #493 !!!

[2020-12-29 22:19] jywarren commented on #491
OK, and publishing...

[2020-12-29 22:19] jywarren commented on #491
cc @sagarpreet regarding this new release! Not using the script yet but interested!

[2020-12-29 23:03] jywarren commented on #491
Done and it's staging over in https://github.com/publiclab/plots2/pull/8904

[2020-12-29 23:03] #491 closed

[2021-01-06 21:13] saurabhkanswal opened #496 "tileLayer not working"
when we are opening
https://publiclab.github.io/leaflet-environmental-layers/example/#lat=25.09&lon=-52.73&zoom=3&layers=Standard
the tile layer is not loading as it loads earlier.

I think this is happening because classic styles are no longer supported.
more information can be found here:
1:  https://blog.mapbox.com/deprecating-studio-classic-styles-d8892ac38cb4
2:  https://docs.mapbox.com/help/

[2021-01-07 05:40] sagarpreet-chadha commented on #496
Hey @saurabhkanswal , thanks for opening the issue. I think this is already solved by @jywarren recently.
You can confirm by checking into main branch and see if tiles are rendered or not.
Also we can deploy latest main changes to gh-page branch, would you like to work on it?
Thanks 😄

[2021-01-08 14:59] saurabhkanswal commented on #496
@sagarpreet-chadha  yes, the link has updated in the main branch.
And yes,  i love to solve the issue for gh-page branch.
will make PR soon :)

[2021-01-12 07:59] chinmaym07 commented on #480
Hey can I work on this issue.?

[2021-02-16 18:53] jywarren opened #505 "PurpleAir layer requests too much data - optimize"
https://github.com/publiclab/leaflet-environmental-layers/blob/e971a95639de43aca78b665ff6bc924450a42db8/src/purpleLayer.js#L46-L50

we should be narrowing by bounding box-- maybe i misunderstand this code but https://www.purpleair.com/json?fetchData=true&minimize=true&sensorsActive2=10080&orderby=L returns a TON of data, vs:

https://www.purpleair.com/data.json?fetchData=true&minimize=true&sensors

[2021-02-16 21:48] jywarren commented on #118
It's currently an issue with HTTP vs. HTTPS -- the old API doesn't allow HTTPS and so we can't use it any more 😭

time to upgrade to the new one!!!

[2021-02-17 01:03] jywarren commented on #118
I think we got this in #507 !!

[2021-02-17 01:11] #118 closed

[2021-02-17 01:11] #336 closed

[2021-02-26 20:19] daemon1024 commented on #488
Hi, Is there any progress on this? This seems pretty interesting to me and I would love to collaborate/work on it.

Regarding creating issues and automating things using github api, we don't necessarily need to have a personal access token, we can use the OAuth API or use Github Apps directly ( an example would be how welcome-bot ) works. Though this seems to be on a later priority.

[2021-03-09 18:53] jywarren opened #514 "TRI CORS/404 error"
I'm now seeing this on https://publiclab.org/unearthing-pvd:

[code]

I believe that's actually a 404 error not CORS: the URL directly gives: `The requested URL /enviro/efservice/tri_facility/pref_latitude/BEGINNING/41/PREF_LONGITUDE/BEGINNING/71/rows/0:300/JSON was not found.`

https://iaspub.epa.gov/enviro/efservice/tri_facility/pref_latitude/BEGINNING/41/PREF_LONGITUDE/BEGINNING/71/rows/0:300/J

[2021-03-09 19:00] jywarren commented on #514
I guess we can assume this EPA TRI API is just offline now. There must be a new or better way to access it. Related:

#46 #393 #43

[2021-03-09 19:01] jywarren commented on #514
Merge into https://github.com/publiclab/leaflet-environmental-layers/issues/393

[2021-03-09 19:01] #514 closed

[2021-03-10 22:32] daemon1024 commented on #122
I believe this issue has been resolved via #445, so this can be closed :)

[2021-03-10 23:28] daemon1024 commented on #57
I believe this has been closed via #79, so this can be closed.

[2021-03-12 19:14] daemon1024 commented on #488
I was brainstorming on this issue and I have a nice way to bridge the gap between opening the issue and running the script.

So, we can trigger the running of script using the GitHub actions,

I have created an example workflow here https://github.com/daemon1024/issue-action-script-run. This just logs the issue description in the action.

This wouldn't need a server dependency while also maintaini

[2021-06-12 14:01] daemon1024 opened #528 "Script for generating new spreadsheet based layers"
Initial Steps for #488

Aim of the script is to generate a new spreadsheet layer based on some configuration ( json for now ).

Checklist the script should perform:

- [x] Take input from a json
- [ ] Generate `src/layername.js` with the following content
[code]
- [x] Add import statement for generated file to `AllLayers.js`
- [x] Add Layer Name to `LeafletEnvironmentalLayers.js`

Ref https://gith

[2021-06-12 14:48] daemon1024 commented on #528
Can you please review the checklist once?
Where should the script and template files reside in?

cc @jywarren @publiclab/soc

[2021-06-15 22:58] jywarren commented on #528
Hi, my thoughts were to put everything in the same repo, maybe in a /scripts/ folder? How does that sound? We can put a README in there too, just README.md should appear in GitHub in a directory.

[2021-06-20 11:00] daemon1024 opened #530 "Minimal LEL example"
Check it out https://gist.github.com/daemon1024/2b2f6d9f71b6587984f7115d8d8559a8

This example is based on the https://github.com/publiclab/leaflet-environmental-layers/blob/main/example/oneLinerCodeExample.html

- It takes the layers to be included from query parameters
- No local dependencies needed
- should be plug and playable

[2021-06-20 12:42] daemon1024 commented on #528
I came up with a much more cleaner way to import stuff

[code]

[2021-06-20 12:43] daemon1024 commented on #528
I am not sure about how to transpile this for browsers.

I found about https://github.com/browserify/brfs/ which would compile `fs` for us. But it doesnt support the dynamic imports

[2021-06-20 14:51] daemon1024 commented on #528
I think I was only trying to read multiple json files since I was trying to have all the layers have there respective json files. But that's not a necessity 🤔

[2021-06-20 16:34] daemon1024 commented on #528
Noting, We need to add information to `info.json` as well other wise we end up with

![image](https://user-images.githubusercontent.com/47106543/122679812-ee54b700-d209-11eb-8df9-7cea6e080877.png)

[2021-06-22 20:00] jywarren commented on #528
Ooh!!! Very nice! Couldn't we run this during compilation so it doesn't need to transpile? The /dist/ versions would then include all of this? Very cool @daemon1024 -- i like it a lot! Want to try opening a PR with this and slowly build on it?

[2021-06-22 20:03] daemon1024 commented on #528
Hey @jywarren, I actually figured it out. You can take a look at it at #531. It does it all at compilation now :)

[2021-06-29 21:35] jywarren commented on #450
I believe this was resolved in the switch to GitHub Actions: https://github.com/publiclab/leaflet-environmental-layers/pull/503

[2021-06-29 21:35] #450 closed

[2021-07-06 16:13] daemon1024 opened #532 "Cypress Tests Failure"
Cypress Tests are failing in the github actions and It seems to be blocking most of the PRs right now in repository.

There has been some initial discussion at https://github.com/publiclab/leaflet-environmental-layers/pull/529

Specifically Purple Air Marker Layer and Owm Layer tests are failing.
![image](https://user-images.githubusercontent.com/47106543/123113125-ebe99b80-d45b-11eb-999c-a09f9745

[2021-07-06 16:13] daemon1024 commented on #532
cc @noi5e

[2021-07-06 16:51] jywarren commented on #532
OK, so let's try to reproduce this and get a more detailed trace. Can you run it locally as well?

[2021-07-06 16:54] jywarren commented on #532
And we could compare to the error seen in https://github.com/publiclab/leaflet-environmental-layers/issues/360 which was a rate limiting issue to see if it's likely related.

[2021-07-10 20:46] daemon1024 commented on #532
I am unable to reproduce it locally, everything seems to be failing for some reason. I tried to run in Gitpod but it didn't run. Ref https://github.com/publiclab/leaflet-environmental-layers/pull/529#issuecomment-866896252

[2021-07-12 20:49] noi5e commented on #532
I am taking a look at this... It's my first time working with the `leaflet-environmental-layers` library, and I'm not familiar with the Cypress testing library either. So basically, there's a lot I don't yet know about this! 😅

Maybe it would be helpful to compile the testing errors from CI:
<img width="828" alt="Screen Shot 2021-07-12 at 1 46 22 PM" src="https://user-images.githubusercontent.com/

[2021-07-12 21:07] noi5e commented on #532
@daemon1024 @jywarren Looks like I'm able to open up GitPod in the PR at #529

Going to `examples/index`, the map seems to load normally:
<img width="1028" alt="Screen Shot 2021-07-12 at 2 03 52 PM" src="https://user-images.githubusercontent.com/4361605/125355809-533b9280-e31a-11eb-90b0-311ebd7f2554.png">

I can select `purple` and `owmlayer` maps from the dropdown:
<img width="815" alt="Screen Sh

[2021-07-13 13:30] daemon1024 commented on #528
Noting some of the things which needs to be handled in the subsequent pull requests.
- [ ] Handle oneLinerCodeExample
- [ ] Handle other columns other than lat and long for more informative map layer
- [ ] use custom pop up function
- [ ] use custom marker
- [ ] Tests

[2021-07-13 13:50] daemon1024 commented on #532
I am not really sure about the owm issue. Regarding, purpleAirMarker. If you just enable `purpleAirMarker` and nothing else on the map. it seems that nothing appears on the layer and hence the test failing. I am not even sure how some of the purpleAirMarker tests are passing.

[2021-07-13 14:50] jywarren commented on #532
I'm guessing the tests may be depending on real data from the APIs which is not actually completely predictable. For example if one sensor on PurpleAir stops recording, we only get 2 sensors in the given map area instead of 3. That's what that test seems to show; the fact that we get 2 markers means there is /some/ data flowing. If this is correct, I think we should find a location where there are

[2021-07-13 14:53] jywarren commented on #532
So for example here, it looks like it expects to find a city marker at the given location, to be able to click it, and to see it open and contain an image:

https://github.com/publiclab/leaflet-environmental-layers/blob/2f3723a12e70009120500f3b7603680ec7d3cbe8/cypress/integration/owm.spec.js#L3-L9

We can even test that manually for comparison using the given coordinates: `/example/index.html#lat=

[2021-07-20 16:50] jywarren commented on #532
So @daemon1024 i think here, let's go through these one by one in a PR. Let's start with an easy one -- this line references a specific sensor that's no longer present, we assume:

https://github.com/publiclab/leaflet-environmental-layers/blob/2f3723a12e70009120500f3b7603680ec7d3cbe8/cypress/integration/purpleAirMarker.spec.js#L46

So let's change it to just use a CSS class for /any/ sensor. You c

[2021-07-20 16:51] jywarren commented on #532
We'll solve them one at time and as they get more difficult to solve, I, @noi5e and @Tlazypanda can help with the last couple. 🎉

[2021-07-20 17:50] daemon1024 commented on #532
Hey @jywarren, thanks for the detailed explanation. I have understood it and I will try to make the required modification.

Checking for more than zero rather than an exact number makes sense.

Thanks again 🙌 I will get to working on it.

[2021-07-21 14:33] daemon1024 commented on #532
Regarding the OWM failures,

![Screenshot from 2021-07-21 19-59-42](https://user-images.githubusercontent.com/47106543/126506153-e65ef8ec-ef42-4b33-a2be-14b6b1bd60ac.png)

Just realised that,

[code]
is being converted to

[code]

So hence `LEL` is not defined. We will need to modify our test.

I am not really sure why wasn't this the case earlier 🤔

[2021-07-21 15:02] daemon1024 commented on #532
Noting PurpleAirMaker tests passing now! Ref #533 cc @jywarren. Thank you for the pointers on the potential fixes.

[2021-07-21 15:10] daemon1024 commented on #532
About the other OWM test,
it seems to be looking for `city` but I see
![image](https://user-images.githubusercontent.com/47106543/126512672-8cb652b8-26b3-451b-8cca-e1de17d5d911.png)
which seems to be due to error ig, referencing code
https://github.com/publiclab/leaflet-environmental-layers/blob/d956ceea01c9bceddd7bcce17a98ccefd38e4b66/example/layers.js#L144-L146

[2021-07-21 15:11] daemon1024 commented on #532
Also I can see
` Failed to fetch data! `
in the console. Which is related to tiles only so suspecting if the city thing we are checking is broken.

[2021-07-21 16:57] jywarren commented on #532
Is this in the test itself, we are overwriting LEL? What line exactly?

For the Failed to fetch data, can you either audit the outgoing requests the tests are making to see if we can manually confirm there is data, or look at the coordinates the tests are looking for and try manually navigating to that bounding box on the OWM API or web interface to visually check that there is data? It could be a

[2021-07-21 17:28] daemon1024 commented on #532
https://github.com/publiclab/leaflet-environmental-layers/blob/42db74ca5104ead4569ee88f3c96a0941988a7b5/cypress/integration/owm.spec.js#L17

Here we are checking for the gif url inside LEL.

[2021-07-21 17:58] daemon1024 commented on #532
https://api.openweathermap.org/data/2.5/box/city?APPID=4c6704566155a7d0d5d2f107c5156d6e&cnt=300&format=json&units=metric&bbox=-172.79296875,7.885147283424331,136.58203125000003,65.5129625532949,10

this is the url we are making request to for cities.
And it's resulting in
`{"cod":"400","message":"Requested area is larger than allowed for your account type (25.00 square degrees)"}`

I think they in

[2021-07-21 18:00] daemon1024 commented on #532
https://openweathermap.org/current#rectangle

![image](https://user-images.githubusercontent.com/47106543/126537274-177d4929-2901-4c4b-8d1b-b47183514801.png)

Yes there's a limit now.

[2021-07-21 18:57] daemon1024 commented on #532
So I ran the tests with a different owm map and some modifications. It passes now. But yeah we need to look into the city map for sure.

[2021-07-21 20:34] daemon1024 commented on #532
Seems like the LEL problem I mentioned. I was in the wrong, I tested on a outdated branch 😅

[2021-07-21 20:36] daemon1024 commented on #532
Fixed the tests 😄. Looking forward to your review now. Ref https://github.com/publiclab/leaflet-environmental-layers/pull/533

[2021-07-23 15:11] #532 closed

[2021-08-15 12:45] daemon1024 opened #553 "Google Spreadsheet API v3 Deprecation"
For spreadsheet based layers and utility, we are dependent on APIv3 of Google. Which has now been deprecated as noted in https://cloud.google.com/blog/products/g-suite/migrate-your-apps-use-latest-sheets-api. It seems the deadline was August 2nd, and since we have already crossed it, our layers are broken rn, specifically `pfasLayer`

Here's the migration guide https://developers.google.com/sheets

[2021-08-15 16:45] daemon1024 commented on #553
https://developers.google.com/sheets/api/reference/rest/v4/spreadsheets.values/get has the browser code for making the API call.

[2021-08-15 22:09] daemon1024 commented on #553
Noting a few important changes:
- You need an API key irrespective of the visibility of the spreadsheet
- The spreadsheet needs to be viewable by anyone with link, instead of published

[2021-08-15 22:50] daemon1024 commented on #553
https://github.com/bpk68/g-sheets-api/issues/97#issuecomment-898696088 has highlighted and explained things in a great way 🙌🏽

[2021-08-18 14:33] jywarren commented on #553
Ah! There may be a way to get just CSV (via https://github.com/bpk68/g-sheets-api/issues/97):

We could parse that, it wouldn't be too hard!

We'd have to link people to this page to show how to Publish to Web: https://support.google.com/docs/answer/183965?hl=en&co=GENIE.Platform%3DDesktop and include a screenshot in the docs.

[2021-08-18 14:36] jywarren commented on #553
Maybe using this? https://csv.js.org/parse/

[2021-08-18 14:50] daemon1024 commented on #553
Ohh, I used the CSV to make a copy, but it didn't cross my mind that we can use it in the code too 😅 Looking into it, thank you.

[2021-08-20 00:25] daemon1024 commented on #553
https://github.com/fureweb-com/public-google-sheets-parser Found this npm package, seems like it's returning the data in a very nice way. Tried it out at https://api.fureweb.com/#/spreadsheets/spreadsheetId

[2021-08-22 16:12] daemon1024 opened #570 "[New Spreadsheet Layer]: testSpreadsheetLayer"
## New Spreadsheet Layer

Testing the workflow

## Layer Data

[code]

[2021-08-31 14:41] jywarren opened #575 "[New Spreadsheet Layer]: (test from gh-pages)"
## New Spreadsheet Layer

Please describe the purpose of this layer

## Layer Data

[code]

[2021-08-31 19:17] jywarren commented on #575
This looks great! https://github.com/publiclab/leaflet-environmental-layers/pull/576

we should add some more helpful friendly text to the bot but it's looking great.

[2021-09-05 20:10] jywarren opened #580 "Refactor Cypress tests to not depend on static layer/group counts"
Adding a layer meant changes throughout these files to fix the overall counts. Let's make them tied to the info.json keys file instead, so they dynamically update, and that's our "source of truth":

* 66c22a02a22ea05950f4f2ffd58e5303347df3d8
* 180b7509d09cb7762a2be3b35434bdbd6c2e35da
* 9ccfbe0d02d6351e320a688d0b0207d6e63e41f4

[2021-09-05 20:11] jywarren commented on #580
Example in https://github.com/publiclab/leaflet-environmental-layers/pull/555 changed things...

Source of truth listing of layers: https://github.com/publiclab/leaflet-environmental-layers/blob/main/src/info.json

[2021-09-06 04:28] Hina-softwareEngineer commented on #355
@crisner Is this issue resolved? Can I work on it? I am new to open source and want to contribute to javascript projects.

[2021-09-22 12:16] PrimalPimmy commented on #580
Hey, I've been looking into this issue and would like to work on this!

[2021-09-22 18:13] daemon1024 commented on #580
@PrimalPimmy 👋🏽 Thank You for looking into this. I have assigned this to you, feel free to reach out here if you have some queries.

[2021-11-16 19:52] jywarren opened #601 "L.Control.GPlaceAutocomplete error in MapKnitter"
Seeing this error in MapKnitter recently, breaking the front page tour:

[code]

On this line:

[code]

complaining about `new L.Control.GPlaceAutocomplete({`

Could it be https://github.com/publiclab/leaflet-environmental-layers/pull/563 which updated [leaflet-google-places-autocomplete](https://github.com/Twista/leaflet-google-places-autocomplete) from 0.0.8 to 0.0.9 ?

We recently bumped LEL fr

[2021-11-16 19:55] jywarren commented on #601
Working on it in #1570!

[2021-11-16 20:19] #601 closed

[2022-04-04 21:00] ebarry opened #639 "add Los Angeles Oil & Gas wells"
https://maps.conservation.ca.gov/doggr/index.html

[2022-06-07 03:56] jywarren opened #665 "Refinements to AllLayers.js logic for more standardized layer description and loading"
AllLayers.js deals with different layers in customized ways. I think we could restructure to detect some layers which are groups containing multiple other layers, or most other layouts, automatically.

There is also custom logic lower in the file for handling `groupedOverlayMaps` like `openInfrastructureMap` -- I think we could solve this in `info.json` with a standardized way of storing/describin

[2022-06-07 05:55] jywarren opened #668 "Tracking general cypress test failures"
Some recent PRs that should be unrelated to tests like http-server are failing cypress tests: https://github.com/publiclab/leaflet-environmental-layers/runs/6688364021?check_suite_focus=true

[code]

no test runs on recent PRs have succeeded; some have limited layer-specific failures like #667 while others like the http-server one above are failing ALL cypress tests...

[2022-06-07 06:27] jywarren commented on #668
Confirmed purpleAirMarker layer shows a 302 error on the demo, message at https://purpleair-over-quota-2.appspot.com/

[code]

Should look at the PurpleAir API again to see what's up.

The AQICN layer looks fine though - markers appear normally.

The FracTracker Mobile layer is a spreadsheet layer: https://spreadsheets.google.com/feeds/list/19j4AQmjWuELuzn1GIn0TFRcK42HjdHF_fsIa8jtM1yw/o4rmdye/publ

[2022-06-07 06:29] jywarren commented on #580
See also connection to #665

[2022-06-07 06:48] jywarren commented on #668
For PurpleAir, the API is v1.8 now, not sure what it had been at the time the Cypress test was written, but the URL for markers is now:

https://map.purpleair.com/v1/sensors?token=8f2O5WHWva0Imrp7rEB2AmfHd41SMiFuCYStIXV52vk%2BBKHCpds8v0dGdXDyXNuwztL6jzbw6GDwX6vqk8DDtxIUSj8%2BsFjwGBLzK8T1q1p0pI%2BTTDw11mD3qFdzgIw2&fields=is_owner,name,location_type,latitude,longitude,altitude,last_seen,channel_stat

[2022-06-07 06:54] jywarren commented on #668
PurpleAir changed their API, support here: https://community.purpleair.com/c/purpleair-data/7

We had expected this: https://github.com/publiclab/leaflet-environmental-layers/blob/main/cypress/fixtures/purpleMarker.json

But the new format is: https://map.purpleair.com/v1/sensors?token=8f2O5WHWva0Imrp7rEB2AmfHd41SMiFuCYStIXV52vk%2BBKHCpds8v0dGdXDyXNuwztL6jzbw6GDwX6vqk8DDtxIUSj8%2BsFjwGBLzK8T1q1p0p

[2022-06-07 07:12] jywarren commented on #668
On the AQICN front, it's supposed to be checking data from this fixtures file, which we intercept via a spy: https://github.com/publiclab/leaflet-environmental-layers/blob/main/cypress/fixtures/aqicn.json

For whatever reason, the test is no longer properly finding the fixture data...?

https://github.com/publiclab/leaflet-environmental-layers/blob/main/cypress/integration/aqicn.spec.js

[2022-06-07 07:14] jywarren opened #669 "PurpleAir changed their API; adapt to new calls"
They dropped the /data.json style calls a little before?: https://community.purpleair.com/t/discontinuation-of-the-json-and-data-json-urls/713/2

We had expected this format: https://github.com/publiclab/leaflet-environmental-layers/blob/main/cypress/fixtures/purpleMarker.json

But the new format is: https://map.purpleair.com/v1/sensors?token=8f2O5WHWva0Imrp7rEB2AmfHd41SMiFuCYStIXV52vk%2BBKHCpds8v

[2022-06-07 08:23] jywarren commented on #668
Cypress has deprecated `cy.server()` and `cy.route()` in v6, but we're on v4... https://docs.cypress.io/api/commands/intercept https://docs.cypress.io/api/commands/server

[2022-06-28 05:59] KLA1313 commented on #135
💩

[2022-07-03 08:39] jywarren opened #681 "Weather layer from Norwegian weather service free global api?"
https://developer.yr.no/

[2022-07-06 23:24] jywarren opened #682 "indigenous layers not showing, error"
https://publiclab.org/map#9/41.74439221983901/-71.67343139648439

[code]

[2022-07-12 16:06] jywarren commented on #682
This error seems to happen a lot; could be related to incompatible plugins?

https://github.com/Leaflet/Leaflet/search?q=%22listener+not+found%22&type=issues

Could be re: setting `maxBounds` on constructor: https://github.com/Leaflet/Leaflet/issues/8216

Or imageOverlay: https://github.com/Leaflet/Leaflet/issues/8166

Both seem to be fixed in Leaflet's main branch as of April 20, and might have b

[2022-07-26 14:49] jywarren commented on #682
Appreciating 1.9 release coordination going on here! https://github.com/Leaflet/Leaflet/issues/8353

[2022-10-09 22:50] jywarren commented on #682
Leaflet 1.9.2 in https://github.com/publiclab/plots2/pull/11456 !

* https://github.com/Leaflet/Leaflet/pull/8453
* https://github.com/Leaflet/Leaflet/releases/tag/v1.9.0

[2022-10-09 23:27] jywarren commented on #682
On Jenkins build, I found Leaflet was still using 1.8.0 - `L.version` - rebuilding again... but it should resolve sooner or later.

https://stable.publiclab.org/map

[2022-10-13 23:41] Dalu46 commented on #681
Hi, @jywarren I'm an Outreachy applicant. This seems interesting and I'll like to get more clarity on this issue.
Looking forward to your response!

[2022-10-15 13:32] julianavmgiusti commented on #553
@jywarren and @TildaDares I'm looking foward to work on my contributions. Just looking for a second issue to solve. I found this one and wondering can I claim this issue?

[2022-10-17 19:17] Dalu46 commented on #681
Hi, @PeculiarE, it seems @jywarren isn't available. Can you help me with clarity on this issue (if you have an idea on it)?

[2022-10-19 12:56] jywarren commented on #553
Hi @julianavmgiusti I appreciate it -- it's probably a pretty complex issue, but if you'd like to try using https://github.com/fureweb-com/public-google-sheets-parser, we would love your help! Thank you!

[2022-10-19 12:58] jywarren commented on #681
Hello, I'm sorry for the slow response. I think this might be quite a challenging first issue; it would involve creating a new layer, thinking through the design of how it would be displayed, and possibly navigating some difficult issues with tests as well. We appreciate the help but want to warn you that it could be a tough one! Thanks!

[2022-10-19 19:27] julianavmgiusti commented on #553
Hi @jywarren ok I'm outreachy applicant, so the project that is on the program is Improve MapKnitter Lite for mapmaking with aerial photos as a lightweight web service and I just found one, I metioned you on comment, can you help me to contribute to this project?